In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('dataset-1.csv')

In [6]:
df.head(100)

,Subject Area,First year marker,Level of study,Mode of study,Country of HE provider,Sex,Academic Year,Number
0,(1) Medicine & dentistry,All,All,Full-time,England,Female,2014/15,24835
1,(1) Medicine & dentistry,All,All,Full-time,England,Male,2014/15,19275
2,(1) Medicine & dentistry,All,All,Full-time,England,Other,2014/15,0
3,(1) Medicine & dentistry,All,All,Full-time,England,Total,2014/15,44110
4,(1) Medicine & dentistry,All,All,Full-time,England,Female,2015/16,25095
...,...,...,...,...,...,...,...,...
95,(1) Medicine & dentistry,First year,All,Full-time,England,Total,2017/18,12475
96,(1) Medicine & dentistry,First year,All,Full-time,England,Female,2018/19,8475
97,(1) Medicine & dentistry,First year,All,Full-time,England,Male,2018/19,5180
98,(1) Medicine & dentistry,First year,All,Full-time,England,Other,2018/19,20
99,(1) Medicine & dentistry,First year,All,Full-time,England,Total,2018/19,13675

# Trial : Calculate proportion of students in each sex, in 2014/15, and in UK

In [86]:
dfAllCountries14 = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'All') &
   (df['Academic Year'] == '2014/15') &
    (~df['Subject Area'].str.startswith('Total'))]

In [87]:
pivotDfAllCountries14 = dfAllCountries14.pivot_table('Number', ['Subject Area', 'Level of study'], 'Sex').reset_index()

In [88]:
pivotDfAllCountries14['Female (%)'] = (pivotDfAllCountries14['Female'] / pivotDfAllCountries14['Total']) * 100
pivotDfAllCountries14['Male (%)'] = (pivotDfAllCountries14['Male'] / pivotDfAllCountries14['Total']) * 100
pivotDfAllCountries14['Other (%)'] = (pivotDfAllCountries14['Other'] / pivotDfAllCountries14['Total']) * 100

In [90]:
pivotDfAllCountries14[pivotDfAllCountries14['Level of study']=='All postgraduate'].sort_values(by='Female (%)')

Sex,Subject Area,Level of study,Female,Male,Other,Total,Female (%),Male (%),Other (%)
57,(9) Engineering & technology,All postgraduate,9335,30415,5,39760,23.478370,76.496479,0.012575
50,(8) Computer science,All postgraduate,4270,12465,5,16740,25.507766,74.462366,0.029869
43,(7) Mathematical sciences,All postgraduate,2165,4105,0,6270,34.529506,65.470494,0.000000
36,(6) Physical sciences,All postgraduate,7920,11945,5,19870,39.859084,60.115752,0.025164
64,"(A) Architecture, building & planning",All postgraduate,6190,8755,0,14945,41.418535,58.581465,0.000000
106,(G) Historical & philosophical studies,All postgraduate,8030,8305,10,16345,49.128174,50.810645,0.061181
85,(D) Business & administrative studies,All postgraduate,51795,51410,10,103210,50.184091,49.811065,0.009689
78,(C) Law,All postgraduate,10610,8825,10,19445,54.564155,45.384418,0.051427
1,(1) Medicine & dentistry,All postgraduate,11780,8610,5,20395,57.759255,42.216229,0.024516
29,(5) Agriculture & related subjects,All postgraduate,2450,1625,0,4075,60.122699,39.877301,0.000000
71,(B) Social studies,All postgraduate,30540,17845,15,48400,63.099174,36.869835,0.030992
113,(H) Creative arts & design,All postgraduate,13705,7885,15,21605,63.434390,36.496181,0.069428
15,(3) Biological sciences,All postgraduate,22380,12215,5,34600,64.682081,35.303468,0.014451
127,(J) Combined,All postgraduate,1255,665,0,1920,65.364583,34.635417,0.000000
22,(4) Veterinary science,All postgraduate,540,275,0,815,66.257669,33.742331,0.000000
99,(F) Languages,All postgraduate,10390,4980,5,15370,67.599219,32.400781,0.032531
92,(E) Mass communications & documentation,All postgraduate,7050,3320,5,10375,67.951807,32.000000,0.048193
120,(I) Education,All postgraduate,56100,25305,20,81425,68.897759,31.077679,0.024562
8,(2) Subjects allied to medicine,All postgraduate,46480,16125,5,62610,74.237342,25.754672,0.007986

# Calculate proportion of students in each sex, in 2018/19, and in UK

In [74]:
dfAllCountries18 = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'All') &
   (df['Academic Year'] == '2018/19') &
    (~df['Subject Area'].str.startswith('Total'))]

In [75]:
pivotDfAllCountries18 = dfAllCountries18.pivot_table('Number', ['Subject Area', 'Level of study'], 'Sex').reset_index()

In [76]:
pivotDfAllCountries18

Sex,Subject Area,Level of study,Female,Male,Other,Total
0,(1) Medicine & dentistry,All,40175,27485,100,67755
1,(1) Medicine & dentistry,All postgraduate,12330,7715,75,20120
2,(1) Medicine & dentistry,All undergraduate,27845,19765,25,47640
3,(1) Medicine & dentistry,First degree,27595,19720,25,47335
4,(1) Medicine & dentistry,Other undergraduate,255,50,0,300
...,...,...,...,...,...,...
128,(J) Combined,All undergraduate,18880,11565,15,30460
129,(J) Combined,First degree,9300,5470,0,14770
130,(J) Combined,Other undergraduate,9580,6095,15,15685
131,(J) Combined,Postgraduate (research),10,10,0,15
132,(J) Combined,Postgraduate (taught),865,425,0,1290

In [77]:
pivotDfAllCountries18[pivotDfAllCountries18['Level of study']=='All postgraduate']

Sex,Subject Area,Level of study,Female,Male,Other,Total
1,(1) Medicine & dentistry,All postgraduate,12330,7715,75,20120
8,(2) Subjects allied to medicine,All postgraduate,57145,19785,115,77040
15,(3) Biological sciences,All postgraduate,31775,14915,115,46805
22,(4) Veterinary science,All postgraduate,1685,720,0,2410
29,(5) Agriculture & related subjects,All postgraduate,2275,1325,5,3605
36,(6) Physical sciences,All postgraduate,9170,12330,40,21540
43,(7) Mathematical sciences,All postgraduate,2655,4705,20,7375
50,(8) Computer science,All postgraduate,6235,15585,35,21855
57,(9) Engineering & technology,All postgraduate,9870,28305,25,38200
64,"(A) Architecture, building & planning",All postgraduate,7750,9530,5,17285
71,(B) Social studies,All postgraduate,34605,18525,140,53270
78,(C) Law,All postgraduate,12165,8390,35,20590
85,(D) Business & administrative studies,All postgraduate,56870,51870,60,108800
92,(E) Mass communications & documentation,All postgraduate,8670,3830,20,12520
99,(F) Languages,All postgraduate,11160,4885,65,16110
106,(G) Historical & philosophical studies,All postgraduate,8780,8105,65,16950
113,(H) Creative arts & design,All postgraduate,18420,9495,120,28035
120,(I) Education,All postgraduate,50470,21355,80,71905
127,(J) Combined,All postgraduate,870,435,0,1305

In [78]:
pivotDfAllCountries18['Female (%)'] = (pivotDfAllCountries18['Female'] / pivotDfAllCountries18['Total']) * 100
pivotDfAllCountries18['Male (%)'] = (pivotDfAllCountries18['Male'] / pivotDfAllCountries18['Total']) * 100
pivotDfAllCountries18['Other (%)'] = (pivotDfAllCountries18['Other'] / pivotDfAllCountries18['Total']) * 100

In [79]:
pivotDfAllCountries

Sex,Subject Area,Level of study,Female,Male,Other,Total,Female (%),Male (%),Other (%)
0,(1) Medicine & dentistry,All,40175,27485,100,67755,59.294517,40.565272,0.147591
1,(1) Medicine & dentistry,All postgraduate,12330,7715,75,20120,61.282306,38.344930,0.372763
2,(1) Medicine & dentistry,All undergraduate,27845,19765,25,47640,58.448783,41.488245,0.052477
3,(1) Medicine & dentistry,First degree,27595,19720,25,47335,58.297243,41.660505,0.052815
4,(1) Medicine & dentistry,Other undergraduate,255,50,0,300,85.000000,16.666667,0.000000
...,...,...,...,...,...,...,...,...,...
128,(J) Combined,All undergraduate,18880,11565,15,30460,61.982928,37.967827,0.049245
129,(J) Combined,First degree,9300,5470,0,14770,62.965471,37.034529,0.000000
130,(J) Combined,Other undergraduate,9580,6095,15,15685,61.077463,38.858782,0.095633
131,(J) Combined,Postgraduate (research),10,10,0,15,66.666667,66.666667,0.000000
132,(J) Combined,Postgraduate (taught),865,425,0,1290,67.054264,32.945736,0.000000

In [80]:
pivotDfAllCountries18[pivotDfAllCountries18['Level of study']=='All postgraduate']

Sex,Subject Area,Level of study,Female,Male,Other,Total,Female (%),Male (%),Other (%)
1,(1) Medicine & dentistry,All postgraduate,12330,7715,75,20120,61.282306,38.344930,0.372763
8,(2) Subjects allied to medicine,All postgraduate,57145,19785,115,77040,74.175753,25.681464,0.149273
15,(3) Biological sciences,All postgraduate,31775,14915,115,46805,67.888046,31.866254,0.245700
22,(4) Veterinary science,All postgraduate,1685,720,0,2410,69.917012,29.875519,0.000000
29,(5) Agriculture & related subjects,All postgraduate,2275,1325,5,3605,63.106796,36.754508,0.138696
36,(6) Physical sciences,All postgraduate,9170,12330,40,21540,42.571959,57.242340,0.185701
43,(7) Mathematical sciences,All postgraduate,2655,4705,20,7375,36.000000,63.796610,0.271186
50,(8) Computer science,All postgraduate,6235,15585,35,21855,28.528941,71.310913,0.160146
57,(9) Engineering & technology,All postgraduate,9870,28305,25,38200,25.837696,74.096859,0.065445
64,"(A) Architecture, building & planning",All postgraduate,7750,9530,5,17285,44.836563,55.134510,0.028927
71,(B) Social studies,All postgraduate,34605,18525,140,53270,64.961517,34.775671,0.262812
78,(C) Law,All postgraduate,12165,8390,35,20590,59.082079,40.747936,0.169985
85,(D) Business & administrative studies,All postgraduate,56870,51870,60,108800,52.270221,47.674632,0.055147
92,(E) Mass communications & documentation,All postgraduate,8670,3830,20,12520,69.249201,30.591054,0.159744
99,(F) Languages,All postgraduate,11160,4885,65,16110,69.273743,30.322781,0.403476
106,(G) Historical & philosophical studies,All postgraduate,8780,8105,65,16950,51.799410,47.817109,0.383481
113,(H) Creative arts & design,All postgraduate,18420,9495,120,28035,65.703585,33.868379,0.428036
120,(I) Education,All postgraduate,50470,21355,80,71905,70.189834,29.698908,0.111258
127,(J) Combined,All postgraduate,870,435,0,1305,66.666667,33.333333,0.000000

In [81]:
pivotDfAllCountries18[pivotDfAllCountries18['Level of study']=='All postgraduate'].sort_values(by='Female (%)')

Sex,Subject Area,Level of study,Female,Male,Other,Total,Female (%),Male (%),Other (%)
57,(9) Engineering & technology,All postgraduate,9870,28305,25,38200,25.837696,74.096859,0.065445
50,(8) Computer science,All postgraduate,6235,15585,35,21855,28.528941,71.310913,0.160146
43,(7) Mathematical sciences,All postgraduate,2655,4705,20,7375,36.000000,63.796610,0.271186
36,(6) Physical sciences,All postgraduate,9170,12330,40,21540,42.571959,57.242340,0.185701
64,"(A) Architecture, building & planning",All postgraduate,7750,9530,5,17285,44.836563,55.134510,0.028927
106,(G) Historical & philosophical studies,All postgraduate,8780,8105,65,16950,51.799410,47.817109,0.383481
85,(D) Business & administrative studies,All postgraduate,56870,51870,60,108800,52.270221,47.674632,0.055147
78,(C) Law,All postgraduate,12165,8390,35,20590,59.082079,40.747936,0.169985
1,(1) Medicine & dentistry,All postgraduate,12330,7715,75,20120,61.282306,38.344930,0.372763
29,(5) Agriculture & related subjects,All postgraduate,2275,1325,5,3605,63.106796,36.754508,0.138696
71,(B) Social studies,All postgraduate,34605,18525,140,53270,64.961517,34.775671,0.262812
113,(H) Creative arts & design,All postgraduate,18420,9495,120,28035,65.703585,33.868379,0.428036
127,(J) Combined,All postgraduate,870,435,0,1305,66.666667,33.333333,0.000000
15,(3) Biological sciences,All postgraduate,31775,14915,115,46805,67.888046,31.866254,0.245700
92,(E) Mass communications & documentation,All postgraduate,8670,3830,20,12520,69.249201,30.591054,0.159744
99,(F) Languages,All postgraduate,11160,4885,65,16110,69.273743,30.322781,0.403476
22,(4) Veterinary science,All postgraduate,1685,720,0,2410,69.917012,29.875519,0.000000
120,(I) Education,All postgraduate,50470,21355,80,71905,70.189834,29.698908,0.111258
8,(2) Subjects allied to medicine,All postgraduate,57145,19785,115,77040,74.175753,25.681464,0.149273

In [82]:
pivotDfAllCountries18[pivotDfAllCountries18['Level of study']=='Postgraduate (research)'].sort_values(by='Female (%)')

Sex,Subject Area,Level of study,Female,Male,Other,Total,Female (%),Male (%),Other (%)
61,(9) Engineering & technology,Postgraduate (research),3660,10660,10,14335,25.531915,74.363446,0.069759
54,(8) Computer science,Postgraduate (research),1360,3650,10,5025,27.064677,72.636816,0.199005
47,(7) Mathematical sciences,Postgraduate (research),910,2205,10,3120,29.166667,70.673077,0.320513
40,(6) Physical sciences,Postgraduate (research),5120,8385,25,13535,37.827854,61.950499,0.184706
68,"(A) Architecture, building & planning",Postgraduate (research),830,1070,0,1900,43.684211,56.315789,0.000000
89,(D) Business & administrative studies,Postgraduate (research),3105,3695,5,6805,45.628215,54.298310,0.073475
110,(G) Historical & philosophical studies,Postgraduate (research),3235,3740,20,6995,46.247320,53.466762,0.285919
82,(C) Law,Postgraduate (research),1120,1060,5,2185,51.258581,48.512586,0.228833
75,(B) Social studies,Postgraduate (research),4520,3880,25,8425,53.649852,46.053412,0.296736
33,(5) Agriculture & related subjects,Postgraduate (research),475,355,0,830,57.228916,42.771084,0.000000
117,(H) Creative arts & design,Postgraduate (research),2265,1660,20,3945,57.414449,42.078580,0.506971
96,(E) Mass communications & documentation,Postgraduate (research),715,520,5,1240,57.661290,41.935484,0.403226
5,(1) Medicine & dentistry,Postgraduate (research),5110,3460,45,8615,59.315148,40.162507,0.522345
19,(3) Biological sciences,Postgraduate (research),9680,5995,40,15715,61.597200,38.148266,0.254534
12,(2) Subjects allied to medicine,Postgraduate (research),5130,3175,15,8315,61.695731,38.184005,0.180397
103,(F) Languages,Postgraduate (research),3450,1900,20,5375,64.186047,35.348837,0.372093
26,(4) Veterinary science,Postgraduate (research),245,125,0,370,66.216216,33.783784,0.000000
131,(J) Combined,Postgraduate (research),10,10,0,15,66.666667,66.666667,0.000000
124,(I) Education,Postgraduate (research),4070,1985,5,6060,67.161716,32.755776,0.082508

In [83]:
pivotDfAllCountries18[pivotDfAllCountries18['Level of study']=='All undergraduate'].sort_values(by='Female (%)')

Sex,Subject Area,Level of study,Female,Male,Other,Total,Female (%),Male (%),Other (%)
51,(8) Computer science,All undergraduate,14845,77945,85,92875,15.983849,83.924630,0.091521
58,(9) Engineering & technology,All undergraduate,21710,105205,60,126975,17.097854,82.854893,0.047253
65,"(A) Architecture, building & planning",All undergraduate,13575,24465,15,38060,35.667367,64.280084,0.039411
44,(7) Mathematical sciences,All undergraduate,14410,24100,25,38535,37.394576,62.540548,0.064876
37,(6) Physical sciences,All undergraduate,31860,41395,50,73305,43.462247,56.469545,0.068208
86,(D) Business & administrative studies,All undergraduate,119840,129795,45,249680,47.997437,51.984540,0.018023
107,(G) Historical & philosophical studies,All undergraduate,36150,28680,180,65010,55.606830,44.116290,0.276880
93,(E) Mass communications & documentation,All undergraduate,21720,17030,40,38790,55.993813,43.903068,0.103119
2,(1) Medicine & dentistry,All undergraduate,27845,19765,25,47640,58.448783,41.488245,0.052477
128,(J) Combined,All undergraduate,18880,11565,15,30460,61.982928,37.967827,0.049245
72,(B) Social studies,All undergraduate,116545,67555,110,184210,63.267466,36.672819,0.059714
16,(3) Biological sciences,All undergraduate,125090,69650,210,194950,64.165171,35.727110,0.107720
114,(H) Creative arts & design,All undergraduate,99440,54035,315,153790,64.659601,35.135574,0.204825
79,(C) Law,All undergraduate,49145,25495,30,74670,65.816258,34.143565,0.040177
30,(5) Agriculture & related subjects,All undergraduate,10620,5085,10,15720,67.557252,32.347328,0.063613
100,(F) Languages,All undergraduate,59620,23445,190,83260,71.607014,28.158780,0.228201
23,(4) Veterinary science,All undergraduate,4835,1155,0,5990,80.717863,19.282137,0.000000
9,(2) Subjects allied to medicine,All undergraduate,172750,40540,115,213405,80.949369,18.996743,0.053888
121,(I) Education,All undergraduate,60580,10315,25,70920,85.420192,14.544557,0.035251

In [84]:
pivotDfAllCountries18[pivotDfAllCountries18['Level of study']=='Other undergraduate'].sort_values(by='Female (%)')

Sex,Subject Area,Level of study,Female,Male,Other,Total,Female (%),Male (%),Other (%)
60,(9) Engineering & technology,Other undergraduate,1020,8090,15,9125,11.178082,88.657534,0.164384
53,(8) Computer science,Other undergraduate,650,2770,5,3430,18.950437,80.758017,0.145773
67,"(A) Architecture, building & planning",Other undergraduate,975,2130,5,3110,31.350482,68.488746,0.160772
46,(7) Mathematical sciences,Other undergraduate,180,255,0,435,41.379310,58.620690,0.000000
95,(E) Mass communications & documentation,Other undergraduate,205,280,0,485,42.268041,57.731959,0.000000
39,(6) Physical sciences,Other undergraduate,865,910,5,1785,48.459384,50.980392,0.280112
88,(D) Business & administrative studies,Other undergraduate,6160,6140,10,12310,50.040617,49.878148,0.081235
109,(G) Historical & philosophical studies,Other undergraduate,1270,900,120,2290,55.458515,39.301310,5.240175
18,(3) Biological sciences,Other undergraduate,3850,2860,115,6830,56.368960,41.874085,1.683748
102,(F) Languages,Other undergraduate,5200,3755,115,9065,57.363486,41.423056,1.268616
32,(5) Agriculture & related subjects,Other undergraduate,3095,2250,5,5345,57.904584,42.095416,0.093545
130,(J) Combined,Other undergraduate,9580,6095,15,15685,61.077463,38.858782,0.095633
81,(C) Law,Other undergraduate,970,600,5,1575,61.587302,38.095238,0.317460
116,(H) Creative arts & design,Other undergraduate,3345,1845,10,5200,64.326923,35.480769,0.192308
123,(I) Education,Other undergraduate,12635,3750,10,16395,77.066179,22.872827,0.060994
74,(B) Social studies,Other undergraduate,8685,2455,25,11165,77.787730,21.988356,0.223914
11,(2) Subjects allied to medicine,Other undergraduate,33935,7020,65,41025,82.717855,17.111517,0.158440
4,(1) Medicine & dentistry,Other undergraduate,255,50,0,300,85.000000,16.666667,0.000000
25,(4) Veterinary science,Other undergraduate,0,0,0,0,NaN,NaN,NaN

# UK : Finding average change in proportion of students in each sex over 5-year period, categorised by subject area and level of study 
(*not change in exact number of students!)

## Started by calculate proportion of students in each sex over 5-year period in UK

In [91]:
dfAllCountries = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'All') &
    (~df['Subject Area'].str.startswith('Total'))]

In [108]:
dfAllCountries

,Subject Area,First year marker,Level of study,Mode of study,Country of HE provider,Sex,Academic Year,Number
720,(1) Medicine & dentistry,All,All,All,All,Female,2014/15,37335
721,(1) Medicine & dentistry,All,All,All,All,Male,2014/15,28660
722,(1) Medicine & dentistry,All,All,All,All,Other,2014/15,5
723,(1) Medicine & dentistry,All,All,All,All,Total,2014/15,66000
724,(1) Medicine & dentistry,All,All,All,All,Female,2015/16,37415
...,...,...,...,...,...,...,...,...
121615,(J) Combined,All,All undergraduate,All,All,Total,2017/18,33765
121616,(J) Combined,All,All undergraduate,All,All,Female,2018/19,18880
121617,(J) Combined,All,All undergraduate,All,All,Male,2018/19,11565
121618,(J) Combined,All,All undergraduate,All,All,Other,2018/19,15
121619,(J) Combined,All,All undergraduate,All,All,Total,2018/19,30460

In [133]:
pivotDfAllCountries = dfAllCountries.pivot_table('Number', ['Subject Area', 'Level of study', 'Academic Year'], 'Sex').reset_index()

In [134]:
pivotDfAllCountries

Sex,Subject Area,Level of study,Academic Year,Female,Male,Other,Total
0,(1) Medicine & dentistry,All,2014/15,37335,28660,5,66000
1,(1) Medicine & dentistry,All,2015/16,37415,28120,10,65545
2,(1) Medicine & dentistry,All,2016/17,37430,27645,35,65110
3,(1) Medicine & dentistry,All,2017/18,38340,27475,65,65875
4,(1) Medicine & dentistry,All,2018/19,40175,27485,100,67755
...,...,...,...,...,...,...,...
660,(J) Combined,Postgraduate (taught),2014/15,1250,655,0,1910
661,(J) Combined,Postgraduate (taught),2015/16,1100,675,0,1775
662,(J) Combined,Postgraduate (taught),2016/17,915,510,0,1425
663,(J) Combined,Postgraduate (taught),2017/18,875,450,0,1325
664,(J) Combined,Postgraduate (taught),2018/19,865,425,0,1290

In [283]:
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 500)

In [136]:
pivotDfAllCountriesAllYear = pivotDfAllCountries.pivot_table(['Female','Male','Other',
                                'Total'], ['Subject Area', 'Level of study'], 'Academic Year').reset_index()

In [137]:
pivotDfAllCountries['Female (%)'] = (pivotDfAllCountries['Female'] / pivotDfAllCountries['Total']) * 100
pivotDfAllCountries['Male (%)'] = (pivotDfAllCountries['Male'] / pivotDfAllCountries['Total']) * 100
pivotDfAllCountries['Other (%)'] = (pivotDfAllCountries['Other'] / pivotDfAllCountries['Total']) * 100

In [138]:
pivotDfAllCountries[pivotDfAllCountries['Level of study']=='All postgraduate']

Sex,Subject Area,Level of study,Academic Year,Female,Male,Other,Total,Female (%),Male (%),Other (%)
5,(1) Medicine & dentistry,All postgraduate,2014/15,11780,8610,5,20395,57.759255,42.216229,0.024516
6,(1) Medicine & dentistry,All postgraduate,2015/16,11905,8400,5,20310,58.616445,41.358936,0.024618
7,(1) Medicine & dentistry,All postgraduate,2016/17,11725,8025,25,19770,59.307031,40.591806,0.126454
8,(1) Medicine & dentistry,All postgraduate,2017/18,11915,7955,45,19915,59.829274,39.944765,0.225960
9,(1) Medicine & dentistry,All postgraduate,2018/19,12330,7715,75,20120,61.282306,38.344930,0.372763
40,(2) Subjects allied to medicine,All postgraduate,2014/15,46480,16125,5,62610,74.237342,25.754672,0.007986
41,(2) Subjects allied to medicine,All postgraduate,2015/16,50435,17260,10,67705,74.492283,25.492947,0.014770
42,(2) Subjects allied to medicine,All postgraduate,2016/17,54525,18555,60,73145,74.543715,25.367421,0.082029
43,(2) Subjects allied to medicine,All postgraduate,2017/18,54845,18870,80,73795,74.320753,25.570838,0.108408
44,(2) Subjects allied to medicine,All postgraduate,2018/19,57145,19785,115,77040,74.175753,25.681464,0.149273
75,(3) Biological sciences,All postgraduate,2014/15,22380,12215,5,34600,64.682081,35.303468,0.014451
76,(3) Biological sciences,All postgraduate,2015/16,23050,12590,10,35645,64.665451,35.320522,0.028054
77,(3) Biological sciences,All postgraduate,2016/17,27240,13890,30,41160,66.180758,33.746356,0.072886
78,(3) Biological sciences,All postgraduate,2017/18,30130,14535,75,44740,67.344658,32.487707,0.167635
79,(3) Biological sciences,All postgraduate,2018/19,31775,14915,115,46805,67.888046,31.866254,0.245700
110,(4) Veterinary science,All postgraduate,2014/15,540,275,0,815,66.257669,33.742331,0.000000
111,(4) Veterinary science,All postgraduate,2015/16,1070,450,0,1520,70.394737,29.605263,0.000000
112,(4) Veterinary science,All postgraduate,2016/17,1170,510,0,1680,69.642857,30.357143,0.000000
113,(4) Veterinary science,All postgraduate,2017/18,1515,630,0,2145,70.629371,29.370629,0.000000
114,(4) Veterinary science,All postgraduate,2018/19,1685,720,0,2410,69.917012,29.875519,0.000000
145,(5) Agriculture & related subjects,All postgraduate,2014/15,2450,1625,0,4075,60.122699,39.877301,0.000000
146,(5) Agriculture & related subjects,All postgraduate,2015/16,2000,1430,0,3430,58.309038,41.690962,0.000000
147,(5) Agriculture & related subjects,All postgraduate,2016/17,2095,1470,0,3565,58.765778,41.234222,0.000000
148,(5) Agriculture & related subjects,All postgraduate,2017/18,2200,1440,5,3650,60.273973,39.452055,0.136986
149,(5) Agriculture & related subjects,All postgraduate,2018/19,2275,1325,5,3605,63.106796,36.754508,0.138696
180,(6) Physical sciences,All postgraduate,2014/15,7920,11945,5,19870,39.859084,60.115752,0.025164
181,(6) Physical sciences,All postgraduate,2015/16,7885,11670,10,19565,40.301559,59.647329,0.051112
182,(6) Physical sciences,All postgraduate,2016/17,8185,11915,15,20120,40.680915,59.219682,0.074553
183,(6) Physical sciences,All postgraduate,2017/18,8835,12050,30,20910,42.252511,57.627929,0.143472
184,(6) Physical sciences,All postgraduate,2018/19,9170,12330,40,21540,42.571959,57.242340,0.185701
215,(7) Mathematical sciences,All postgraduate,2014/15,2165,4105,0,6270,34.529506,65.470494,0.000000
216,(7) Mathematical sciences,All postgraduate,2015/16,2200,4175,5,6380,34.482759,65.438871,0.078370
217,(7) Mathematical sciences,All postgraduate,2016/17,2375,4355,15,6745,35.211268,64.566345,0.222387
218,(7) Mathematical sciences,All postgraduate,2017/18,2410,4530,15,6955,34.651330,65.132998,0.215672
219,(7) Mathematical sciences,All postgraduate,2018/19,2655,4705,20,7375,36.000000,63.796610,0.271186
250,(8) Computer science,All postgraduate,2014/15,4270,12465,5,16740,25.507766,74.462366,0.029869
251,(8) Computer science,All postgraduate,2015/16,4510,12185,5,16700,27.005988,72.964072,0.029940
252,(8) Computer science,All postgraduate,2016/17,4675,12815,10,17500,26.714286,73.228571,0.057143
253,(8) Computer science,All postgraduate,2017/18,5275,13925,25,19225,27.438231,72.431730,0.130039
254,(8) Computer science,All postgraduate,2018/19,6235,15585,35,21855,28.528941,71.310913,0.160146
285,(9) Engineering & technology,All postgraduate,2014/15,9335,30415,5,39760,23.478370,76.496479,0.012575
286,(9) Engineering & technology,All postgraduate,2015/16,9225,29520,10,38755,23.803380,76.170817,0.025803
287,(9) Engineering & technology,All postgraduate,2016/17,9335,28940,20,38295,24.376550,75.571223,0.052226
288,(9) Engineering & technology,All postgraduate,2017/18,9420,28200,10,37630,25.033218,74.940207,0.026575
289,(9) Engineering & technology,All postgraduate,2018/19,9870,28305,25,38200,25.837696,74.096859,0.065445
320,"(A) Architecture, building & planning",All postgraduate,2014/15,6190,8755,0,14945,41.418535,58.581465,0.000000
321,"(A) Architecture, building & planning",All postgraduate,2015/16,6520,8845,5,15370,42.420299,57.547170,0.032531
322,"(A) Architecture, building & planning",All postgraduate,2016/17,7165,9295,5,16465,43.516550,56.453082,0.030367
323,"(A) Architecture, building & planning",All postgraduate,2017/18,7510,9505,0,17015,44.137526,55.862474,0.000000
324,"(A) Architecture, building & planning",All postgraduate,2018/19,7750,9530,5,17285,44.836563,55.134510,0.028927
355,(B) Social studies,All postgraduate,2014/15,30540,17845,15,48400,63.099174,36.869835,0.030992
356,(B) Social studies,All postgraduate,2015/16,30940,17745,20,48705,63.525305,36.433631,0.041064
357,(B) Social studies,All postgraduate,2016/17,32555,18735,55,51345,63.404421,36.488460,0.107119
358,(B) Social studies,All postgraduate,2017/18,33570,18740,110,52420,64.040443,35.749714,0.209844
359,(B) Social studies,All postgraduate,2018/19,34605,18525,140,53270,64.961517,34.775671,0.262812
390,(C) Law,All postgraduate,2014/15,10610,8825,10,19445,54.564155,45.384418,0.051427
391,(C) Law,All postgraduate,2015/16,10850,8690,10,19545,55.512919,44.461499,0.051164
392,(C) Law,All postgraduate,2016/17,11295,8820,20,20135,56.096350,43.804321,0.099330
393,(C) Law,All postgraduate,2017/18,11760,8575,35,20375,57.717791,42.085890,0.171779
394,(C) Law,All postgraduate,2018/19,12165,8390,35,20590,59.082079,40.747936,0.169985
425,(D) Business & administrative studies,All postgraduate,2014/15,51795,51410,10,103210,50.184091,49.811065,0.009689
426,(D) Business & administrative studies,All postgraduate,2015/16,50150,47630,10,97790,51.283362,48.706412,0.010226
427,(D) Business & administrative studies,All postgraduate,2016/17,50635,47435,30,98095,51.618329,48.356185,0.030583
428,(D) Business & administrative studies,All postgraduate,2017/18,54140,48730,55,102930,52.598854,47.342854,0.053434
429,(D) Business & administrative studies,All postgraduate,2018/19,56870,51870,60,108800,52.270221,47.674632,0.055147
460,(E) Mass communications & documentation,All postgraduate,2014/15,7050,3320,5,10375,67.951807,32.000000,0.048193
461,(E) Mass communications & documentation,All postgraduate,2015/16,6800,3200,5,10005,67.966017,31.984008,0.049975
462,(E) Mass communications & documentation,All postgraduate,2016/17,7300,3510,15,10825,67.436490,32.424942,0.138568
463,(E) Mass communications & documentation,All postgraduate,2017/18,8105,3805,25,11935,67.909510,31.881022,0.209468
464,(E) Mass communications & documentation,All postgraduate,2018/19,8670,3830,20,12520,69.249201,30.591054,0.159744
495,(F) Languages,All postgraduate,2014/15,10390,4980,5,15370,67.599219,32.400781,0.032531
496,(F) Languages,All postgraduate,2015/16,9885,4690,5,14580,67.798354,32.167353,0.034294
497,(F) Languages,All postgraduate,2016/17,10890,5025,15,15935,68.340132,31.534358,0.094132
498,(F) Languages,All postgraduate,2017/18,11125,5010,50,16185,68.736484,30.954588,0.308928
499,(F) Languages,All postgraduate,2018/19,11160,4885,65,16110,69.273743,30.322781,0.403476
530,(G) Historical & philosophical studies,All postgraduate,2014/15,8030,8305,10,16345,49.128174,50.810645,0.061181
531,(G) Historical & philosophical studies,All postgraduate,2015/16,7895,8070,15,15985,49.390053,50.484830,0.093838
532,(G) Historical & philosophical studies,All postgraduate,2016/17,8630,8390,35,17055,50.600997,49.193785,0.205218
533,(G) Historical & philosophical studies,All postgraduate,2017/18,8940,8255,60,17250,51.826087,47.855072,0.347826
534,(G) Historical & philosophical studies,All postgraduate,2018/19,8780,8105,65,16950,51.799410,47.817109,0.383481
565,(H) Creative arts & design,All postgraduate,2014/15,13705,7885,15,21605,63.434390,36.496181,0.069428
566,(H) Creative arts & design,All postgraduate,2015/16,14100,7805,15,21920,64.324818,35.606752,0.068431
567,(H) Creative arts & design,All postgraduate,2016/17,15990,8900,35,24925,64.152457,35.707121,0.140421
568,(H) Creative arts & design,All postgraduate,2017/18,17175,9225,60,26460,64.909297,34.863946,0.226757
569,(H) Creative arts & design,All postgraduate,2018/19,18420,9495,120,28035,65.703585,33.868379,0.428036
600,(I) Education,All postgraduate,2014/15,56100,25305,20,81425,68.897759,31.077679,0.024562
601,(I) Education,All postgraduate,2015/16,52200,23315,20,75535,69.107036,30.866486,0.026478
602,(I) Education,All postgraduate,2016/17,50785,22575,35,73395,69.194087,30.758226,0.047687
603,(I) Education,All postgraduate,2017/18,50150,21465,50,71665,69.978372,29.951859,0.069769
604,(I) Education,All postgraduate,2018/19,50470,21355,80,71905,70.189834,29.698908,0.111258
635,(J) Combined,All postgraduate,2014/15,1255,665,0,1920,65.364583,34.635417,0.000000
636,(J) Combined,All postgraduate,2015/16,1115,680,0,1795,62.116992,37.883008,0.000000
637,(J) Combined,All postgraduate,2016/17,925,520,0,1440,64.236111,36.111111,0.000000
638,(J) Combined,All postgraduate,2017/18,895,460,0,1355,66.051661,33.948339,0.000000
639,(J) Combined,All postgraduate,2018/19,870,435,0,1305,66.666667,33.333333,0.000000

In [139]:
pivotDfAllCountriesAllYear

Sex                                       Subject Area  \
Academic Year
0                             (1) Medicine & dentistry
1                             (1) Medicine & dentistry
2                             (1) Medicine & dentistry
3                             (1) Medicine & dentistry
4                             (1) Medicine & dentistry
5                             (1) Medicine & dentistry
6                             (1) Medicine & dentistry
7                      (2) Subjects allied to medicine
8                      (2) Subjects allied to medicine
9                      (2) Subjects allied to medicine
10                     (2) Subjects allied to medicine
11                     (2) Subjects allied to medicine
12                     (2) Subjects allied to medicine
13                     (2) Subjects allied to medicine
14                             (3) Biological sciences
15                             (3) Biological sciences
16                             (3) Biological sciences
17                             (3) Biological sciences
18                             (3) Biological sciences
19                             (3) Biological sciences
20                             (3) Biological sciences
21                              (4) Veterinary science
22                              (4) Veterinary science
23                              (4) Veterinary science
24                              (4) Veterinary science
25                              (4) Veterinary science
26                              (4) Veterinary science
27                              (4) Veterinary science
28                  (5) Agriculture & related subjects
29                  (5) Agriculture & related subjects
30                  (5) Agriculture & related subjects
31                  (5) Agriculture & related subjects
32                  (5) Agriculture & related subjects
33                  (5) Agriculture & related subjects
34                  (5) Agriculture & related subjects
35                               (6) Physical sciences
36                               (6) Physical sciences
37                               (6) Physical sciences
38                               (6) Physical sciences
39                               (6) Physical sciences
40                               (6) Physical sciences
41                               (6) Physical sciences
42                           (7) Mathematical sciences
43                           (7) Mathematical sciences
44                           (7) Mathematical sciences
45                           (7) Mathematical sciences
46                           (7) Mathematical sciences
47                           (7) Mathematical sciences
48                           (7) Mathematical sciences
49                                (8) Computer science
50                                (8) Computer science
51                                (8) Computer science
52                                (8) Computer science
53                                (8) Computer science
54                                (8) Computer science
55                                (8) Computer science
56                        (9) Engineering & technology
57                        (9) Engineering & technology
58                        (9) Engineering & technology
59                        (9) Engineering & technology
60                        (9) Engineering & technology
61                        (9) Engineering & technology
62                        (9) Engineering & technology
63               (A) Architecture, building & planning
64               (A) Architecture, building & planning
65               (A) Architecture, building & planning
66               (A) Architecture, building & planning
67               (A) Architecture, building & planning
68               (A) Architecture, building & planning
69               (A) Architecture, building & planning
70                                  (B) Social studies
71                                  (B) Social studies
72                                  (B) Social studies
73                                  (B) Social studies
74                                  (B) Social studies
75                                  (B) Social studies
76                                  (B) Social studies
77                                             (C) Law
78                                             (C) Law
79                                             (C) Law
80                                             (C) Law
81                                             (C) Law
82                                             (C) Law
83                                             (C) Law
84               (D) Business & administrative studies
85               (D) Business & administrative studies
86               (D) Business & administrative studies
87               (D) Business & administrative studies
88               (D) Business & administrative studies
89               (D) Business & administrative studies
90               (D) Business & administrative studies
91             (E) Mass communications & documentation
92             (E) Mass communications & documentation
93             (E) Mass communications & documentation
94             (E) Mass communications & documentation
95             (E) Mass communications & documentation
96             (E) Mass communications & documentation
97             (E) Mass communications & documentation
98                                       (F) Languages
99                                       (F) Languages
100                                      (F) Languages
101                                      (F) Languages
102                                      (F) Languages
103                                      (F) Languages
104                                      (F) Languages
105             (G) Historical & philosophical studies
106             (G) Historical & philosophical studies
107             (G) Historical & philosophical studies
108             (G) Historical & philosophical studies
109             (G) Historical & philosophical studies
110             (G) Historical & philosophical studies
111             (G) Historical & philosophical studies
112                         (H) Creative arts & design
113                         (H) Creative arts & design
114                         (H) Creative arts & design
115                         (H) Creative arts & design
116                         (H) Creative arts & design
117                         (H) Creative arts & design
118                         (H) Creative arts & design
119                                      (I) Education
120                                      (I) Education
121                                      (I) Education
122                                      (I) Education
123                                      (I) Education
124                                      (I) Education
125                                      (I) Education
126                                       (J) Combined
127                                       (J) Combined
128                                       (J) Combined
129                                       (J) Combined
130                                       (J) Combined
131                                       (J) Combined
132                                       (J) Combined

Sex                     Level of study  Female                          \
Academic Year                          2014/15 2015/16 2016/17 2017/18
0                                  All   37335   37415   37430   38340
1                     All postgraduate   11780   11905   11725   11915
2                    All undergraduate   25555   25515   25705   26425
3                         First degree   25170   25180   25385   26090
4                  Other undergraduate     385     330     320     335
5              Postgraduate (research)    5025    5175    4925    4875
6                Postgraduate (taught)    6755    6730    6800    7040
7                                  All  218510  226025  229905  227725
8                     All postgraduate   46480   50435   54525   54845
9                    All undergraduate  172035  175590  175375  172880
10                        First degree  125585  130945  135535  136985
11                 Other undergraduate   46445   44645   39845   35895
12             Postgraduate (research)    4720    4830    5140    5145
13               Postgraduate (taught)   41755   45605   49385   49700
14                                 All  128775  134345  142585  149890
15                    All postgraduate   22380   23050   27240   30130
16                   All undergraduate  106395  111300  115345  119755
17                        First degree  101880  107285  111520  116190
18                 Other undergraduate    4515    4015    3830    3565
19             Postgraduate (research)    8660    8680    9170    9235
20               Postgraduate (taught)   13720   14370   18070   20895
21                                 All    4495    5205    5520    6110
22                    All postgraduate     540    1070    1170    1515
23                   All undergraduate    3955    4135    4350    4600
24                        First degree    3940    4115    4345    4600
25                 Other undergraduate      15      15       5       0
26             Postgraduate (research)     210     195     200     240
27               Postgraduate (taught)     330     875     970    1275
28                                 All   11855   11805   11815   11955
29                    All postgraduate    2450    2000    2095    2200
30                   All undergraduate    9405    9805    9720    9755
31                        First degree    6230    6590    6470    6650
32                 Other undergraduate    3175    3215    3250    3105
33             Postgraduate (research)     520     510     495     475
34               Postgraduate (taught)    1930    1490    1600    1725
35                                 All   37080   38285   39200   40645
36                    All postgraduate    7920    7885    8185    8835
37                   All undergraduate   29160   30400   31010   31805
38                        First degree   28290   29675   30260   31095
39                 Other undergraduate     875     725     755     710
40             Postgraduate (research)    4520    4650    4705    4940
41               Postgraduate (taught)    3400    3240    3480    3895
42                                 All   15955   16025   16265   16460
43                    All postgraduate    2165    2200    2375    2410
44                   All undergraduate   13790   13825   13890   14050
45                        First degree   13570   13600   13700   13865
46                 Other undergraduate     220     225     190     185
47             Postgraduate (research)     805     830     865     855
48               Postgraduate (taught)    1360    1370    1510    1555
49                                 All   16040   16480   17390   18880
50                    All postgraduate    4270    4510    4675    5275
51                   All undergraduate   11770   11965   12715   13605
52                        First degree   10945   11160   12010   12885
53                 Other undergraduate     825     810     705     720
54             Postgraduate (research)    1180    1270    1305    1335
55               Postgraduate (taught)    3090    3240    3365    3940
56                                 All   26955   27745   29025   30050
57                    All postgraduate    9335    9225    9335    9420
58                   All undergraduate   17615   18515   19690   20630
59                        First degree   16220   17325   18610   19575
60                 Other undergraduate    1395    1195    1080    1055
61             Postgraduate (research)    3595    3605    3540    3545
62               Postgraduate (taught)    5740    5625    5795    5875
63                                 All   17365   18245   19350   20475
64                    All postgraduate    6190    6520    7165    7510
65                   All undergraduate   11175   11720   12190   12970
66                        First degree   10060   10570   11090   12000
67                 Other undergraduate    1120    1150    1095     965
68             Postgraduate (research)     845     865     840     850
69               Postgraduate (taught)    5345    5655    6320    6660
70                                 All  130585  135020  139915  145030
71                    All postgraduate   30540   30940   32555   33570
72                   All undergraduate  100045  104085  107360  111455
73                        First degree   90415   94920   99060  103205
74                 Other undergraduate    9630    9165    8300    8250
75             Postgraduate (research)    4965    4810    4755    4670
76               Postgraduate (taught)   25575   26130   27795   28905
77                                 All   53555   54650   55985   58455
78                    All postgraduate   10610   10850   11295   11760
79                   All undergraduate   42945   43800   44690   46690
80                        First degree   41190   42330   43525   45595
81                 Other undergraduate    1755    1470    1165    1100
82             Postgraduate (research)    1150    1145    1145    1110
83               Postgraduate (taught)    9465    9705   10150   10650
84                                 All  161450  161970  164955  170240
85                    All postgraduate   51795   50150   50635   54140
86                   All undergraduate  109655  111825  114320  116100
87                        First degree   99280  102890  106510  109335
88                 Other undergraduate   10375    8935    7810    6765
89             Postgraduate (research)    3130    3125    3075    3055
90               Postgraduate (taught)   48660   47025   47560   51085
91                                 All   28775   29000   29820   30360
92                    All postgraduate    7050    6800    7300    8105
93                   All undergraduate   21725   22200   22520   22255
94                        First degree   21305   21935   22210   22010
95                 Other undergraduate     420     265     310     245
96             Postgraduate (research)     650     670     685     685
97               Postgraduate (taught)    6405    6135    6615    7415
98                                 All   77375   75995   75615   73375
99                    All postgraduate   10390    9885   10890   11125
100                  All undergraduate   66985   66115   64720   62245
101                       First degree   60325   59715   58740   56550
102                Other undergraduate    6660    6395    5980    5700
103            Postgraduate (research)    3865    3730    3610    3365
104              Postgraduate (taught)    6525    6155    7285    7760
105                                All   46070   45735   46260   46055
106                   All postgraduate    8030    7895    8630    8940
107                  All undergraduate   38040   37835   37630   37115
108                       First degree   35300   36200   36125   35710
109                Other undergraduate    2740    1635    1505    1400
110            Postgraduate (research)    3120    3330    3350    3335
111              Postgraduate (taught)    4910    4570    5280    5605
112                                All  105840  108580  113275  115455
113                   All postgraduate   13705   14100   15990   17175
114                  All undergraduate   92140   94480   97285   98285
115                       First degree   87700   90780   93645   94985
116                Other undergraduate    4440    3695    3640    3295
117            Postgraduate (research)    2195    2255    2265    2190
118              Postgraduate (taught)   11510   11850   13725   14985
119                                All  124960  119225  115560  112490
120                   All postgraduate   56100   52200   50785   50150
121                  All undergraduate   68860   67025   64775   62340
122                       First degree   50030   49475   48755   48205
123                Other undergraduate   18835   17550   16020   14135
124            Postgraduate (research)    4325    4335    4200    4205
125              Postgraduate (taught)   51775   47865   46585   45945
126                                All   30280   26010   24165   21665
127                   All postgraduate    1255    1115     925     895
128                  All undergraduate   29025   24895   23240   20770
129                       First degree   14830   13860   12660   10925
130                Other undergraduate   14195   11035   10580    9850
131            Postgraduate (research)       5      10      10      15
132              Postgraduate (taught)    1250    1100     915     875

Sex                      Male                                   Other          \
Academic Year 2018/19 2014/15 2015/16 2016/17 2017/18 2018/19 2014/15 2015/16
0               40175   28660   28120   27645   27475   27485       5      10
1               12330    8610    8400    8025    7955    7715       5       5
2               27845   20050   19720   19625   19520   19765       0       0
3               27595   19945   19660   19565   19455   19720       0       0
4                 255     105      60      60      60      50       0       0
5                5110    3715    3785    3560    3340    3460       0       5
6                7215    4895    4615    4460    4615    4260       5       5
7              229895   56815   58870   60770   60160   60325      20      25
8               57145   16125   17260   18555   18870   19785       5      10
9              172750   40690   41605   42215   41285   40540      15      15
10             138815   30970   32130   33400   33455   33520      10      10
11              33935    9720    9480    8815    7830    7020       5       5
12               5130    3030    3050    3235    3230    3175       0       0
13              52015   13095   14210   15320   15640   16610       5      10
14             156865   82570   82995   83730   83900   84565      20      30
15              31775   12215   12590   13890   14535   14915       5      10
16             125090   70355   70405   69840   69365   69650      10      20
17             121240   65300   66870   66630   66470   66790       5      20
18               3850    5055    3535    3205    2895    2860       5       0
19               9680    5790    5880    6055    5945    5995       0       5
20              22095    6425    6710    7835    8590    8920       5       5
21               6520    1405    1570    1625    1745    1875       0       0
22               1685     275     450     510     630     720       0       0
23               4835    1130    1120    1115    1115    1155       0       0
24               4835    1125    1115    1110    1115    1155       0       0
25                  0       5       5       5       0       0       0       0
26                245     115     105     105     120     125       0       0
27               1440     165     345     405     515     600       0       0
28              12895    7350    7220    6835    6715    6410       0       0
29               2275    1625    1430    1470    1440    1325       0       0
30              10620    5725    5790    5370    5275    5085       0       0
31               7525    3070    2990    2770    2830    2840       0       0
32               3095    2650    2800    2600    2445    2250       0       0
33                475     405     390     390     370     355       0       0
34               1800    1220    1040    1080    1070     970       0       0
35              41030   56660   56555   55925   55010   53725      15      30

## Then calculate 'average change' in proportion of students in each sex over 5-year period

In [179]:
pivotDfAllCountriesAllYearPercent = pivotDfAllCountriesAllYear.copy()

In [180]:
pivotDfAllCountriesAllYearPercent

Sex                                       Subject Area  \
Academic Year
0                             (1) Medicine & dentistry
1                             (1) Medicine & dentistry
2                             (1) Medicine & dentistry
3                             (1) Medicine & dentistry
4                             (1) Medicine & dentistry
5                             (1) Medicine & dentistry
6                             (1) Medicine & dentistry
7                      (2) Subjects allied to medicine
8                      (2) Subjects allied to medicine
9                      (2) Subjects allied to medicine
10                     (2) Subjects allied to medicine
11                     (2) Subjects allied to medicine
12                     (2) Subjects allied to medicine
13                     (2) Subjects allied to medicine
14                             (3) Biological sciences
15                             (3) Biological sciences
16                             (3) Biological sciences
17                             (3) Biological sciences
18                             (3) Biological sciences
19                             (3) Biological sciences
20                             (3) Biological sciences
21                              (4) Veterinary science
22                              (4) Veterinary science
23                              (4) Veterinary science
24                              (4) Veterinary science
25                              (4) Veterinary science
26                              (4) Veterinary science
27                              (4) Veterinary science
28                  (5) Agriculture & related subjects
29                  (5) Agriculture & related subjects
30                  (5) Agriculture & related subjects
31                  (5) Agriculture & related subjects
32                  (5) Agriculture & related subjects
33                  (5) Agriculture & related subjects
34                  (5) Agriculture & related subjects
35                               (6) Physical sciences
36                               (6) Physical sciences
37                               (6) Physical sciences
38                               (6) Physical sciences
39                               (6) Physical sciences
40                               (6) Physical sciences
41                               (6) Physical sciences
42                           (7) Mathematical sciences
43                           (7) Mathematical sciences
44                           (7) Mathematical sciences
45                           (7) Mathematical sciences
46                           (7) Mathematical sciences
47                           (7) Mathematical sciences
48                           (7) Mathematical sciences
49                                (8) Computer science
50                                (8) Computer science
51                                (8) Computer science
52                                (8) Computer science
53                                (8) Computer science
54                                (8) Computer science
55                                (8) Computer science
56                        (9) Engineering & technology
57                        (9) Engineering & technology
58                        (9) Engineering & technology
59                        (9) Engineering & technology
60                        (9) Engineering & technology
61                        (9) Engineering & technology
62                        (9) Engineering & technology
63               (A) Architecture, building & planning
64               (A) Architecture, building & planning
65               (A) Architecture, building & planning
66               (A) Architecture, building & planning
67               (A) Architecture, building & planning
68               (A) Architecture, building & planning
69               (A) Architecture, building & planning
70                                  (B) Social studies
71                                  (B) Social studies
72                                  (B) Social studies
73                                  (B) Social studies
74                                  (B) Social studies
75                                  (B) Social studies
76                                  (B) Social studies
77                                             (C) Law
78                                             (C) Law
79                                             (C) Law
80                                             (C) Law
81                                             (C) Law
82                                             (C) Law
83                                             (C) Law
84               (D) Business & administrative studies
85               (D) Business & administrative studies
86               (D) Business & administrative studies
87               (D) Business & administrative studies
88               (D) Business & administrative studies
89               (D) Business & administrative studies
90               (D) Business & administrative studies
91             (E) Mass communications & documentation
92             (E) Mass communications & documentation
93             (E) Mass communications & documentation
94             (E) Mass communications & documentation
95             (E) Mass communications & documentation
96             (E) Mass communications & documentation
97             (E) Mass communications & documentation
98                                       (F) Languages
99                                       (F) Languages
100                                      (F) Languages
101                                      (F) Languages
102                                      (F) Languages
103                                      (F) Languages
104                                      (F) Languages
105             (G) Historical & philosophical studies
106             (G) Historical & philosophical studies
107             (G) Historical & philosophical studies
108             (G) Historical & philosophical studies
109             (G) Historical & philosophical studies
110             (G) Historical & philosophical studies
111             (G) Historical & philosophical studies
112                         (H) Creative arts & design
113                         (H) Creative arts & design
114                         (H) Creative arts & design
115                         (H) Creative arts & design
116                         (H) Creative arts & design
117                         (H) Creative arts & design
118                         (H) Creative arts & design
119                                      (I) Education
120                                      (I) Education
121                                      (I) Education
122                                      (I) Education
123                                      (I) Education
124                                      (I) Education
125                                      (I) Education
126                                       (J) Combined
127                                       (J) Combined
128                                       (J) Combined
129                                       (J) Combined
130                                       (J) Combined
131                                       (J) Combined
132                                       (J) Combined

Sex                     Level of study  Female                          \
Academic Year                          2014/15 2015/16 2016/17 2017/18
0                                  All   37335   37415   37430   38340
1                     All postgraduate   11780   11905   11725   11915
2                    All undergraduate   25555   25515   25705   26425
3                         First degree   25170   25180   25385   26090
4                  Other undergraduate     385     330     320     335
5              Postgraduate (research)    5025    5175    4925    4875
6                Postgraduate (taught)    6755    6730    6800    7040
7                                  All  218510  226025  229905  227725
8                     All postgraduate   46480   50435   54525   54845
9                    All undergraduate  172035  175590  175375  172880
10                        First degree  125585  130945  135535  136985
11                 Other undergraduate   46445   44645   39845   35895
12             Postgraduate (research)    4720    4830    5140    5145
13               Postgraduate (taught)   41755   45605   49385   49700
14                                 All  128775  134345  142585  149890
15                    All postgraduate   22380   23050   27240   30130
16                   All undergraduate  106395  111300  115345  119755
17                        First degree  101880  107285  111520  116190
18                 Other undergraduate    4515    4015    3830    3565
19             Postgraduate (research)    8660    8680    9170    9235
20               Postgraduate (taught)   13720   14370   18070   20895
21                                 All    4495    5205    5520    6110
22                    All postgraduate     540    1070    1170    1515
23                   All undergraduate    3955    4135    4350    4600
24                        First degree    3940    4115    4345    4600
25                 Other undergraduate      15      15       5       0
26             Postgraduate (research)     210     195     200     240
27               Postgraduate (taught)     330     875     970    1275
28                                 All   11855   11805   11815   11955
29                    All postgraduate    2450    2000    2095    2200
30                   All undergraduate    9405    9805    9720    9755
31                        First degree    6230    6590    6470    6650
32                 Other undergraduate    3175    3215    3250    3105
33             Postgraduate (research)     520     510     495     475
34               Postgraduate (taught)    1930    1490    1600    1725
35                                 All   37080   38285   39200   40645
36                    All postgraduate    7920    7885    8185    8835
37                   All undergraduate   29160   30400   31010   31805
38                        First degree   28290   29675   30260   31095
39                 Other undergraduate     875     725     755     710
40             Postgraduate (research)    4520    4650    4705    4940
41               Postgraduate (taught)    3400    3240    3480    3895
42                                 All   15955   16025   16265   16460
43                    All postgraduate    2165    2200    2375    2410
44                   All undergraduate   13790   13825   13890   14050
45                        First degree   13570   13600   13700   13865
46                 Other undergraduate     220     225     190     185
47             Postgraduate (research)     805     830     865     855
48               Postgraduate (taught)    1360    1370    1510    1555
49                                 All   16040   16480   17390   18880
50                    All postgraduate    4270    4510    4675    5275
51                   All undergraduate   11770   11965   12715   13605
52                        First degree   10945   11160   12010   12885
53                 Other undergraduate     825     810     705     720
54             Postgraduate (research)    1180    1270    1305    1335
55               Postgraduate (taught)    3090    3240    3365    3940
56                                 All   26955   27745   29025   30050
57                    All postgraduate    9335    9225    9335    9420
58                   All undergraduate   17615   18515   19690   20630
59                        First degree   16220   17325   18610   19575
60                 Other undergraduate    1395    1195    1080    1055
61             Postgraduate (research)    3595    3605    3540    3545
62               Postgraduate (taught)    5740    5625    5795    5875
63                                 All   17365   18245   19350   20475
64                    All postgraduate    6190    6520    7165    7510
65                   All undergraduate   11175   11720   12190   12970
66                        First degree   10060   10570   11090   12000
67                 Other undergraduate    1120    1150    1095     965
68             Postgraduate (research)     845     865     840     850
69               Postgraduate (taught)    5345    5655    6320    6660
70                                 All  130585  135020  139915  145030
71                    All postgraduate   30540   30940   32555   33570
72                   All undergraduate  100045  104085  107360  111455
73                        First degree   90415   94920   99060  103205
74                 Other undergraduate    9630    9165    8300    8250
75             Postgraduate (research)    4965    4810    4755    4670
76               Postgraduate (taught)   25575   26130   27795   28905
77                                 All   53555   54650   55985   58455
78                    All postgraduate   10610   10850   11295   11760
79                   All undergraduate   42945   43800   44690   46690
80                        First degree   41190   42330   43525   45595
81                 Other undergraduate    1755    1470    1165    1100
82             Postgraduate (research)    1150    1145    1145    1110
83               Postgraduate (taught)    9465    9705   10150   10650
84                                 All  161450  161970  164955  170240
85                    All postgraduate   51795   50150   50635   54140
86                   All undergraduate  109655  111825  114320  116100
87                        First degree   99280  102890  106510  109335
88                 Other undergraduate   10375    8935    7810    6765
89             Postgraduate (research)    3130    3125    3075    3055
90               Postgraduate (taught)   48660   47025   47560   51085
91                                 All   28775   29000   29820   30360
92                    All postgraduate    7050    6800    7300    8105
93                   All undergraduate   21725   22200   22520   22255
94                        First degree   21305   21935   22210   22010
95                 Other undergraduate     420     265     310     245
96             Postgraduate (research)     650     670     685     685
97               Postgraduate (taught)    6405    6135    6615    7415
98                                 All   77375   75995   75615   73375
99                    All postgraduate   10390    9885   10890   11125
100                  All undergraduate   66985   66115   64720   62245
101                       First degree   60325   59715   58740   56550
102                Other undergraduate    6660    6395    5980    5700
103            Postgraduate (research)    3865    3730    3610    3365
104              Postgraduate (taught)    6525    6155    7285    7760
105                                All   46070   45735   46260   46055
106                   All postgraduate    8030    7895    8630    8940
107                  All undergraduate   38040   37835   37630   37115
108                       First degree   35300   36200   36125   35710
109                Other undergraduate    2740    1635    1505    1400
110            Postgraduate (research)    3120    3330    3350    3335
111              Postgraduate (taught)    4910    4570    5280    5605
112                                All  105840  108580  113275  115455
113                   All postgraduate   13705   14100   15990   17175
114                  All undergraduate   92140   94480   97285   98285
115                       First degree   87700   90780   93645   94985
116                Other undergraduate    4440    3695    3640    3295
117            Postgraduate (research)    2195    2255    2265    2190
118              Postgraduate (taught)   11510   11850   13725   14985
119                                All  124960  119225  115560  112490
120                   All postgraduate   56100   52200   50785   50150
121                  All undergraduate   68860   67025   64775   62340
122                       First degree   50030   49475   48755   48205
123                Other undergraduate   18835   17550   16020   14135
124            Postgraduate (research)    4325    4335    4200    4205
125              Postgraduate (taught)   51775   47865   46585   45945
126                                All   30280   26010   24165   21665
127                   All postgraduate    1255    1115     925     895
128                  All undergraduate   29025   24895   23240   20770
129                       First degree   14830   13860   12660   10925
130                Other undergraduate   14195   11035   10580    9850
131            Postgraduate (research)       5      10      10      15
132              Postgraduate (taught)    1250    1100     915     875

Sex                      Male                                   Other          \
Academic Year 2018/19 2014/15 2015/16 2016/17 2017/18 2018/19 2014/15 2015/16
0               40175   28660   28120   27645   27475   27485       5      10
1               12330    8610    8400    8025    7955    7715       5       5
2               27845   20050   19720   19625   19520   19765       0       0
3               27595   19945   19660   19565   19455   19720       0       0
4                 255     105      60      60      60      50       0       0
5                5110    3715    3785    3560    3340    3460       0       5
6                7215    4895    4615    4460    4615    4260       5       5
7              229895   56815   58870   60770   60160   60325      20      25
8               57145   16125   17260   18555   18870   19785       5      10
9              172750   40690   41605   42215   41285   40540      15      15
10             138815   30970   32130   33400   33455   33520      10      10
11              33935    9720    9480    8815    7830    7020       5       5
12               5130    3030    3050    3235    3230    3175       0       0
13              52015   13095   14210   15320   15640   16610       5      10
14             156865   82570   82995   83730   83900   84565      20      30
15              31775   12215   12590   13890   14535   14915       5      10
16             125090   70355   70405   69840   69365   69650      10      20
17             121240   65300   66870   66630   66470   66790       5      20
18               3850    5055    3535    3205    2895    2860       5       0
19               9680    5790    5880    6055    5945    5995       0       5
20              22095    6425    6710    7835    8590    8920       5       5
21               6520    1405    1570    1625    1745    1875       0       0
22               1685     275     450     510     630     720       0       0
23               4835    1130    1120    1115    1115    1155       0       0
24               4835    1125    1115    1110    1115    1155       0       0
25                  0       5       5       5       0       0       0       0
26                245     115     105     105     120     125       0       0
27               1440     165     345     405     515     600       0       0
28              12895    7350    7220    6835    6715    6410       0       0
29               2275    1625    1430    1470    1440    1325       0       0
30              10620    5725    5790    5370    5275    5085       0       0
31               7525    3070    2990    2770    2830    2840       0       0
32               3095    2650    2800    2600    2445    2250       0       0
33                475     405     390     390     370     355       0       0
34               1800    1220    1040    1080    1070     970       0       0
35              41030   56660   56555   55925   55010   53725      15      30

In [182]:
pivotDfAllCountriesAllYearPercent['Female (%) 2014/15'] = (pivotDfAllCountriesAllYearPercent['Female']['2014/15'] / pivotDfAllCountriesAllYearPercent['Total']['2014/15']) * 100
pivotDfAllCountriesAllYearPercent['Male (%) 2014/15'] = (pivotDfAllCountriesAllYearPercent['Male']['2014/15'] / pivotDfAllCountriesAllYearPercent['Total']['2014/15']) * 100
pivotDfAllCountriesAllYearPercent['Other (%) 2014/15'] = (pivotDfAllCountriesAllYearPercent['Other']['2014/15'] / pivotDfAllCountriesAllYearPercent['Total']['2014/15']) * 100
pivotDfAllCountriesAllYearPercent['Female (%) 2015/16'] = (pivotDfAllCountriesAllYearPercent['Female']['2015/16'] / pivotDfAllCountriesAllYearPercent['Total']['2015/16']) * 100
pivotDfAllCountriesAllYearPercent['Male (%) 2015/16'] = (pivotDfAllCountriesAllYearPercent['Male']['2015/16'] / pivotDfAllCountriesAllYearPercent['Total']['2015/16']) * 100
pivotDfAllCountriesAllYearPercent['Other (%) 2015/16'] = (pivotDfAllCountriesAllYearPercent['Other']['2015/16'] / pivotDfAllCountriesAllYearPercent['Total']['2015/16']) * 100
pivotDfAllCountriesAllYearPercent['Female (%) 2016/17'] = (pivotDfAllCountriesAllYearPercent['Female']['2016/17'] / pivotDfAllCountriesAllYearPercent['Total']['2016/17']) * 100
pivotDfAllCountriesAllYearPercent['Male (%) 2016/17'] = (pivotDfAllCountriesAllYearPercent['Male']['2016/17'] / pivotDfAllCountriesAllYearPercent['Total']['2016/17']) * 100
pivotDfAllCountriesAllYearPercent['Other (%) 2016/17'] = (pivotDfAllCountriesAllYearPercent['Other']['2016/17'] / pivotDfAllCountriesAllYearPercent['Total']['2016/17']) * 100
pivotDfAllCountriesAllYearPercent['Female (%) 2017/18'] = (pivotDfAllCountriesAllYearPercent['Female']['2017/18'] / pivotDfAllCountriesAllYearPercent['Total']['2017/18']) * 100
pivotDfAllCountriesAllYearPercent['Male (%) 2017/18'] = (pivotDfAllCountriesAllYearPercent['Male']['2017/18'] / pivotDfAllCountriesAllYearPercent['Total']['2017/18']) * 100
pivotDfAllCountriesAllYearPercent['Other (%) 2017/18'] = (pivotDfAllCountriesAllYearPercent['Other']['2017/18'] / pivotDfAllCountriesAllYearPercent['Total']['2017/18']) * 100
pivotDfAllCountriesAllYearPercent['Female (%) 2018/19'] = (pivotDfAllCountriesAllYearPercent['Female']['2018/19'] / pivotDfAllCountriesAllYearPercent['Total']['2018/19']) * 100
pivotDfAllCountriesAllYearPercent['Male (%) 2018/19'] = (pivotDfAllCountriesAllYearPercent['Male']['2018/19'] / pivotDfAllCountriesAllYearPercent['Total']['2018/19']) * 100
pivotDfAllCountriesAllYearPercent['Other (%) 2018/19'] = (pivotDfAllCountriesAllYearPercent['Other']['2018/19'] / pivotDfAllCountriesAllYearPercent['Total']['2018/19']) * 100

In [183]:
pivotDfAllCountriesAllYearPercent

Sex                                       Subject Area  \
Academic Year
0                             (1) Medicine & dentistry
1                             (1) Medicine & dentistry
2                             (1) Medicine & dentistry
3                             (1) Medicine & dentistry
4                             (1) Medicine & dentistry
5                             (1) Medicine & dentistry
6                             (1) Medicine & dentistry
7                      (2) Subjects allied to medicine
8                      (2) Subjects allied to medicine
9                      (2) Subjects allied to medicine
10                     (2) Subjects allied to medicine
11                     (2) Subjects allied to medicine
12                     (2) Subjects allied to medicine
13                     (2) Subjects allied to medicine
14                             (3) Biological sciences
15                             (3) Biological sciences
16                             (3) Biological sciences
17                             (3) Biological sciences
18                             (3) Biological sciences
19                             (3) Biological sciences
20                             (3) Biological sciences
21                              (4) Veterinary science
22                              (4) Veterinary science
23                              (4) Veterinary science
24                              (4) Veterinary science
25                              (4) Veterinary science
26                              (4) Veterinary science
27                              (4) Veterinary science
28                  (5) Agriculture & related subjects
29                  (5) Agriculture & related subjects
30                  (5) Agriculture & related subjects
31                  (5) Agriculture & related subjects
32                  (5) Agriculture & related subjects
33                  (5) Agriculture & related subjects
34                  (5) Agriculture & related subjects
35                               (6) Physical sciences
36                               (6) Physical sciences
37                               (6) Physical sciences
38                               (6) Physical sciences
39                               (6) Physical sciences
40                               (6) Physical sciences
41                               (6) Physical sciences
42                           (7) Mathematical sciences
43                           (7) Mathematical sciences
44                           (7) Mathematical sciences
45                           (7) Mathematical sciences
46                           (7) Mathematical sciences
47                           (7) Mathematical sciences
48                           (7) Mathematical sciences
49                                (8) Computer science
50                                (8) Computer science
51                                (8) Computer science
52                                (8) Computer science
53                                (8) Computer science
54                                (8) Computer science
55                                (8) Computer science
56                        (9) Engineering & technology
57                        (9) Engineering & technology
58                        (9) Engineering & technology
59                        (9) Engineering & technology
60                        (9) Engineering & technology
61                        (9) Engineering & technology
62                        (9) Engineering & technology
63               (A) Architecture, building & planning
64               (A) Architecture, building & planning
65               (A) Architecture, building & planning
66               (A) Architecture, building & planning
67               (A) Architecture, building & planning
68               (A) Architecture, building & planning
69               (A) Architecture, building & planning
70                                  (B) Social studies
71                                  (B) Social studies
72                                  (B) Social studies
73                                  (B) Social studies
74                                  (B) Social studies
75                                  (B) Social studies
76                                  (B) Social studies
77                                             (C) Law
78                                             (C) Law
79                                             (C) Law
80                                             (C) Law
81                                             (C) Law
82                                             (C) Law
83                                             (C) Law
84               (D) Business & administrative studies
85               (D) Business & administrative studies
86               (D) Business & administrative studies
87               (D) Business & administrative studies
88               (D) Business & administrative studies
89               (D) Business & administrative studies
90               (D) Business & administrative studies
91             (E) Mass communications & documentation
92             (E) Mass communications & documentation
93             (E) Mass communications & documentation
94             (E) Mass communications & documentation
95             (E) Mass communications & documentation
96             (E) Mass communications & documentation
97             (E) Mass communications & documentation
98                                       (F) Languages
99                                       (F) Languages
100                                      (F) Languages
101                                      (F) Languages
102                                      (F) Languages
103                                      (F) Languages
104                                      (F) Languages
105             (G) Historical & philosophical studies
106             (G) Historical & philosophical studies
107             (G) Historical & philosophical studies
108             (G) Historical & philosophical studies
109             (G) Historical & philosophical studies
110             (G) Historical & philosophical studies
111             (G) Historical & philosophical studies
112                         (H) Creative arts & design
113                         (H) Creative arts & design
114                         (H) Creative arts & design
115                         (H) Creative arts & design
116                         (H) Creative arts & design
117                         (H) Creative arts & design
118                         (H) Creative arts & design
119                                      (I) Education
120                                      (I) Education
121                                      (I) Education
122                                      (I) Education
123                                      (I) Education
124                                      (I) Education
125                                      (I) Education
126                                       (J) Combined
127                                       (J) Combined
128                                       (J) Combined
129                                       (J) Combined
130                                       (J) Combined
131                                       (J) Combined
132                                       (J) Combined

Sex                     Level of study  Female                          \
Academic Year                          2014/15 2015/16 2016/17 2017/18
0                                  All   37335   37415   37430   38340
1                     All postgraduate   11780   11905   11725   11915
2                    All undergraduate   25555   25515   25705   26425
3                         First degree   25170   25180   25385   26090
4                  Other undergraduate     385     330     320     335
5              Postgraduate (research)    5025    5175    4925    4875
6                Postgraduate (taught)    6755    6730    6800    7040
7                                  All  218510  226025  229905  227725
8                     All postgraduate   46480   50435   54525   54845
9                    All undergraduate  172035  175590  175375  172880
10                        First degree  125585  130945  135535  136985
11                 Other undergraduate   46445   44645   39845   35895
12             Postgraduate (research)    4720    4830    5140    5145
13               Postgraduate (taught)   41755   45605   49385   49700
14                                 All  128775  134345  142585  149890
15                    All postgraduate   22380   23050   27240   30130
16                   All undergraduate  106395  111300  115345  119755
17                        First degree  101880  107285  111520  116190
18                 Other undergraduate    4515    4015    3830    3565
19             Postgraduate (research)    8660    8680    9170    9235
20               Postgraduate (taught)   13720   14370   18070   20895
21                                 All    4495    5205    5520    6110
22                    All postgraduate     540    1070    1170    1515
23                   All undergraduate    3955    4135    4350    4600
24                        First degree    3940    4115    4345    4600
25                 Other undergraduate      15      15       5       0
26             Postgraduate (research)     210     195     200     240
27               Postgraduate (taught)     330     875     970    1275
28                                 All   11855   11805   11815   11955
29                    All postgraduate    2450    2000    2095    2200
30                   All undergraduate    9405    9805    9720    9755
31                        First degree    6230    6590    6470    6650
32                 Other undergraduate    3175    3215    3250    3105
33             Postgraduate (research)     520     510     495     475
34               Postgraduate (taught)    1930    1490    1600    1725
35                                 All   37080   38285   39200   40645
36                    All postgraduate    7920    7885    8185    8835
37                   All undergraduate   29160   30400   31010   31805
38                        First degree   28290   29675   30260   31095
39                 Other undergraduate     875     725     755     710
40             Postgraduate (research)    4520    4650    4705    4940
41               Postgraduate (taught)    3400    3240    3480    3895
42                                 All   15955   16025   16265   16460
43                    All postgraduate    2165    2200    2375    2410
44                   All undergraduate   13790   13825   13890   14050
45                        First degree   13570   13600   13700   13865
46                 Other undergraduate     220     225     190     185
47             Postgraduate (research)     805     830     865     855
48               Postgraduate (taught)    1360    1370    1510    1555
49                                 All   16040   16480   17390   18880
50                    All postgraduate    4270    4510    4675    5275
51                   All undergraduate   11770   11965   12715   13605
52                        First degree   10945   11160   12010   12885
53                 Other undergraduate     825     810     705     720
54             Postgraduate (research)    1180    1270    1305    1335
55               Postgraduate (taught)    3090    3240    3365    3940
56                                 All   26955   27745   29025   30050
57                    All postgraduate    9335    9225    9335    9420
58                   All undergraduate   17615   18515   19690   20630
59                        First degree   16220   17325   18610   19575
60                 Other undergraduate    1395    1195    1080    1055
61             Postgraduate (research)    3595    3605    3540    3545
62               Postgraduate (taught)    5740    5625    5795    5875
63                                 All   17365   18245   19350   20475
64                    All postgraduate    6190    6520    7165    7510
65                   All undergraduate   11175   11720   12190   12970
66                        First degree   10060   10570   11090   12000
67                 Other undergraduate    1120    1150    1095     965
68             Postgraduate (research)     845     865     840     850
69               Postgraduate (taught)    5345    5655    6320    6660
70                                 All  130585  135020  139915  145030
71                    All postgraduate   30540   30940   32555   33570
72                   All undergraduate  100045  104085  107360  111455
73                        First degree   90415   94920   99060  103205
74                 Other undergraduate    9630    9165    8300    8250
75             Postgraduate (research)    4965    4810    4755    4670
76               Postgraduate (taught)   25575   26130   27795   28905
77                                 All   53555   54650   55985   58455
78                    All postgraduate   10610   10850   11295   11760
79                   All undergraduate   42945   43800   44690   46690
80                        First degree   41190   42330   43525   45595
81                 Other undergraduate    1755    1470    1165    1100
82             Postgraduate (research)    1150    1145    1145    1110
83               Postgraduate (taught)    9465    9705   10150   10650
84                                 All  161450  161970  164955  170240
85                    All postgraduate   51795   50150   50635   54140
86                   All undergraduate  109655  111825  114320  116100
87                        First degree   99280  102890  106510  109335
88                 Other undergraduate   10375    8935    7810    6765
89             Postgraduate (research)    3130    3125    3075    3055
90               Postgraduate (taught)   48660   47025   47560   51085
91                                 All   28775   29000   29820   30360
92                    All postgraduate    7050    6800    7300    8105
93                   All undergraduate   21725   22200   22520   22255
94                        First degree   21305   21935   22210   22010
95                 Other undergraduate     420     265     310     245
96             Postgraduate (research)     650     670     685     685
97               Postgraduate (taught)    6405    6135    6615    7415
98                                 All   77375   75995   75615   73375
99                    All postgraduate   10390    9885   10890   11125
100                  All undergraduate   66985   66115   64720   62245
101                       First degree   60325   59715   58740   56550
102                Other undergraduate    6660    6395    5980    5700
103            Postgraduate (research)    3865    3730    3610    3365
104              Postgraduate (taught)    6525    6155    7285    7760
105                                All   46070   45735   46260   46055
106                   All postgraduate    8030    7895    8630    8940
107                  All undergraduate   38040   37835   37630   37115
108                       First degree   35300   36200   36125   35710
109                Other undergraduate    2740    1635    1505    1400
110            Postgraduate (research)    3120    3330    3350    3335
111              Postgraduate (taught)    4910    4570    5280    5605
112                                All  105840  108580  113275  115455
113                   All postgraduate   13705   14100   15990   17175
114                  All undergraduate   92140   94480   97285   98285
115                       First degree   87700   90780   93645   94985
116                Other undergraduate    4440    3695    3640    3295
117            Postgraduate (research)    2195    2255    2265    2190
118              Postgraduate (taught)   11510   11850   13725   14985
119                                All  124960  119225  115560  112490
120                   All postgraduate   56100   52200   50785   50150
121                  All undergraduate   68860   67025   64775   62340
122                       First degree   50030   49475   48755   48205
123                Other undergraduate   18835   17550   16020   14135
124            Postgraduate (research)    4325    4335    4200    4205
125              Postgraduate (taught)   51775   47865   46585   45945
126                                All   30280   26010   24165   21665
127                   All postgraduate    1255    1115     925     895
128                  All undergraduate   29025   24895   23240   20770
129                       First degree   14830   13860   12660   10925
130                Other undergraduate   14195   11035   10580    9850
131            Postgraduate (research)       5      10      10      15
132              Postgraduate (taught)    1250    1100     915     875

Sex                      Male                                   Other          \
Academic Year 2018/19 2014/15 2015/16 2016/17 2017/18 2018/19 2014/15 2015/16
0               40175   28660   28120   27645   27475   27485       5      10
1               12330    8610    8400    8025    7955    7715       5       5
2               27845   20050   19720   19625   19520   19765       0       0
3               27595   19945   19660   19565   19455   19720       0       0
4                 255     105      60      60      60      50       0       0
5                5110    3715    3785    3560    3340    3460       0       5
6                7215    4895    4615    4460    4615    4260       5       5
7              229895   56815   58870   60770   60160   60325      20      25
8               57145   16125   17260   18555   18870   19785       5      10
9              172750   40690   41605   42215   41285   40540      15      15
10             138815   30970   32130   33400   33455   33520      10      10
11              33935    9720    9480    8815    7830    7020       5       5
12               5130    3030    3050    3235    3230    3175       0       0
13              52015   13095   14210   15320   15640   16610       5      10
14             156865   82570   82995   83730   83900   84565      20      30
15              31775   12215   12590   13890   14535   14915       5      10
16             125090   70355   70405   69840   69365   69650      10      20
17             121240   65300   66870   66630   66470   66790       5      20
18               3850    5055    3535    3205    2895    2860       5       0
19               9680    5790    5880    6055    5945    5995       0       5
20              22095    6425    6710    7835    8590    8920       5       5
21               6520    1405    1570    1625    1745    1875       0       0
22               1685     275     450     510     630     720       0       0
23               4835    1130    1120    1115    1115    1155       0       0
24               4835    1125    1115    1110    1115    1155       0       0
25                  0       5       5       5       0       0       0       0
26                245     115     105     105     120     125       0       0
27               1440     165     345     405     515     600       0       0
28              12895    7350    7220    6835    6715    6410       0       0
29               2275    1625    1430    1470    1440    1325       0       0
30              10620    5725    5790    5370    5275    5085       0       0
31               7525    3070    2990    2770    2830    2840       0       0
32               3095    2650    2800    2600    2445    2250       0       0
33                475     405     390     390     370     355       0       0
34               1800    1220    1040    1080    1070     970       0       0
35              41030   56660   56555   55925   55010   53725      15      30

In [184]:
pivotDfAllCountriesAllYearPercent = pivotDfAllCountriesAllYearPercent.drop(columns=['Female','Male','Other','Total'])

In [185]:
pivotDfAllCountriesAllYearPercent['Avg. % Change of Female'] = ((pivotDfAllCountriesAllYearPercent['Female (%) 2015/16'] - pivotDfAllCountriesAllYearPercent['Female (%) 2014/15']) +
                                                                (pivotDfAllCountriesAllYearPercent['Female (%) 2016/17'] - pivotDfAllCountriesAllYearPercent['Female (%) 2015/16']) +
                                                                (pivotDfAllCountriesAllYearPercent['Female (%) 2017/18'] - pivotDfAllCountriesAllYearPercent['Female (%) 2016/17']) +
                                                                (pivotDfAllCountriesAllYearPercent['Female (%) 2018/19'] - pivotDfAllCountriesAllYearPercent['Female (%) 2017/18'])) / 4
pivotDfAllCountriesAllYearPercent['Avg. % Change of Male'] = ((pivotDfAllCountriesAllYearPercent['Male (%) 2015/16'] - pivotDfAllCountriesAllYearPercent['Male (%) 2014/15']) +
                                                                (pivotDfAllCountriesAllYearPercent['Male (%) 2016/17'] - pivotDfAllCountriesAllYearPercent['Male (%) 2015/16']) +
                                                                (pivotDfAllCountriesAllYearPercent['Male (%) 2017/18'] - pivotDfAllCountriesAllYearPercent['Male (%) 2016/17']) +
                                                                (pivotDfAllCountriesAllYearPercent['Male (%) 2018/19'] - pivotDfAllCountriesAllYearPercent['Male (%) 2017/18'])) / 4
pivotDfAllCountriesAllYearPercent['Avg. % Change of Other'] = ((pivotDfAllCountriesAllYearPercent['Other (%) 2015/16'] - pivotDfAllCountriesAllYearPercent['Other (%) 2014/15']) +
                                                                (pivotDfAllCountriesAllYearPercent['Other (%) 2016/17'] - pivotDfAllCountriesAllYearPercent['Other (%) 2015/16']) +
                                                                (pivotDfAllCountriesAllYearPercent['Other (%) 2017/18'] - pivotDfAllCountriesAllYearPercent['Other (%) 2016/17']) +
                                                                (pivotDfAllCountriesAllYearPercent['Other (%) 2018/19'] - pivotDfAllCountriesAllYearPercent['Other (%) 2017/18'])) / 4

In [186]:
pivotDfAllCountriesAllYearAvgPercentChg =  pivotDfAllCountriesAllYearPercent.drop(columns=[
    'Female (%) 2014/15', 'Female (%) 2015/16', 'Female (%) 2016/17', 'Female (%) 2017/18', 'Female (%) 2018/19',
    'Male (%) 2014/15', 'Male (%) 2015/16', 'Male (%) 2016/17', 'Male (%) 2017/18', 'Male (%) 2018/19',
    'Other (%) 2014/15', 'Other (%) 2015/16', 'Other (%) 2016/17', 'Other (%) 2017/18', 'Other (%) 2018/19',
])

In [196]:
pivotDfAllCountriesAllYearAvgPercentChg[pivotDfAllCountriesAllYearAvgPercentChg['Level of study'] == 'All'].sort_values(by='Avg. % Change of Female', ascending=False)

Sex,Subject Area,Level of study,Avg. % Change of Female,Avg. % Change of Male,Avg. % Change of Other
Academic Year,,,,,
28,(5) Agriculture & related subjects,All,1.253897,-1.273307,0.019410
14,(3) Biological sciences,All,0.989771,-1.021605,0.031243
35,(6) Physical sciences,All,0.928069,-0.946459,0.018405
77,(C) Law,All,0.807085,-0.819863,0.012778
0,(1) Medicine & dentistry,All,0.681584,-0.714743,0.035004
63,"(A) Architecture, building & planning",All,0.638540,-0.644983,0.006444
56,(9) Engineering & technology,All,0.602248,-0.612014,0.009765
119,(I) Education,All,0.434535,-0.448237,0.013817
98,(F) Languages,All,0.434496,-0.494163,0.059667
105,(G) Historical & philosophical studies,All,0.362771,-0.431784,0.067487
21,(4) Veterinary science,All,0.358152,-0.373033,0.014881
112,(H) Creative arts & design,All,0.353741,-0.405251,0.050823
49,(8) Computer science,All,0.292203,-0.311898,0.020785
70,(B) Social studies,All,0.216554,-0.238665,0.022111
126,(J) Combined,All,0.157659,-0.147993,-0.011060
91,(E) Mass communications & documentation,All,0.008145,-0.034673,0.024091
84,(D) Business & administrative studies,All,-0.027266,0.021473,0.005793
7,(2) Subjects allied to medicine,All,-0.051486,0.033935,0.017981
42,(7) Mathematical sciences,All,-0.116405,0.097796,0.021557

# England : Finding average change in proportion of students in each sex over 5-year period, categorised by subject area and level of study 
(*not change in exact number of students!)

## Started by calculate proportion of students in each sex over 5-year period in England

In [169]:
dfEngland = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'England') &
    (~df['Subject Area'].str.startswith('Total'))]

In [224]:
dfEngland

,Subject Area,First year marker,Level of study,Mode of study,Country of HE provider,Sex,Academic Year,Number
480,(1) Medicine & dentistry,All,All,All,England,Female,2014/15,29365
481,(1) Medicine & dentistry,All,All,All,England,Male,2014/15,22995
482,(1) Medicine & dentistry,All,All,All,England,Other,2014/15,5
483,(1) Medicine & dentistry,All,All,All,England,Total,2014/15,52365
484,(1) Medicine & dentistry,All,All,All,England,Female,2015/16,29460
...,...,...,...,...,...,...,...,...
121375,(J) Combined,All,All undergraduate,All,England,Total,2017/18,21495
121376,(J) Combined,All,All undergraduate,All,England,Female,2018/19,11745
121377,(J) Combined,All,All undergraduate,All,England,Male,2018/19,6880
121378,(J) Combined,All,All undergraduate,All,England,Other,2018/19,10
121379,(J) Combined,All,All undergraduate,All,England,Total,2018/19,18635

In [225]:
dfEngland['Subject Area'].unique()

array(['(1) Medicine & dentistry', '(2) Subjects allied to medicine',
       '(3) Biological sciences', '(4) Veterinary science',
       '(5) Agriculture & related subjects', '(6) Physical sciences',
       '(7) Mathematical sciences', '(8) Computer science',
       '(9) Engineering & technology',
       '(A) Architecture, building & planning', '(B) Social studies',
       '(C) Law', '(D) Business & administrative studies',
       '(E) Mass communications & documentation', '(F) Languages',
       '(G) Historical & philosophical studies',
       '(H) Creative arts & design', '(I) Education', '(J) Combined'],
      dtype=object)

In [228]:
dfEngland[dfEngland['Subject Area'] == '(2) Subjects allied to medicine']

,Subject Area,First year marker,Level of study,Mode of study,Country of HE provider,Sex,Academic Year,Number
6640,(2) Subjects allied to medicine,All,All,All,England,Female,2014/15,179550
6641,(2) Subjects allied to medicine,All,All,All,England,Male,2014/15,47150
6642,(2) Subjects allied to medicine,All,All,All,England,Other,2014/15,15
6643,(2) Subjects allied to medicine,All,All,All,England,Total,2014/15,226715
6644,(2) Subjects allied to medicine,All,All,All,England,Female,2015/16,184775
...,...,...,...,...,...,...,...,...
12055,(2) Subjects allied to medicine,All,All undergraduate,All,England,Total,2017/18,173820
12056,(2) Subjects allied to medicine,All,All undergraduate,All,England,Female,2018/19,138585
12057,(2) Subjects allied to medicine,All,All undergraduate,All,England,Male,2018/19,33845
12058,(2) Subjects allied to medicine,All,All undergraduate,All,England,Other,2018/19,95
12059,(2) Subjects allied to medicine,All,All undergraduate,All,England,Total,2018/19,172525

In [219]:
dfEngland.count()

Subject Area              2660
First year marker         2660
Level of study            2660
Mode of study             2660
Country of HE provider    2660
Sex                       2660
Academic Year             2660
Number                    2660
dtype: int64

In [171]:
pivotDfEngland = dfEngland.pivot_table('Number', ['Subject Area', 'Level of study', 'Academic Year'], 'Sex').reset_index()

In [172]:
pivotDfEnglandAllYear = pivotDfEngland.pivot_table(['Female','Male','Other',
                                'Total'], ['Subject Area', 'Level of study'], 'Academic Year').reset_index()

In [174]:
pivotDfEngland['Female (%)'] = (pivotDfEngland['Female'] / pivotDfEngland['Total']) * 100
pivotDfEngland['Male (%)'] = (pivotDfEngland['Male'] / pivotDfEngland['Total']) * 100
pivotDfEngland['Other (%)'] = (pivotDfEngland['Other'] / pivotDfEngland['Total']) * 100

In [176]:
pivotDfEngland[pivotDfEngland['Level of study']=='All postgraduate']

Sex,Subject Area,Level of study,Academic Year,Female,Male,Other,Total,Female (%),Male (%),Other (%)
5,(1) Medicine & dentistry,All postgraduate,2014/15,9410,6925,5,16340,57.588739,42.380661,0.030600
6,(1) Medicine & dentistry,All postgraduate,2015/16,9605,6915,5,16525,58.124054,41.845688,0.030257
7,(1) Medicine & dentistry,All postgraduate,2016/17,9545,6680,20,16250,58.738462,41.107692,0.123077
8,(1) Medicine & dentistry,All postgraduate,2017/18,9690,6645,45,16375,59.175573,40.580153,0.274809
9,(1) Medicine & dentistry,All postgraduate,2018/19,10135,6490,60,16685,60.743182,38.897213,0.359604
40,(2) Subjects allied to medicine,All postgraduate,2014/15,37470,12695,5,50175,74.678625,25.301445,0.009965
41,(2) Subjects allied to medicine,All postgraduate,2015/16,40920,13805,10,54735,74.760208,25.221522,0.018270
42,(2) Subjects allied to medicine,All postgraduate,2016/17,44355,15195,55,59605,74.414898,25.492828,0.092274
43,(2) Subjects allied to medicine,All postgraduate,2017/18,44170,15455,75,59705,73.980404,25.885604,0.125618
44,(2) Subjects allied to medicine,All postgraduate,2018/19,45325,16045,105,61475,73.729158,26.100041,0.170801
75,(3) Biological sciences,All postgraduate,2014/15,18745,9915,5,28670,65.381932,34.583188,0.017440
76,(3) Biological sciences,All postgraduate,2015/16,19290,10270,5,29565,65.246068,34.737020,0.016912
77,(3) Biological sciences,All postgraduate,2016/17,23095,11450,25,34570,66.806480,33.121203,0.072317
78,(3) Biological sciences,All postgraduate,2017/18,25060,11740,70,36870,67.968538,31.841606,0.189856
79,(3) Biological sciences,All postgraduate,2018/19,26340,12015,95,38455,68.495644,31.244312,0.247042
110,(4) Veterinary science,All postgraduate,2014/15,450,220,0,675,66.666667,32.592593,0.000000
111,(4) Veterinary science,All postgraduate,2015/16,990,395,0,1385,71.480144,28.519856,0.000000
112,(4) Veterinary science,All postgraduate,2016/17,1065,455,0,1520,70.065789,29.934211,0.000000
113,(4) Veterinary science,All postgraduate,2017/18,1385,575,0,1960,70.663265,29.336735,0.000000
114,(4) Veterinary science,All postgraduate,2018/19,1515,655,0,2175,69.655172,30.114943,0.000000
145,(5) Agriculture & related subjects,All postgraduate,2014/15,1830,1105,0,2940,62.244898,37.585034,0.000000
146,(5) Agriculture & related subjects,All postgraduate,2015/16,1395,915,0,2310,60.389610,39.610390,0.000000
147,(5) Agriculture & related subjects,All postgraduate,2016/17,1440,905,0,2345,61.407249,38.592751,0.000000
148,(5) Agriculture & related subjects,All postgraduate,2017/18,1425,805,5,2235,63.758389,36.017897,0.223714
149,(5) Agriculture & related subjects,All postgraduate,2018/19,1530,815,0,2345,65.245203,34.754797,0.000000
180,(6) Physical sciences,All postgraduate,2014/15,6325,9650,5,15980,39.580726,60.387985,0.031289
181,(6) Physical sciences,All postgraduate,2015/16,6275,9400,5,15680,40.019133,59.948980,0.031888
182,(6) Physical sciences,All postgraduate,2016/17,6430,9550,10,15990,40.212633,59.724828,0.062539
183,(6) Physical sciences,All postgraduate,2017/18,6885,9625,20,16530,41.651543,58.227465,0.120992
184,(6) Physical sciences,All postgraduate,2018/19,7155,9895,25,17075,41.903367,57.950220,0.146413
215,(7) Mathematical sciences,All postgraduate,2014/15,1885,3620,0,5505,34.241599,65.758401,0.000000
216,(7) Mathematical sciences,All postgraduate,2015/16,1885,3640,0,5530,34.086799,65.822785,0.000000
217,(7) Mathematical sciences,All postgraduate,2016/17,2070,3830,15,5915,34.995773,64.750634,0.253593
218,(7) Mathematical sciences,All postgraduate,2017/18,2000,3910,15,5925,33.755274,65.991561,0.253165
219,(7) Mathematical sciences,All postgraduate,2018/19,2140,3955,15,6110,35.024550,64.729951,0.245499
250,(8) Computer science,All postgraduate,2014/15,3495,10315,0,13815,25.298588,74.665219,0.000000
251,(8) Computer science,All postgraduate,2015/16,3650,9990,0,13640,26.759531,73.240469,0.000000
252,(8) Computer science,All postgraduate,2016/17,3805,10460,5,14270,26.664331,73.300631,0.035039
253,(8) Computer science,All postgraduate,2017/18,4210,11265,15,15485,27.187601,72.747820,0.096868
254,(8) Computer science,All postgraduate,2018/19,4990,12450,25,17460,28.579611,71.305842,0.143184
285,(9) Engineering & technology,All postgraduate,2014/15,7790,24840,5,32635,23.870078,76.114601,0.015321
286,(9) Engineering & technology,All postgraduate,2015/16,7705,24195,5,31900,24.153605,75.846395,0.015674
287,(9) Engineering & technology,All postgraduate,2016/17,7790,23715,15,31520,24.714467,75.237944,0.047589
288,(9) Engineering & technology,All postgraduate,2017/18,7810,23110,0,30920,25.258732,74.741268,0.000000
289,(9) Engineering & technology,All postgraduate,2018/19,8195,23120,10,31325,26.161213,73.806864,0.031923
320,"(A) Architecture, building & planning",All postgraduate,2014/15,5000,7275,0,12270,40.749796,59.290954,0.000000
321,"(A) Architecture, building & planning",All postgraduate,2015/16,5275,7415,5,12690,41.568164,58.431836,0.039401
322,"(A) Architecture, building & planning",All postgraduate,2016/17,5775,7900,5,13680,42.214912,57.748538,0.036550
323,"(A) Architecture, building & planning",All postgraduate,2017/18,6025,8020,0,14050,42.882562,57.081851,0.000000
324,"(A) Architecture, building & planning",All postgraduate,2018/19,6355,8000,0,14360,44.254875,55.710306,0.000000
355,(B) Social studies,All postgraduate,2014/15,26595,15540,15,42150,63.096085,36.868327,0.035587
356,(B) Social studies,All postgraduate,2015/16,26620,15495,20,42135,63.177881,36.774653,0.047466
357,(B) Social studies,All postgraduate,2016/17,28175,16450,50,44675,63.066592,36.821489,0.111919
358,(B) Social studies,All postgraduate,2017/18,28930,16445,100,45475,63.617372,36.162727,0.219901
359,(B) Social studies,All postgraduate,2018/19,29705,16060,130,45890,64.730878,34.996731,0.283286
390,(C) Law,All postgraduate,2014/15,8370,6970,10,15350,54.527687,45.407166,0.065147
391,(C) Law,All postgraduate,2015/16,8510,6910,5,15425,55.170178,44.797407,0.032415
392,(C) Law,All postgraduate,2016/17,9030,7060,15,16105,56.069544,43.837318,0.093139
393,(C) Law,All postgraduate,2017/18,9525,6915,30,16470,57.832423,41.985428,0.182149
394,(C) Law,All postgraduate,2018/19,9545,6640,30,16220,58.847102,40.937115,0.184957
425,(D) Business & administrative studies,All postgraduate,2014/15,42435,41130,0,83565,50.780829,49.219171,0.000000
426,(D) Business & administrative studies,All postgraduate,2015/16,41790,38840,5,80635,51.826130,48.167669,0.006201
427,(D) Business & administrative studies,All postgraduate,2016/17,42175,39265,20,81455,51.777055,48.204530,0.024553
428,(D) Business & administrative studies,All postgraduate,2017/18,45120,40405,50,85570,52.728760,47.218651,0.058432
429,(D) Business & administrative studies,All postgraduate,2018/19,47345,43340,50,90730,52.182299,47.768103,0.055109
460,(E) Mass communications & documentation,All postgraduate,2014/15,5740,2720,5,8465,67.808624,32.132310,0.059067
461,(E) Mass communications & documentation,All postgraduate,2015/16,5540,2605,5,8150,67.975460,31.963190,0.061350
462,(E) Mass communications & documentation,All postgraduate,2016/17,5905,2870,15,8785,67.216847,32.669323,0.170746
463,(E) Mass communications & documentation,All postgraduate,2017/18,6655,3170,25,9850,67.563452,32.182741,0.253807
464,(E) Mass communications & documentation,All postgraduate,2018/19,7140,3200,20,10360,68.918919,30.888031,0.193050
495,(F) Languages,All postgraduate,2014/15,8825,4175,5,13005,67.858516,32.103037,0.038447
496,(F) Languages,All postgraduate,2015/16,8295,3885,5,12185,68.075503,31.883463,0.041034
497,(F) Languages,All postgraduate,2016/17,9140,4180,15,13335,68.541432,31.346082,0.112486
498,(F) Languages,All postgraduate,2017/18,9235,4105,45,13385,68.995144,30.668659,0.336197
499,(F) Languages,All postgraduate,2018/19,9175,3980,50,13205,69.481257,30.140098,0.378644
530,(G) Historical & philosophical studies,All postgraduate,2014/15,6665,6840,10,13515,49.315575,50.610433,0.073992
531,(G) Historical & philosophical studies,All postgraduate,2015/16,6610,6600,10,13215,50.018918,49.943246,0.075672
532,(G) Historical & philosophical studies,All postgraduate,2016/17,7205,6870,25,14100,51.099291,48.723404,0.177305
533,(G) Historical & philosophical studies,All postgraduate,2017/18,7330,6695,50,14075,52.078153,47.566607,0.355240
534,(G) Historical & philosophical studies,All postgraduate,2018/19,7060,6585,45,13695,51.551661,48.083242,0.328587
565,(H) Creative arts & design,All postgraduate,2014/15,12010,6760,10,18780,63.951012,35.995740,0.053248
566,(H) Creative arts & design,All postgraduate,2015/16,12395,6685,10,19090,64.929282,35.018334,0.052383
567,(H) Creative arts & design,All postgraduate,2016/17,14050,7755,30,21840,64.331502,35.508242,0.137363
568,(H) Creative arts & design,All postgraduate,2017/18,15200,7965,45,23215,65.474908,34.309714,0.193840
569,(H) Creative arts & design,All postgraduate,2018/19,16245,8170,95,24510,66.279070,33.333333,0.387597
600,(I) Education,All postgraduate,2014/15,46145,21315,10,67465,68.398429,31.594160,0.014823
601,(I) Education,All postgraduate,2015/16,42890,19620,10,62520,68.602047,31.381958,0.015995
602,(I) Education,All postgraduate,2016/17,41630,18780,20,60425,68.895325,31.079851,0.033099
603,(I) Education,All postgraduate,2017/18,41165,17705,35,58900,69.889643,30.059423,0.059423
604,(I) Education,All postgraduate,2018/19,41270,17655,45,58975,69.978805,29.936414,0.076304
635,(J) Combined,All postgraduate,2014/15,830,455,0,1285,64.591440,35.408560,0.000000
636,(J) Combined,All postgraduate,2015/16,835,495,0,1330,62.781955,37.218045,0.000000
637,(J) Combined,All postgraduate,2016/17,730,350,0,1080,67.592593,32.407407,0.000000
638,(J) Combined,All postgraduate,2017/18,725,340,0,1065,68.075117,31.924883,0.000000
639,(J) Combined,All postgraduate,2018/19,635,310,0,945,67.195767,32.804233,0.000000

## Then calculate 'average change' in proportion of students in each sex over 5-year period

In [191]:
pivotDfEnglandAllYearPercent = pivotDfEnglandAllYear.copy()

In [192]:
pivotDfEnglandAllYearPercent['Female (%) 2014/15'] = (pivotDfEnglandAllYearPercent['Female']['2014/15'] / pivotDfEnglandAllYearPercent['Total']['2014/15']) * 100
pivotDfEnglandAllYearPercent['Male (%) 2014/15'] = (pivotDfEnglandAllYearPercent['Male']['2014/15'] / pivotDfEnglandAllYearPercent['Total']['2014/15']) * 100
pivotDfEnglandAllYearPercent['Other (%) 2014/15'] = (pivotDfEnglandAllYearPercent['Other']['2014/15'] / pivotDfEnglandAllYearPercent['Total']['2014/15']) * 100
pivotDfEnglandAllYearPercent['Female (%) 2015/16'] = (pivotDfEnglandAllYearPercent['Female']['2015/16'] / pivotDfEnglandAllYearPercent['Total']['2015/16']) * 100
pivotDfEnglandAllYearPercent['Male (%) 2015/16'] = (pivotDfEnglandAllYearPercent['Male']['2015/16'] / pivotDfEnglandAllYearPercent['Total']['2015/16']) * 100
pivotDfEnglandAllYearPercent['Other (%) 2015/16'] = (pivotDfEnglandAllYearPercent['Other']['2015/16'] / pivotDfEnglandAllYearPercent['Total']['2015/16']) * 100
pivotDfEnglandAllYearPercent['Female (%) 2016/17'] = (pivotDfEnglandAllYearPercent['Female']['2016/17'] / pivotDfEnglandAllYearPercent['Total']['2016/17']) * 100
pivotDfEnglandAllYearPercent['Male (%) 2016/17'] = (pivotDfEnglandAllYearPercent['Male']['2016/17'] / pivotDfEnglandAllYearPercent['Total']['2016/17']) * 100
pivotDfEnglandAllYearPercent['Other (%) 2016/17'] = (pivotDfEnglandAllYearPercent['Other']['2016/17'] / pivotDfEnglandAllYearPercent['Total']['2016/17']) * 100
pivotDfEnglandAllYearPercent['Female (%) 2017/18'] = (pivotDfEnglandAllYearPercent['Female']['2017/18'] / pivotDfEnglandAllYearPercent['Total']['2017/18']) * 100
pivotDfEnglandAllYearPercent['Male (%) 2017/18'] = (pivotDfEnglandAllYearPercent['Male']['2017/18'] / pivotDfEnglandAllYearPercent['Total']['2017/18']) * 100
pivotDfEnglandAllYearPercent['Other (%) 2017/18'] = (pivotDfEnglandAllYearPercent['Other']['2017/18'] / pivotDfEnglandAllYearPercent['Total']['2017/18']) * 100
pivotDfEnglandAllYearPercent['Female (%) 2018/19'] = (pivotDfEnglandAllYearPercent['Female']['2018/19'] / pivotDfEnglandAllYearPercent['Total']['2018/19']) * 100
pivotDfEnglandAllYearPercent['Male (%) 2018/19'] = (pivotDfEnglandAllYearPercent['Male']['2018/19'] / pivotDfEnglandAllYearPercent['Total']['2018/19']) * 100
pivotDfEnglandAllYearPercent['Other (%) 2018/19'] = (pivotDfEnglandAllYearPercent['Other']['2018/19'] / pivotDfEnglandAllYearPercent['Total']['2018/19']) * 100

In [193]:
pivotDfEnglandAllYearPercent = pivotDfEnglandAllYearPercent.drop(columns=['Female','Male','Other','Total'])

In [194]:
pivotDfEnglandAllYearPercent['Avg. % Change of Female'] = ((pivotDfEnglandAllYearPercent['Female (%) 2015/16'] - pivotDfEnglandAllYearPercent['Female (%) 2014/15']) +
                                                                (pivotDfEnglandAllYearPercent['Female (%) 2016/17'] - pivotDfEnglandAllYearPercent['Female (%) 2015/16']) +
                                                                (pivotDfEnglandAllYearPercent['Female (%) 2017/18'] - pivotDfEnglandAllYearPercent['Female (%) 2016/17']) +
                                                                (pivotDfEnglandAllYearPercent['Female (%) 2018/19'] - pivotDfEnglandAllYearPercent['Female (%) 2017/18'])) / 4
pivotDfEnglandAllYearPercent['Avg. % Change of Male'] = ((pivotDfEnglandAllYearPercent['Male (%) 2015/16'] - pivotDfEnglandAllYearPercent['Male (%) 2014/15']) +
                                                                (pivotDfEnglandAllYearPercent['Male (%) 2016/17'] - pivotDfEnglandAllYearPercent['Male (%) 2015/16']) +
                                                                (pivotDfEnglandAllYearPercent['Male (%) 2017/18'] - pivotDfEnglandAllYearPercent['Male (%) 2016/17']) +
                                                                (pivotDfEnglandAllYearPercent['Male (%) 2018/19'] - pivotDfEnglandAllYearPercent['Male (%) 2017/18'])) / 4
pivotDfEnglandAllYearPercent['Avg. % Change of Other'] = ((pivotDfEnglandAllYearPercent['Other (%) 2015/16'] - pivotDfEnglandAllYearPercent['Other (%) 2014/15']) +
                                                                (pivotDfEnglandAllYearPercent['Other (%) 2016/17'] - pivotDfEnglandAllYearPercent['Other (%) 2015/16']) +
                                                                (pivotDfEnglandAllYearPercent['Other (%) 2017/18'] - pivotDfEnglandAllYearPercent['Other (%) 2016/17']) +
                                                                (pivotDfEnglandAllYearPercent['Other (%) 2018/19'] - pivotDfEnglandAllYearPercent['Other (%) 2017/18'])) / 4

In [197]:
pivotDfEnglandAllYearAvgPercentChg =  pivotDfEnglandAllYearPercent.drop(columns=[
    'Female (%) 2014/15', 'Female (%) 2015/16', 'Female (%) 2016/17', 'Female (%) 2017/18', 'Female (%) 2018/19',
    'Male (%) 2014/15', 'Male (%) 2015/16', 'Male (%) 2016/17', 'Male (%) 2017/18', 'Male (%) 2018/19',
    'Other (%) 2014/15', 'Other (%) 2015/16', 'Other (%) 2016/17', 'Other (%) 2017/18', 'Other (%) 2018/19',
])

In [198]:
pivotDfEnglandAllYearAvgPercentChg[pivotDfEnglandAllYearAvgPercentChg['Level of study'] == 'All'].sort_values(by='Avg. % Change of Female', ascending=False)

Sex,Subject Area,Level of study,Avg. % Change of Female,Avg. % Change of Male,Avg. % Change of Other
Academic Year,,,,,
28,(5) Agriculture & related subjects,All,1.177944,-1.194446,0.016502
14,(3) Biological sciences,All,1.002826,-1.022432,0.019606
35,(6) Physical sciences,All,0.883177,-0.896493,0.011652
77,(C) Law,All,0.795564,-0.807966,0.012402
63,"(A) Architecture, building & planning",All,0.676764,-0.682290,0.002340
56,(9) Engineering & technology,All,0.634678,-0.641308,0.005674
0,(1) Medicine & dentistry,All,0.619061,-0.655575,0.036515
98,(F) Languages,All,0.561853,-0.593218,0.032747
119,(I) Education,All,0.448049,-0.458400,0.009403
126,(J) Combined,All,0.390082,-0.384965,0.001267
112,(H) Creative arts & design,All,0.342691,-0.390201,0.046721
105,(G) Historical & philosophical studies,All,0.333419,-0.362855,0.029436
49,(8) Computer science,All,0.293047,-0.311495,0.020152
21,(4) Veterinary science,All,0.217168,-0.264400,0.018464
70,(B) Social studies,All,0.115671,-0.137229,0.021559
91,(E) Mass communications & documentation,All,-0.040355,0.018145,0.022210
42,(7) Mathematical sciences,All,-0.063591,0.047850,0.019194
84,(D) Business & administrative studies,All,-0.077737,0.071971,0.005712
7,(2) Subjects allied to medicine,All,-0.151003,0.130755,0.019713

# Wales : Finding average change in proportion of students in each sex over 5-year period, categorised by subject area and level of study 
(*not change in exact number of students!)

## Started by calculate proportion of students in each sex over 5-year period in Wales

In [199]:
dfWales = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'Wales') &
    (~df['Subject Area'].str.startswith('Total'))]

In [200]:
dfWales

,Subject Area,First year marker,Level of study,Mode of study,Country of HE provider,Sex,Academic Year,Number
540,(1) Medicine & dentistry,All,All,All,Wales,Female,2014/15,2275
541,(1) Medicine & dentistry,All,All,All,Wales,Male,2014/15,1570
542,(1) Medicine & dentistry,All,All,All,Wales,Other,2014/15,0
543,(1) Medicine & dentistry,All,All,All,Wales,Total,2014/15,3850
544,(1) Medicine & dentistry,All,All,All,Wales,Female,2015/16,2185
...,...,...,...,...,...,...,...,...
121435,(J) Combined,All,All undergraduate,All,Wales,Total,2017/18,5360
121436,(J) Combined,All,All undergraduate,All,Wales,Female,2018/19,2875
121437,(J) Combined,All,All undergraduate,All,Wales,Male,2018/19,2330
121438,(J) Combined,All,All undergraduate,All,Wales,Other,2018/19,5
121439,(J) Combined,All,All undergraduate,All,Wales,Total,2018/19,5210

In [201]:
pivotDfWales = dfWales.pivot_table(
    'Number', ['Subject Area', 'Level of study', 'Academic Year'], 'Sex').reset_index()

In [203]:
pivotDfWalesAllYear = pivotDfWales.pivot_table(['Female','Male','Other',
                                'Total'], ['Subject Area', 'Level of study'], 'Academic Year').reset_index()

In [205]:
pivotDfWales['Female (%)'] = (pivotDfWales['Female'] / pivotDfWales['Total']) * 100
pivotDfWales['Male (%)'] = (pivotDfWales['Male'] / pivotDfWales['Total']) * 100
pivotDfWales['Other (%)'] = (pivotDfWales['Other'] / pivotDfWales['Total']) * 100

In [207]:
pivotDfWales

Sex,Subject Area,Level of study,Academic Year,Female,Male,Other,Total,Female (%),Male (%),Other (%)
0,(1) Medicine & dentistry,All,2014/15,2275,1570,0,3850,59.090909,40.779221,0.0
1,(1) Medicine & dentistry,All,2015/16,2185,1380,0,3565,61.290323,38.709677,0.0
2,(1) Medicine & dentistry,All,2016/17,2130,1235,0,3370,63.204748,36.646884,0.0
3,(1) Medicine & dentistry,All,2017/18,2030,1145,0,3180,63.836478,36.006289,0.0
4,(1) Medicine & dentistry,All,2018/19,2080,1125,0,3210,64.797508,35.046729,0.0
...,...,...,...,...,...,...,...,...,...,...
620,(J) Combined,Postgraduate (taught),2014/15,125,80,0,200,62.500000,40.000000,0.0
621,(J) Combined,Postgraduate (taught),2015/16,40,55,0,95,42.105263,57.894737,0.0
622,(J) Combined,Postgraduate (taught),2016/17,5,5,0,15,33.333333,33.333333,0.0
623,(J) Combined,Postgraduate (taught),2017/18,10,5,0,15,66.666667,33.333333,0.0
624,(J) Combined,Postgraduate (taught),2018/19,35,10,0,45,77.777778,22.222222,0.0

## Then calculate 'average change' in proportion of students in each sex over 5-year period

In [262]:
pivotDfWalesAllYearPercent = pivotDfWalesAllYear.copy()

In [263]:
pivotDfWalesAllYearPercent['Female (%) 2014/15'] = (pivotDfWalesAllYearPercent['Female']['2014/15'] / pivotDfWalesAllYearPercent['Total']['2014/15']) * 100
pivotDfWalesAllYearPercent['Male (%) 2014/15'] = (pivotDfWalesAllYearPercent['Male']['2014/15'] / pivotDfWalesAllYearPercent['Total']['2014/15']) * 100
pivotDfWalesAllYearPercent['Other (%) 2014/15'] = (pivotDfWalesAllYearPercent['Other']['2014/15'] / pivotDfWalesAllYearPercent['Total']['2014/15']) * 100
pivotDfWalesAllYearPercent['Female (%) 2015/16'] = (pivotDfWalesAllYearPercent['Female']['2015/16'] / pivotDfWalesAllYearPercent['Total']['2015/16']) * 100
pivotDfWalesAllYearPercent['Male (%) 2015/16'] = (pivotDfWalesAllYearPercent['Male']['2015/16'] / pivotDfWalesAllYearPercent['Total']['2015/16']) * 100
pivotDfWalesAllYearPercent['Other (%) 2015/16'] = (pivotDfWalesAllYearPercent['Other']['2015/16'] / pivotDfWalesAllYearPercent['Total']['2015/16']) * 100
pivotDfWalesAllYearPercent['Female (%) 2016/17'] = (pivotDfWalesAllYearPercent['Female']['2016/17'] / pivotDfWalesAllYearPercent['Total']['2016/17']) * 100
pivotDfWalesAllYearPercent['Male (%) 2016/17'] = (pivotDfWalesAllYearPercent['Male']['2016/17'] / pivotDfWalesAllYearPercent['Total']['2016/17']) * 100
pivotDfWalesAllYearPercent['Other (%) 2016/17'] = (pivotDfWalesAllYearPercent['Other']['2016/17'] / pivotDfWalesAllYearPercent['Total']['2016/17']) * 100
pivotDfWalesAllYearPercent['Female (%) 2017/18'] = (pivotDfWalesAllYearPercent['Female']['2017/18'] / pivotDfWalesAllYearPercent['Total']['2017/18']) * 100
pivotDfWalesAllYearPercent['Male (%) 2017/18'] = (pivotDfWalesAllYearPercent['Male']['2017/18'] / pivotDfWalesAllYearPercent['Total']['2017/18']) * 100
pivotDfWalesAllYearPercent['Other (%) 2017/18'] = (pivotDfWalesAllYearPercent['Other']['2017/18'] / pivotDfWalesAllYearPercent['Total']['2017/18']) * 100
pivotDfWalesAllYearPercent['Female (%) 2018/19'] = (pivotDfWalesAllYearPercent['Female']['2018/19'] / pivotDfWalesAllYearPercent['Total']['2018/19']) * 100
pivotDfWalesAllYearPercent['Male (%) 2018/19'] = (pivotDfWalesAllYearPercent['Male']['2018/19'] / pivotDfWalesAllYearPercent['Total']['2018/19']) * 100
pivotDfWalesAllYearPercent['Other (%) 2018/19'] = (pivotDfWalesAllYearPercent['Other']['2018/19'] / pivotDfWalesAllYearPercent['Total']['2018/19']) * 100

In [264]:
pivotDfWalesAllYearPercent = pivotDfWalesAllYearPercent.drop(columns=['Female','Male','Other','Total'])

In [265]:
pivotDfWalesAllYearPercent['Avg. % Change of Female'] = ((pivotDfWalesAllYearPercent['Female (%) 2015/16'] - pivotDfWalesAllYearPercent['Female (%) 2014/15']) +
                                                                (pivotDfWalesAllYearPercent['Female (%) 2016/17'] - pivotDfWalesAllYearPercent['Female (%) 2015/16']) +
                                                                (pivotDfWalesAllYearPercent['Female (%) 2017/18'] - pivotDfWalesAllYearPercent['Female (%) 2016/17']) +
                                                                (pivotDfWalesAllYearPercent['Female (%) 2018/19'] - pivotDfWalesAllYearPercent['Female (%) 2017/18'])) / 4
pivotDfWalesAllYearPercent['Avg. % Change of Male'] = ((pivotDfWalesAllYearPercent['Male (%) 2015/16'] - pivotDfWalesAllYearPercent['Male (%) 2014/15']) +
                                                                (pivotDfWalesAllYearPercent['Male (%) 2016/17'] - pivotDfWalesAllYearPercent['Male (%) 2015/16']) +
                                                                (pivotDfWalesAllYearPercent['Male (%) 2017/18'] - pivotDfWalesAllYearPercent['Male (%) 2016/17']) +
                                                                (pivotDfWalesAllYearPercent['Male (%) 2018/19'] - pivotDfWalesAllYearPercent['Male (%) 2017/18'])) / 4
pivotDfWalesAllYearPercent['Avg. % Change of Other'] = ((pivotDfWalesAllYearPercent['Other (%) 2015/16'] - pivotDfWalesAllYearPercent['Other (%) 2014/15']) +
                                                                (pivotDfWalesAllYearPercent['Other (%) 2016/17'] - pivotDfWalesAllYearPercent['Other (%) 2015/16']) +
                                                                (pivotDfWalesAllYearPercent['Other (%) 2017/18'] - pivotDfWalesAllYearPercent['Other (%) 2016/17']) +
                                                                (pivotDfWalesAllYearPercent['Other (%) 2018/19'] - pivotDfWalesAllYearPercent['Other (%) 2017/18'])) / 4

In [266]:
pivotDfWalesAllYearAvgPercentChg =  pivotDfWalesAllYearPercent.drop(columns=[
    'Female (%) 2014/15', 'Female (%) 2015/16', 'Female (%) 2016/17', 'Female (%) 2017/18', 'Female (%) 2018/19',
    'Male (%) 2014/15', 'Male (%) 2015/16', 'Male (%) 2016/17', 'Male (%) 2017/18', 'Male (%) 2018/19',
    'Other (%) 2014/15', 'Other (%) 2015/16', 'Other (%) 2016/17', 'Other (%) 2017/18', 'Other (%) 2018/19',
])

In [267]:
pivotDfWalesAllYearAvgPercentChg[pivotDfWalesAllYearAvgPercentChg['Level of study'] == 'All'].sort_values(by='Avg. % Change of Female', ascending=False)

Sex,Subject Area,Level of study,Avg. % Change of Female,Avg. % Change of Male,Avg. % Change of Other
Academic Year,,,,,
21,(5) Agriculture & related subjects,All,3.276338,-3.373237,0.000000
14,(3) Biological sciences,All,1.712745,-1.733426,0.020681
28,(6) Physical sciences,All,1.688925,-1.749507,0.080775
0,(1) Medicine & dentistry,All,1.426650,-1.433123,0.000000
63,(B) Social studies,All,1.281268,-1.311669,0.030401
77,(D) Business & administrative studies,All,0.875006,-0.882811,0.009316
56,"(A) Architecture, building & planning",All,0.819762,-0.819762,0.000000
70,(C) Law,All,0.715712,-0.715712,0.000000
112,(I) Education,All,0.655133,-0.660096,0.004963
105,(H) Creative arts & design,All,0.461171,-0.561458,0.085735
7,(2) Subjects allied to medicine,All,0.206349,-0.212302,0.015873
49,(9) Engineering & technology,All,0.077219,-0.078372,0.014324
42,(8) Computer science,All,-0.000285,0.003231,-0.002946
91,(F) Languages,All,-0.188471,0.187651,0.034578
84,(E) Mass communications & documentation,All,-0.259409,0.157230,0.049213
98,(G) Historical & philosophical studies,All,-0.264182,0.202606,0.030788
35,(7) Mathematical sciences,All,-0.386787,0.386787,0.075758
119,(J) Combined,All,-1.492615,1.492615,0.023787

# Northern Ireland : Finding average change in proportion of students in each sex over 5-year period, categorised by subject area and level of study 
(*not change in exact number of students!)

## Started by calculate proportion of students in each sex over 5-year period in Northern Ireland

In [214]:
dfNI = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'Northern Ireland') &
    (~df['Subject Area'].str.startswith('Total'))]

In [239]:
dfNI['Subject Area'].unique()

array(['(1) Medicine & dentistry', '(2) Subjects allied to medicine',
       '(3) Biological sciences', '(5) Agriculture & related subjects',
       '(6) Physical sciences', '(7) Mathematical sciences',
       '(8) Computer science', '(9) Engineering & technology',
       '(A) Architecture, building & planning', '(B) Social studies',
       '(C) Law', '(D) Business & administrative studies',
       '(E) Mass communications & documentation', '(F) Languages',
       '(G) Historical & philosophical studies',
       '(H) Creative arts & design', '(I) Education', '(J) Combined'],
      dtype=object)

In [248]:
dfNI[dfNI['Subject Area'] == '(E) Mass communications & documentation'].count()

Subject Area              120
First year marker         120
Level of study            120
Mode of study             120
Country of HE provider    120
Sex                       120
Academic Year             120
Number                    120
dtype: int64

In [233]:
dfNI

,Subject Area,First year marker,Level of study,Mode of study,Country of HE provider,Sex,Academic Year,Number
500,(1) Medicine & dentistry,All,All,All,Northern Ireland,Female,2014/15,1250
501,(1) Medicine & dentistry,All,All,All,Northern Ireland,Male,2014/15,825
502,(1) Medicine & dentistry,All,All,All,Northern Ireland,Other,2014/15,0
503,(1) Medicine & dentistry,All,All,All,Northern Ireland,Total,2014/15,2075
504,(1) Medicine & dentistry,All,All,All,Northern Ireland,Female,2015/16,1270
...,...,...,...,...,...,...,...,...
121395,(J) Combined,All,All undergraduate,All,Northern Ireland,Total,2017/18,740
121396,(J) Combined,All,All undergraduate,All,Northern Ireland,Female,2018/19,415
121397,(J) Combined,All,All undergraduate,All,Northern Ireland,Male,2018/19,300
121398,(J) Combined,All,All undergraduate,All,Northern Ireland,Other,2018/19,0
121399,(J) Combined,All,All undergraduate,All,Northern Ireland,Total,2018/19,715

In [249]:
pivotDfNI = dfNI.pivot_table(
    'Number', ['Subject Area', 'Level of study', 'Academic Year'], 'Sex').reset_index()

In [250]:
pivotDfNIAllYear = pivotDfNI.pivot_table(['Female','Male','Other',
                                'Total'], ['Subject Area', 'Level of study'], 'Academic Year').reset_index()

In [251]:
pivotDfNI['Female (%)'] = (pivotDfNI['Female'] / pivotDfNI['Total']) * 100
pivotDfNI['Male (%)'] = (pivotDfNI['Male'] / pivotDfNI['Total']) * 100
pivotDfNI['Other (%)'] = (pivotDfNI['Other'] / pivotDfNI['Total']) * 100

In [279]:
pivotDfNI

Sex,Subject Area,Level of study,Academic Year,Female,Male,Other,Total,Female (%),Male (%),Other (%)
0,(1) Medicine & dentistry,All,2014/15,1250,825,0,2075,60.240964,39.759036,0.0
1,(1) Medicine & dentistry,All,2015/16,1270,820,0,2095,60.620525,39.140811,0.0
2,(1) Medicine & dentistry,All,2016/17,1270,815,0,2085,60.911271,39.088729,0.0
3,(1) Medicine & dentistry,All,2017/18,1350,805,0,2160,62.500000,37.268519,0.0
4,(1) Medicine & dentistry,All,2018/19,1340,790,0,2130,62.910798,37.089202,0.0
...,...,...,...,...,...,...,...,...,...,...
615,(J) Combined,Postgraduate (taught),2014/15,125,50,0,175,71.428571,28.571429,0.0
616,(J) Combined,Postgraduate (taught),2015/16,125,60,0,185,67.567568,32.432432,0.0
617,(J) Combined,Postgraduate (taught),2016/17,130,120,0,250,52.000000,48.000000,0.0
618,(J) Combined,Postgraduate (taught),2017/18,90,55,0,140,64.285714,39.285714,0.0
619,(J) Combined,Postgraduate (taught),2018/19,90,65,0,150,60.000000,43.333333,0.0

In [285]:
pivotDfNI[pivotDfNI['Subject Area'] == '(7) Mathematical sciences']

Sex,Subject Area,Level of study,Academic Year,Female,Male,Other,Total,Female (%),Male (%),Other (%)
175,(7) Mathematical sciences,All,2014/15,245,310,0,560,43.750000,55.357143,0.0
176,(7) Mathematical sciences,All,2015/16,240,335,0,575,41.739130,58.260870,0.0
177,(7) Mathematical sciences,All,2016/17,230,340,0,570,40.350877,59.649123,0.0
178,(7) Mathematical sciences,All,2017/18,245,340,0,585,41.880342,58.119658,0.0
179,(7) Mathematical sciences,All,2018/19,245,340,0,585,41.880342,58.119658,0.0
180,(7) Mathematical sciences,All postgraduate,2014/15,5,10,0,15,33.333333,66.666667,0.0
181,(7) Mathematical sciences,All postgraduate,2015/16,5,15,0,20,25.000000,75.000000,0.0
182,(7) Mathematical sciences,All postgraduate,2016/17,5,15,0,20,25.000000,75.000000,0.0
183,(7) Mathematical sciences,All postgraduate,2017/18,20,30,0,50,40.000000,60.000000,0.0
184,(7) Mathematical sciences,All postgraduate,2018/19,25,30,0,55,45.454545,54.545455,0.0
185,(7) Mathematical sciences,All undergraduate,2014/15,240,300,0,545,44.036697,55.045872,0.0
186,(7) Mathematical sciences,All undergraduate,2015/16,235,315,0,550,42.727273,57.272727,0.0
187,(7) Mathematical sciences,All undergraduate,2016/17,225,325,0,550,40.909091,59.090909,0.0
188,(7) Mathematical sciences,All undergraduate,2017/18,225,310,0,535,42.056075,57.943925,0.0
189,(7) Mathematical sciences,All undergraduate,2018/19,220,310,0,530,41.509434,58.490566,0.0
190,(7) Mathematical sciences,First degree,2014/15,235,290,0,530,44.339623,54.716981,0.0
191,(7) Mathematical sciences,First degree,2015/16,230,315,0,540,42.592593,58.333333,0.0
192,(7) Mathematical sciences,First degree,2016/17,215,320,0,540,39.814815,59.259259,0.0
193,(7) Mathematical sciences,First degree,2017/18,220,305,0,525,41.904762,58.095238,0.0
194,(7) Mathematical sciences,First degree,2018/19,215,300,0,520,41.346154,57.692308,0.0
195,(7) Mathematical sciences,Other undergraduate,2014/15,5,10,0,15,33.333333,66.666667,0.0
196,(7) Mathematical sciences,Other undergraduate,2015/16,5,5,0,10,50.000000,50.000000,0.0
197,(7) Mathematical sciences,Other undergraduate,2016/17,5,5,0,15,33.333333,33.333333,0.0
198,(7) Mathematical sciences,Other undergraduate,2017/18,5,5,0,10,50.000000,50.000000,0.0
199,(7) Mathematical sciences,Other undergraduate,2018/19,5,5,0,10,50.000000,50.000000,0.0
200,(7) Mathematical sciences,Postgraduate (research),2014/15,5,5,0,10,50.000000,50.000000,0.0
201,(7) Mathematical sciences,Postgraduate (research),2015/16,5,10,0,15,33.333333,66.666667,0.0
202,(7) Mathematical sciences,Postgraduate (research),2016/17,5,10,0,15,33.333333,66.666667,0.0
203,(7) Mathematical sciences,Postgraduate (research),2017/18,5,10,0,10,50.000000,100.000000,0.0
204,(7) Mathematical sciences,Postgraduate (research),2018/19,5,5,0,10,50.000000,50.000000,0.0
205,(7) Mathematical sciences,Postgraduate (taught),2014/15,0,5,0,5,0.000000,100.000000,0.0
206,(7) Mathematical sciences,Postgraduate (taught),2015/16,0,5,0,10,0.000000,50.000000,0.0
207,(7) Mathematical sciences,Postgraduate (taught),2016/17,0,5,0,5,0.000000,100.000000,0.0
208,(7) Mathematical sciences,Postgraduate (taught),2017/18,15,20,0,35,42.857143,57.142857,0.0
209,(7) Mathematical sciences,Postgraduate (taught),2018/19,20,25,0,45,44.444444,55.555556,0.0

## Then calculate 'average change' in proportion of students in each sex over 5-year period

In [253]:
pivotDfNIAllYearPercent = pivotDfNIAllYear.copy()

In [268]:
pivotDfNIAllYearPercent['Female (%) 2014/15'] = (pivotDfNIAllYearPercent['Female']['2014/15'] / pivotDfNIAllYearPercent['Total']['2014/15']) * 100
pivotDfNIAllYearPercent['Male (%) 2014/15'] = (pivotDfNIAllYearPercent['Male']['2014/15'] / pivotDfNIAllYearPercent['Total']['2014/15']) * 100
pivotDfNIAllYearPercent['Other (%) 2014/15'] = (pivotDfNIAllYearPercent['Other']['2014/15'] / pivotDfNIAllYearPercent['Total']['2014/15']) * 100
pivotDfNIAllYearPercent['Female (%) 2015/16'] = (pivotDfNIAllYearPercent['Female']['2015/16'] / pivotDfNIAllYearPercent['Total']['2015/16']) * 100
pivotDfNIAllYearPercent['Male (%) 2015/16'] = (pivotDfNIAllYearPercent['Male']['2015/16'] / pivotDfNIAllYearPercent['Total']['2015/16']) * 100
pivotDfNIAllYearPercent['Other (%) 2015/16'] = (pivotDfNIAllYearPercent['Other']['2015/16'] / pivotDfNIAllYearPercent['Total']['2015/16']) * 100
pivotDfNIAllYearPercent['Female (%) 2016/17'] = (pivotDfNIAllYearPercent['Female']['2016/17'] / pivotDfNIAllYearPercent['Total']['2016/17']) * 100
pivotDfNIAllYearPercent['Male (%) 2016/17'] = (pivotDfNIAllYearPercent['Male']['2016/17'] / pivotDfNIAllYearPercent['Total']['2016/17']) * 100
pivotDfNIAllYearPercent['Other (%) 2016/17'] = (pivotDfNIAllYearPercent['Other']['2016/17'] / pivotDfNIAllYearPercent['Total']['2016/17']) * 100
pivotDfNIAllYearPercent['Female (%) 2017/18'] = (pivotDfNIAllYearPercent['Female']['2017/18'] / pivotDfNIAllYearPercent['Total']['2017/18']) * 100
pivotDfNIAllYearPercent['Male (%) 2017/18'] = (pivotDfNIAllYearPercent['Male']['2017/18'] / pivotDfNIAllYearPercent['Total']['2017/18']) * 100
pivotDfNIAllYearPercent['Other (%) 2017/18'] = (pivotDfNIAllYearPercent['Other']['2017/18'] / pivotDfNIAllYearPercent['Total']['2017/18']) * 100
pivotDfNIAllYearPercent['Female (%) 2018/19'] = (pivotDfNIAllYearPercent['Female']['2018/19'] / pivotDfNIAllYearPercent['Total']['2018/19']) * 100
pivotDfNIAllYearPercent['Male (%) 2018/19'] = (pivotDfNIAllYearPercent['Male']['2018/19'] / pivotDfNIAllYearPercent['Total']['2018/19']) * 100
pivotDfNIAllYearPercent['Other (%) 2018/19'] = (pivotDfNIAllYearPercent['Other']['2018/19'] / pivotDfNIAllYearPercent['Total']['2018/19']) * 100

In [269]:
pivotDfNIAllYearPercent = pivotDfNIAllYearPercent.drop(columns=['Female','Male','Other','Total'])

In [270]:
pivotDfNIAllYearPercent['Avg. % Change of Female'] = ((pivotDfNIAllYearPercent['Female (%) 2015/16'] - pivotDfNIAllYearPercent['Female (%) 2014/15']) +
                                                                (pivotDfNIAllYearPercent['Female (%) 2016/17'] - pivotDfNIAllYearPercent['Female (%) 2015/16']) +
                                                                (pivotDfNIAllYearPercent['Female (%) 2017/18'] - pivotDfNIAllYearPercent['Female (%) 2016/17']) +
                                                                (pivotDfNIAllYearPercent['Female (%) 2018/19'] - pivotDfNIAllYearPercent['Female (%) 2017/18'])) / 4
pivotDfNIAllYearPercent['Avg. % Change of Male'] = ((pivotDfNIAllYearPercent['Male (%) 2015/16'] - pivotDfNIAllYearPercent['Male (%) 2014/15']) +
                                                                (pivotDfNIAllYearPercent['Male (%) 2016/17'] - pivotDfNIAllYearPercent['Male (%) 2015/16']) +
                                                                (pivotDfNIAllYearPercent['Male (%) 2017/18'] - pivotDfNIAllYearPercent['Male (%) 2016/17']) +
                                                                (pivotDfNIAllYearPercent['Male (%) 2018/19'] - pivotDfNIAllYearPercent['Male (%) 2017/18'])) / 4
pivotDfNIAllYearPercent['Avg. % Change of Other'] = ((pivotDfNIAllYearPercent['Other (%) 2015/16'] - pivotDfNIAllYearPercent['Other (%) 2014/15']) +
                                                                (pivotDfNIAllYearPercent['Other (%) 2016/17'] - pivotDfNIAllYearPercent['Other (%) 2015/16']) +
                                                                (pivotDfNIAllYearPercent['Other (%) 2017/18'] - pivotDfNIAllYearPercent['Other (%) 2016/17']) +
                                                                (pivotDfNIAllYearPercent['Other (%) 2018/19'] - pivotDfNIAllYearPercent['Other (%) 2017/18'])) / 4

In [271]:
pivotDfNIAllYearAvgPercentChg =  pivotDfNIAllYearPercent.drop(columns=[
    'Female (%) 2014/15', 'Female (%) 2015/16', 'Female (%) 2016/17', 'Female (%) 2017/18', 'Female (%) 2018/19',
    'Male (%) 2014/15', 'Male (%) 2015/16', 'Male (%) 2016/17', 'Male (%) 2017/18', 'Male (%) 2018/19',
    'Other (%) 2014/15', 'Other (%) 2015/16', 'Other (%) 2016/17', 'Other (%) 2017/18', 'Other (%) 2018/19',
])

In [272]:
pivotDfNIAllYearAvgPercentChg[pivotDfNIAllYearAvgPercentChg['Level of study'] == 'All'].sort_values(by='Avg. % Change of Female', ascending=False)

Sex,Subject Area,Level of study,Avg. % Change of Female,Avg. % Change of Male,Avg. % Change of Other
Academic Year,,,,,
118,(J) Combined,All,1.673656,-1.673656,0.0
49,(9) Engineering & technology,All,1.076849,-1.076849,0.0
70,(C) Law,All,1.009765,-0.949524,0.0
104,(H) Creative arts & design,All,0.775449,-0.775449,0.0
21,(5) Agriculture & related subjects,All,0.772714,-0.772714,0.0
97,(G) Historical & philosophical studies,All,0.713916,-0.713916,0.0
0,(1) Medicine & dentistry,All,0.667459,-0.667459,0.0
84,(E) Mass communications & documentation,All,0.563022,-0.563022,0.0
28,(6) Physical sciences,All,0.552027,-0.552027,0.0
90,(F) Languages,All,0.444317,-0.522934,0.0
77,(D) Business & administrative studies,All,0.361088,-0.361088,0.0
7,(2) Subjects allied to medicine,All,0.281258,-0.294382,0.0
14,(3) Biological sciences,All,0.174355,-0.174355,0.0
42,(8) Computer science,All,0.098909,-0.129030,0.0
111,(I) Education,All,0.057169,-0.057169,0.0
63,(B) Social studies,All,-0.062637,0.062637,0.0
56,"(A) Architecture, building & planning",All,-0.125319,0.125319,0.0
35,(7) Mathematical sciences,All,-0.467415,0.690629,0.0

# Scotland : Finding average change in proportion of students in each sex over 5-year period, categorised by subject area and level of study 
(*not change in exact number of students!)

## Started by calculate proportion of students in each sex over 5-year period in Scotland

In [286]:
dfScotland = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'Scotland') &
    (~df['Subject Area'].str.startswith('Total'))]

In [288]:
dfScotland

,Subject Area,First year marker,Level of study,Mode of study,Country of HE provider,Sex,Academic Year,Number
520,(1) Medicine & dentistry,All,All,All,Scotland,Female,2014/15,4440
521,(1) Medicine & dentistry,All,All,All,Scotland,Male,2014/15,3265
522,(1) Medicine & dentistry,All,All,All,Scotland,Other,2014/15,0
523,(1) Medicine & dentistry,All,All,All,Scotland,Total,2014/15,7710
524,(1) Medicine & dentistry,All,All,All,Scotland,Female,2015/16,4500
...,...,...,...,...,...,...,...,...
121415,(J) Combined,All,All undergraduate,All,Scotland,Total,2017/18,6165
121416,(J) Combined,All,All undergraduate,All,Scotland,Female,2018/19,3840
121417,(J) Combined,All,All undergraduate,All,Scotland,Male,2018/19,2055
121418,(J) Combined,All,All undergraduate,All,Scotland,Other,2018/19,5
121419,(J) Combined,All,All undergraduate,All,Scotland,Total,2018/19,5900

In [289]:
pivotDfScotland = dfScotland.pivot_table(
    'Number', ['Subject Area', 'Level of study', 'Academic Year'], 'Sex').reset_index()

In [290]:
pivotDfScotlandAllYear = pivotDfScotland.pivot_table(['Female','Male','Other',
                                'Total'], ['Subject Area', 'Level of study'], 'Academic Year').reset_index()

In [291]:
pivotDfScotland['Female (%)'] = (pivotDfScotland['Female'] / pivotDfScotland['Total']) * 100
pivotDfScotland['Male (%)'] = (pivotDfScotland['Male'] / pivotDfScotland['Total']) * 100
pivotDfScotland['Other (%)'] = (pivotDfScotland['Other'] / pivotDfScotland['Total']) * 100

In [293]:
pivotDfScotland

Sex,Subject Area,Level of study,Academic Year,Female,Male,Other,Total,Female (%),Male (%),Other (%)
0,(1) Medicine & dentistry,All,2014/15,4440,3265,0,7710,57.587549,42.347601,0.000000
1,(1) Medicine & dentistry,All,2015/16,4500,3150,0,7655,58.785108,41.149575,0.000000
2,(1) Medicine & dentistry,All,2016/17,4570,3070,5,7640,59.816754,40.183246,0.065445
3,(1) Medicine & dentistry,All,2017/18,4635,3020,0,7655,60.548661,39.451339,0.000000
4,(1) Medicine & dentistry,All,2018/19,4770,3010,15,7795,61.193072,38.614496,0.192431
...,...,...,...,...,...,...,...,...,...,...
650,(J) Combined,Postgraduate (taught),2014/15,180,80,0,260,69.230769,30.769231,0.000000
651,(J) Combined,Postgraduate (taught),2015/16,115,70,0,185,62.162162,37.837838,0.000000
652,(J) Combined,Postgraduate (taught),2016/17,55,40,0,95,57.894737,42.105263,0.000000
653,(J) Combined,Postgraduate (taught),2017/18,70,60,0,135,51.851852,44.444444,0.000000
654,(J) Combined,Postgraduate (taught),2018/19,110,50,0,160,68.750000,31.250000,0.000000

## Then calculate 'average change' in proportion of students in each sex over 5-year period

In [295]:
pivotDfScotlandAllYearPercent = pivotDfScotlandAllYear.copy()

In [296]:
pivotDfScotlandAllYearPercent['Female (%) 2014/15'] = (pivotDfScotlandAllYearPercent['Female']['2014/15'] / pivotDfScotlandAllYearPercent['Total']['2014/15']) * 100
pivotDfScotlandAllYearPercent['Male (%) 2014/15'] = (pivotDfScotlandAllYearPercent['Male']['2014/15'] / pivotDfScotlandAllYearPercent['Total']['2014/15']) * 100
pivotDfScotlandAllYearPercent['Other (%) 2014/15'] = (pivotDfScotlandAllYearPercent['Other']['2014/15'] / pivotDfScotlandAllYearPercent['Total']['2014/15']) * 100
pivotDfScotlandAllYearPercent['Female (%) 2015/16'] = (pivotDfScotlandAllYearPercent['Female']['2015/16'] / pivotDfScotlandAllYearPercent['Total']['2015/16']) * 100
pivotDfScotlandAllYearPercent['Male (%) 2015/16'] = (pivotDfScotlandAllYearPercent['Male']['2015/16'] / pivotDfScotlandAllYearPercent['Total']['2015/16']) * 100
pivotDfScotlandAllYearPercent['Other (%) 2015/16'] = (pivotDfScotlandAllYearPercent['Other']['2015/16'] / pivotDfScotlandAllYearPercent['Total']['2015/16']) * 100
pivotDfScotlandAllYearPercent['Female (%) 2016/17'] = (pivotDfScotlandAllYearPercent['Female']['2016/17'] / pivotDfScotlandAllYearPercent['Total']['2016/17']) * 100
pivotDfScotlandAllYearPercent['Male (%) 2016/17'] = (pivotDfScotlandAllYearPercent['Male']['2016/17'] / pivotDfScotlandAllYearPercent['Total']['2016/17']) * 100
pivotDfScotlandAllYearPercent['Other (%) 2016/17'] = (pivotDfScotlandAllYearPercent['Other']['2016/17'] / pivotDfScotlandAllYearPercent['Total']['2016/17']) * 100
pivotDfScotlandAllYearPercent['Female (%) 2017/18'] = (pivotDfScotlandAllYearPercent['Female']['2017/18'] / pivotDfScotlandAllYearPercent['Total']['2017/18']) * 100
pivotDfScotlandAllYearPercent['Male (%) 2017/18'] = (pivotDfScotlandAllYearPercent['Male']['2017/18'] / pivotDfScotlandAllYearPercent['Total']['2017/18']) * 100
pivotDfScotlandAllYearPercent['Other (%) 2017/18'] = (pivotDfScotlandAllYearPercent['Other']['2017/18'] / pivotDfScotlandAllYearPercent['Total']['2017/18']) * 100
pivotDfScotlandAllYearPercent['Female (%) 2018/19'] = (pivotDfScotlandAllYearPercent['Female']['2018/19'] / pivotDfScotlandAllYearPercent['Total']['2018/19']) * 100
pivotDfScotlandAllYearPercent['Male (%) 2018/19'] = (pivotDfScotlandAllYearPercent['Male']['2018/19'] / pivotDfScotlandAllYearPercent['Total']['2018/19']) * 100
pivotDfScotlandAllYearPercent['Other (%) 2018/19'] = (pivotDfScotlandAllYearPercent['Other']['2018/19'] / pivotDfScotlandAllYearPercent['Total']['2018/19']) * 100

In [297]:
pivotDfScotlandAllYearPercent = pivotDfScotlandAllYearPercent.drop(columns=['Female','Male','Other','Total'])

In [299]:
pivotDfScotlandAllYearPercent['Avg. % Change of Female'] = ((pivotDfScotlandAllYearPercent['Female (%) 2015/16'] - pivotDfScotlandAllYearPercent['Female (%) 2014/15']) +
                                                                (pivotDfScotlandAllYearPercent['Female (%) 2016/17'] - pivotDfScotlandAllYearPercent['Female (%) 2015/16']) +
                                                                (pivotDfScotlandAllYearPercent['Female (%) 2017/18'] - pivotDfScotlandAllYearPercent['Female (%) 2016/17']) +
                                                                (pivotDfScotlandAllYearPercent['Female (%) 2018/19'] - pivotDfScotlandAllYearPercent['Female (%) 2017/18'])) / 4
pivotDfScotlandAllYearPercent['Avg. % Change of Male'] = ((pivotDfScotlandAllYearPercent['Male (%) 2015/16'] - pivotDfScotlandAllYearPercent['Male (%) 2014/15']) +
                                                                (pivotDfScotlandAllYearPercent['Male (%) 2016/17'] - pivotDfScotlandAllYearPercent['Male (%) 2015/16']) +
                                                                (pivotDfScotlandAllYearPercent['Male (%) 2017/18'] - pivotDfScotlandAllYearPercent['Male (%) 2016/17']) +
                                                                (pivotDfScotlandAllYearPercent['Male (%) 2018/19'] - pivotDfScotlandAllYearPercent['Male (%) 2017/18'])) / 4
pivotDfScotlandAllYearPercent['Avg. % Change of Other'] = ((pivotDfScotlandAllYearPercent['Other (%) 2015/16'] - pivotDfScotlandAllYearPercent['Other (%) 2014/15']) +
                                                                (pivotDfScotlandAllYearPercent['Other (%) 2016/17'] - pivotDfScotlandAllYearPercent['Other (%) 2015/16']) +
                                                                (pivotDfScotlandAllYearPercent['Other (%) 2017/18'] - pivotDfScotlandAllYearPercent['Other (%) 2016/17']) +
                                                                (pivotDfScotlandAllYearPercent['Other (%) 2018/19'] - pivotDfScotlandAllYearPercent['Other (%) 2017/18'])) / 4

In [300]:
pivotDfScotlandAllYearAvgPercentChg =  pivotDfScotlandAllYearPercent.drop(columns=[
    'Female (%) 2014/15', 'Female (%) 2015/16', 'Female (%) 2016/17', 'Female (%) 2017/18', 'Female (%) 2018/19',
    'Male (%) 2014/15', 'Male (%) 2015/16', 'Male (%) 2016/17', 'Male (%) 2017/18', 'Male (%) 2018/19',
    'Other (%) 2014/15', 'Other (%) 2015/16', 'Other (%) 2016/17', 'Other (%) 2017/18', 'Other (%) 2018/19',
])

In [301]:
pivotDfScotlandAllYearAvgPercentChg[pivotDfScotlandAllYearAvgPercentChg['Level of study'] == 'All'].sort_values(by='Avg. % Change of Female', ascending=False)

Sex,Subject Area,Level of study,Avg. % Change of Female,Avg. % Change of Male,Avg. % Change of Other
Academic Year,,,,,
21,(4) Veterinary science,All,1.025783,-1.102470,0.000000
0,(1) Medicine & dentistry,All,0.901381,-0.933276,0.048108
76,(C) Law,All,0.894470,-0.921409,0.024958
34,(6) Physical sciences,All,0.856603,-0.887664,0.041645
27,(5) Agriculture & related subjects,All,0.829798,-0.829798,0.052743
90,(E) Mass communications & documentation,All,0.675543,-0.748964,0.073421
69,(B) Social studies,All,0.634777,-0.668861,0.034084
55,(9) Engineering & technology,All,0.515485,-0.551233,0.035748
104,(G) Historical & philosophical studies,All,0.513290,-0.813719,0.300429
48,(8) Computer science,All,0.499116,-0.531821,0.041659
125,(J) Combined,All,0.490324,-0.449934,-0.061000
14,(3) Biological sciences,All,0.430405,-0.571734,0.141328
7,(2) Subjects allied to medicine,All,0.424451,-0.436070,0.011618
62,"(A) Architecture, building & planning",All,0.408112,-0.405100,0.019592
111,(H) Creative arts & design,All,0.241802,-0.328206,0.076464
118,(I) Education,All,0.225127,-0.267959,0.050469
97,(F) Languages,All,0.011023,-0.267476,0.256453
83,(D) Business & administrative studies,All,-0.081401,0.081870,0.007034
41,(7) Mathematical sciences,All,-0.598430,0.573629,0.024802