In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset-1.csv')

In [3]:
df.head(10)

,Subject Area,First year marker,Level of study,Mode of study,Country of HE provider,Sex,Academic Year,Number
0,(1) Medicine & dentistry,All,All,Full-time,England,Female,2014/15,24835
1,(1) Medicine & dentistry,All,All,Full-time,England,Male,2014/15,19275
2,(1) Medicine & dentistry,All,All,Full-time,England,Other,2014/15,0
3,(1) Medicine & dentistry,All,All,Full-time,England,Total,2014/15,44110
4,(1) Medicine & dentistry,All,All,Full-time,England,Female,2015/16,25095
5,(1) Medicine & dentistry,All,All,Full-time,England,Male,2015/16,19290
6,(1) Medicine & dentistry,All,All,Full-time,England,Other,2015/16,0
7,(1) Medicine & dentistry,All,All,Full-time,England,Total,2015/16,44390
8,(1) Medicine & dentistry,All,All,Full-time,England,Female,2016/17,25130
9,(1) Medicine & dentistry,All,All,Full-time,England,Male,2016/17,19135

# View table structure and values for each column

In [22]:
df['Subject Area'].unique()

array(['(1) Medicine & dentistry', '(2) Subjects allied to medicine',
       '(3) Biological sciences', '(4) Veterinary science',
       '(5) Agriculture & related subjects', '(6) Physical sciences',
       '(7) Mathematical sciences', '(8) Computer science',
       '(9) Engineering & technology',
       '(A) Architecture, building & planning',
       'Total - Science subject areas', '(B) Social studies', '(C) Law',
       '(D) Business & administrative studies',
       '(E) Mass communications & documentation', '(F) Languages',
       '(G) Historical & philosophical studies',
       '(H) Creative arts & design', '(I) Education', '(J) Combined',
       'Total - Non-science subject areas', 'Total'], dtype=object)

In [31]:
df['Level of study'].unique()

array(['All', 'Postgraduate (research)', 'Postgraduate (taught)',
       'All postgraduate', 'First degree', 'Other undergraduate',
       'All undergraduate'], dtype=object)

In [35]:
df['First year marker'].unique()

array(['All', 'First year', 'Other years'], dtype=object)

In [36]:
df['Level of study'].unique()

array(['All', 'Postgraduate (research)', 'Postgraduate (taught)',
       'All postgraduate', 'First degree', 'Other undergraduate',
       'All undergraduate'], dtype=object)

In [37]:
df['Mode of study'].unique()

array(['Full-time', 'Part-time', 'All'], dtype=object)

In [39]:
df['Country of HE provider'].unique()

array(['England', 'Northern Ireland', 'Scotland', 'Wales', 'All'],
      dtype=object)

In [40]:
df['Sex'].unique()

array(['Female', 'Male', 'Other', 'Total'], dtype=object)

In [41]:
df['Academic Year'].unique()

array(['2014/15', '2015/16', '2016/17', '2017/18', '2018/19'],
      dtype=object)

# Compare each subject area by level of study

In [49]:
df[(df['Subject Area'] == '(1) Medicine & dentistry') &
   (df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'All') &
   (df['Sex'] == 'Total') &
   (df['Academic Year'] == '2014/15') &
   ((df['Level of study'] == 'All postgraduate') | (df['Level of study'] == 'All undergraduate'))]

,Subject Area,First year marker,Level of study,Mode of study,Country of HE provider,Sex,Academic Year,Number
3423,(1) Medicine & dentistry,All,All postgraduate,All,All,Total,2014/15,20395
5983,(1) Medicine & dentistry,All,All undergraduate,All,All,Total,2014/15,45605

In [50]:
df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'All') &
   (df['Sex'] == 'Total') &
   (df['Academic Year'] == '2014/15') &
   ((df['Level of study'] == 'All postgraduate') | (df['Level of study'] == 'All undergraduate'))]

,Subject Area,First year marker,Level of study,Mode of study,Country of HE provider,Sex,Academic Year,Number
3423,(1) Medicine & dentistry,All,All postgraduate,All,All,Total,2014/15,20395
5983,(1) Medicine & dentistry,All,All undergraduate,All,All,Total,2014/15,45605
9583,(2) Subjects allied to medicine,All,All postgraduate,All,All,Total,2014/15,62610
12283,(2) Subjects allied to medicine,All,All undergraduate,All,All,Total,2014/15,212735
15883,(3) Biological sciences,All,All postgraduate,All,All,Total,2014/15,34600
18583,(3) Biological sciences,All,All undergraduate,All,All,Total,2014/15,176760
20743,(4) Veterinary science,All,All postgraduate,All,All,Total,2014/15,815
21983,(4) Veterinary science,All,All undergraduate,All,All,Total,2014/15,5085
25583,(5) Agriculture & related subjects,All,All postgraduate,All,All,Total,2014/15,4075
28243,(5) Agriculture & related subjects,All,All undergraduate,All,All,Total,2014/15,15130
31843,(6) Physical sciences,All,All postgraduate,All,All,Total,2014/15,19870
34543,(6) Physical sciences,All,All undergraduate,All,All,Total,2014/15,73890
38123,(7) Mathematical sciences,All,All postgraduate,All,All,Total,2014/15,6270
40803,(7) Mathematical sciences,All,All undergraduate,All,All,Total,2014/15,36130
44403,(8) Computer science,All,All postgraduate,All,All,Total,2014/15,16740
47083,(8) Computer science,All,All undergraduate,All,All,Total,2014/15,76490
50683,(9) Engineering & technology,All,All postgraduate,All,All,Total,2014/15,39760
53383,(9) Engineering & technology,All,All undergraduate,All,All,Total,2014/15,121560
56983,"(A) Architecture, building & planning",All,All postgraduate,All,All,Total,2014/15,14945
59623,"(A) Architecture, building & planning",All,All undergraduate,All,All,Total,2014/15,33310
62503,Total - Science subject areas,All,All postgraduate,All,All,Total,2014/15,220080
65203,Total - Science subject areas,All,All undergraduate,All,All,Total,2014/15,796700
69523,(B) Social studies,All,All postgraduate,All,All,Total,2014/15,48400
72223,(B) Social studies,All,All undergraduate,All,All,Total,2014/15,159600
75823,(C) Law,All,All postgraduate,All,All,Total,2014/15,19445
78523,(C) Law,All,All undergraduate,All,All,Total,2014/15,68160
82123,(D) Business & administrative studies,All,All postgraduate,All,All,Total,2014/15,103210
84823,(D) Business & administrative studies,All,All undergraduate,All,All,Total,2014/15,223590
88423,(E) Mass communications & documentation,All,All postgraduate,All,All,Total,2014/15,10375
90943,(E) Mass communications & documentation,All,All undergraduate,All,All,Total,2014/15,38230
94543,(F) Languages,All,All postgraduate,All,All,Total,2014/15,15370
97243,(F) Languages,All,All undergraduate,All,All,Total,2014/15,95965
100843,(G) Historical & philosophical studies,All,All postgraduate,All,All,Total,2014/15,16345
103543,(G) Historical & philosophical studies,All,All undergraduate,All,All,Total,2014/15,69985
107143,(H) Creative arts & design,All,All postgraduate,All,All,Total,2014/15,21605
109843,(H) Creative arts & design,All,All undergraduate,All,All,Total,2014/15,145330
113443,(I) Education,All,All postgraduate,All,All,Total,2014/15,81425
116143,(I) Education,All,All undergraduate,All,All,Total,2014/15,82970
118963,(J) Combined,All,All postgraduate,All,All,Total,2014/15,1920
121603,(J) Combined,All,All undergraduate,All,All,Total,2014/15,47280
124483,Total - Non-science subject areas,All,All postgraduate,All,All,Total,2014/15,318100
127183,Total - Non-science subject areas,All,All undergraduate,All,All,Total,2014/15,931105
130783,Total,All,All postgraduate,All,All,Total,2014/15,538175
133483,Total,All,All undergraduate,All,All,Total,2014/15,1727805

### Postgraduate in UK

In [51]:
df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'All') &
   (df['Sex'] == 'Total') &
   (df['Academic Year'] == '2014/15') &
   ((df['Level of study'] == 'All postgraduate'))]

,Subject Area,First year marker,Level of study,Mode of study,Country of HE provider,Sex,Academic Year,Number
3423,(1) Medicine & dentistry,All,All postgraduate,All,All,Total,2014/15,20395
9583,(2) Subjects allied to medicine,All,All postgraduate,All,All,Total,2014/15,62610
15883,(3) Biological sciences,All,All postgraduate,All,All,Total,2014/15,34600
20743,(4) Veterinary science,All,All postgraduate,All,All,Total,2014/15,815
25583,(5) Agriculture & related subjects,All,All postgraduate,All,All,Total,2014/15,4075
31843,(6) Physical sciences,All,All postgraduate,All,All,Total,2014/15,19870
38123,(7) Mathematical sciences,All,All postgraduate,All,All,Total,2014/15,6270
44403,(8) Computer science,All,All postgraduate,All,All,Total,2014/15,16740
50683,(9) Engineering & technology,All,All postgraduate,All,All,Total,2014/15,39760
56983,"(A) Architecture, building & planning",All,All postgraduate,All,All,Total,2014/15,14945
62503,Total - Science subject areas,All,All postgraduate,All,All,Total,2014/15,220080
69523,(B) Social studies,All,All postgraduate,All,All,Total,2014/15,48400
75823,(C) Law,All,All postgraduate,All,All,Total,2014/15,19445
82123,(D) Business & administrative studies,All,All postgraduate,All,All,Total,2014/15,103210
88423,(E) Mass communications & documentation,All,All postgraduate,All,All,Total,2014/15,10375
94543,(F) Languages,All,All postgraduate,All,All,Total,2014/15,15370
100843,(G) Historical & philosophical studies,All,All postgraduate,All,All,Total,2014/15,16345
107143,(H) Creative arts & design,All,All postgraduate,All,All,Total,2014/15,21605
113443,(I) Education,All,All postgraduate,All,All,Total,2014/15,81425
118963,(J) Combined,All,All postgraduate,All,All,Total,2014/15,1920
124483,Total - Non-science subject areas,All,All postgraduate,All,All,Total,2014/15,318100
130783,Total,All,All postgraduate,All,All,Total,2014/15,538175

In [110]:
dfPostGrad = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'All') &
   (df['Sex'] == 'Total') &
   ((df['Level of study'] == 'All postgraduate')) &
    (~df['Subject Area'].str.startswith('Total'))]

In [111]:
dfPostGrad[['Subject Area', 'Academic Year', 'Number']]

                    Subject Area Academic Year  Number
3423    (1) Medicine & dentistry       2014/15   20395
3427    (1) Medicine & dentistry       2015/16   20310
3431    (1) Medicine & dentistry       2016/17   19770
3435    (1) Medicine & dentistry       2017/18   19915
3439    (1) Medicine & dentistry       2018/19   20120
...                          ...           ...     ...
118963              (J) Combined       2014/15    1920
118967              (J) Combined       2015/16    1795
118971              (J) Combined       2016/17    1440
118975              (J) Combined       2017/18    1355
118979              (J) Combined       2018/19    1305

[95 rows x 3 columns]

In [112]:
pivotDfGrad = dfPostGrad.pivot_table('Number', ['Subject Area'], 'Academic Year')

In [113]:
pivotDfGrad

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(1) Medicine & dentistry,20395,20310,19770,19915,20120
(2) Subjects allied to medicine,62610,67705,73145,73795,77040
(3) Biological sciences,34600,35645,41160,44740,46805
(4) Veterinary science,815,1520,1680,2145,2410
(5) Agriculture & related subjects,4075,3430,3565,3650,3605
(6) Physical sciences,19870,19565,20120,20910,21540
(7) Mathematical sciences,6270,6380,6745,6955,7375
(8) Computer science,16740,16700,17500,19225,21855
(9) Engineering & technology,39760,38755,38295,37630,38200
"(A) Architecture, building & planning",14945,15370,16465,17015,17285
(B) Social studies,48400,48705,51345,52420,53270
(C) Law,19445,19545,20135,20375,20590
(D) Business & administrative studies,103210,97790,98095,102930,108800
(E) Mass communications & documentation,10375,10005,10825,11935,12520
(F) Languages,15370,14580,15935,16185,16110
(G) Historical & philosophical studies,16345,15985,17055,17250,16950
(H) Creative arts & design,21605,21920,24925,26460,28035
(I) Education,81425,75535,73395,71665,71905
(J) Combined,1920,1795,1440,1355,1305

In [114]:
pivotDfGrad.sort_values(by='2018/19', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,103210,97790,98095,102930,108800
(2) Subjects allied to medicine,62610,67705,73145,73795,77040
(I) Education,81425,75535,73395,71665,71905
(B) Social studies,48400,48705,51345,52420,53270
(3) Biological sciences,34600,35645,41160,44740,46805
(9) Engineering & technology,39760,38755,38295,37630,38200
(H) Creative arts & design,21605,21920,24925,26460,28035
(8) Computer science,16740,16700,17500,19225,21855
(6) Physical sciences,19870,19565,20120,20910,21540
(C) Law,19445,19545,20135,20375,20590
(1) Medicine & dentistry,20395,20310,19770,19915,20120
"(A) Architecture, building & planning",14945,15370,16465,17015,17285
(G) Historical & philosophical studies,16345,15985,17055,17250,16950
(F) Languages,15370,14580,15935,16185,16110
(E) Mass communications & documentation,10375,10005,10825,11935,12520
(7) Mathematical sciences,6270,6380,6745,6955,7375
(5) Agriculture & related subjects,4075,3430,3565,3650,3605
(4) Veterinary science,815,1520,1680,2145,2410
(J) Combined,1920,1795,1440,1355,1305

In [115]:
pivotDfGrad.sort_values(by='2014/15', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,103210,97790,98095,102930,108800
(I) Education,81425,75535,73395,71665,71905
(2) Subjects allied to medicine,62610,67705,73145,73795,77040
(B) Social studies,48400,48705,51345,52420,53270
(9) Engineering & technology,39760,38755,38295,37630,38200
(3) Biological sciences,34600,35645,41160,44740,46805
(H) Creative arts & design,21605,21920,24925,26460,28035
(1) Medicine & dentistry,20395,20310,19770,19915,20120
(6) Physical sciences,19870,19565,20120,20910,21540
(C) Law,19445,19545,20135,20375,20590
(8) Computer science,16740,16700,17500,19225,21855
(G) Historical & philosophical studies,16345,15985,17055,17250,16950
(F) Languages,15370,14580,15935,16185,16110
"(A) Architecture, building & planning",14945,15370,16465,17015,17285
(E) Mass communications & documentation,10375,10005,10825,11935,12520
(7) Mathematical sciences,6270,6380,6745,6955,7375
(5) Agriculture & related subjects,4075,3430,3565,3650,3605
(J) Combined,1920,1795,1440,1355,1305
(4) Veterinary science,815,1520,1680,2145,2410

In [116]:
pivotDfGrad.sort_values(by='2015/16', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,103210,97790,98095,102930,108800
(I) Education,81425,75535,73395,71665,71905
(2) Subjects allied to medicine,62610,67705,73145,73795,77040
(B) Social studies,48400,48705,51345,52420,53270
(9) Engineering & technology,39760,38755,38295,37630,38200
(3) Biological sciences,34600,35645,41160,44740,46805
(H) Creative arts & design,21605,21920,24925,26460,28035
(1) Medicine & dentistry,20395,20310,19770,19915,20120
(6) Physical sciences,19870,19565,20120,20910,21540
(C) Law,19445,19545,20135,20375,20590
(8) Computer science,16740,16700,17500,19225,21855
(G) Historical & philosophical studies,16345,15985,17055,17250,16950
"(A) Architecture, building & planning",14945,15370,16465,17015,17285
(F) Languages,15370,14580,15935,16185,16110
(E) Mass communications & documentation,10375,10005,10825,11935,12520
(7) Mathematical sciences,6270,6380,6745,6955,7375
(5) Agriculture & related subjects,4075,3430,3565,3650,3605
(J) Combined,1920,1795,1440,1355,1305
(4) Veterinary science,815,1520,1680,2145,2410

In [117]:
pivotDfGrad.sort_values(by='2016/17', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,103210,97790,98095,102930,108800
(I) Education,81425,75535,73395,71665,71905
(2) Subjects allied to medicine,62610,67705,73145,73795,77040
(B) Social studies,48400,48705,51345,52420,53270
(3) Biological sciences,34600,35645,41160,44740,46805
(9) Engineering & technology,39760,38755,38295,37630,38200
(H) Creative arts & design,21605,21920,24925,26460,28035
(C) Law,19445,19545,20135,20375,20590
(6) Physical sciences,19870,19565,20120,20910,21540
(1) Medicine & dentistry,20395,20310,19770,19915,20120
(8) Computer science,16740,16700,17500,19225,21855
(G) Historical & philosophical studies,16345,15985,17055,17250,16950
"(A) Architecture, building & planning",14945,15370,16465,17015,17285
(F) Languages,15370,14580,15935,16185,16110
(E) Mass communications & documentation,10375,10005,10825,11935,12520
(7) Mathematical sciences,6270,6380,6745,6955,7375
(5) Agriculture & related subjects,4075,3430,3565,3650,3605
(4) Veterinary science,815,1520,1680,2145,2410
(J) Combined,1920,1795,1440,1355,1305

In [118]:
pivotDfGrad.sort_values(by='2017/18', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,103210,97790,98095,102930,108800
(2) Subjects allied to medicine,62610,67705,73145,73795,77040
(I) Education,81425,75535,73395,71665,71905
(B) Social studies,48400,48705,51345,52420,53270
(3) Biological sciences,34600,35645,41160,44740,46805
(9) Engineering & technology,39760,38755,38295,37630,38200
(H) Creative arts & design,21605,21920,24925,26460,28035
(6) Physical sciences,19870,19565,20120,20910,21540
(C) Law,19445,19545,20135,20375,20590
(1) Medicine & dentistry,20395,20310,19770,19915,20120
(8) Computer science,16740,16700,17500,19225,21855
(G) Historical & philosophical studies,16345,15985,17055,17250,16950
"(A) Architecture, building & planning",14945,15370,16465,17015,17285
(F) Languages,15370,14580,15935,16185,16110
(E) Mass communications & documentation,10375,10005,10825,11935,12520
(7) Mathematical sciences,6270,6380,6745,6955,7375
(5) Agriculture & related subjects,4075,3430,3565,3650,3605
(4) Veterinary science,815,1520,1680,2145,2410
(J) Combined,1920,1795,1440,1355,1305

In [205]:
pivotDfGrad['%Change 14/15 to 15/16'] = ((pivotDfGrad['2015/16'] - pivotDfGrad['2014/15'])/pivotDfGrad['2014/15']) * 100
pivotDfGrad['%Change 15/16 to 16/17'] = ((pivotDfGrad['2016/17'] - pivotDfGrad['2015/16'])/pivotDfGrad['2015/16']) * 100
pivotDfGrad['%Change 16/17 to 17/18'] = ((pivotDfGrad['2017/18'] - pivotDfGrad['2016/17'])/pivotDfGrad['2016/17']) * 100
pivotDfGrad['%Change 17/18 to 18/19'] = ((pivotDfGrad['2018/19'] - pivotDfGrad['2017/18'])/pivotDfGrad['2017/18']) * 100
pivotDfGrad['%Change 14/15 to 18/19'] = ((pivotDfGrad['2018/19'] - pivotDfGrad['2014/15'])/pivotDfGrad['2014/15']) * 100
pivotDfGrad['Avg. %Change 14/15 to 18/19'] = (pivotDfGrad['%Change 14/15 to 15/16'] + pivotDfGrad['%Change 15/16 to 16/17'] + pivotDfGrad['%Change 16/17 to 17/18'] + pivotDfGrad['%Change 17/18 to 18/19']) / 4

In [214]:
pivotDfGrad['Median of %Change 14/15 to 18/19'] = pivotDfGrad[['%Change 14/15 to 15/16', '%Change 15/16 to 16/17', '%Change 16/17 to 17/18', '%Change 17/18 to 18/19']].median(1)

In [215]:
pivotDfGrad

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19,%Change 14/15 to 15/16,%Change 15/16 to 16/17,%Change 16/17 to 17/18,%Change 17/18 to 18/19,%Change 14/15 to 18/19,Avg. %Change 14/15 to 18/19,Median of %Change 14/15 to 18/19
Subject Area,,,,,,,,,,,,
(1) Medicine & dentistry,20395,20310,19770,19915,20120,-0.416769,-2.658789,0.733434,1.029375,-1.348370,-0.328187,0.158333
(2) Subjects allied to medicine,62610,67705,73145,73795,77040,8.137678,8.034857,0.888646,4.397317,23.047437,5.364624,6.216087
(3) Biological sciences,34600,35645,41160,44740,46805,3.020231,15.472016,8.697765,4.615557,35.274566,7.951392,6.656661
(4) Veterinary science,815,1520,1680,2145,2410,86.503067,10.526316,27.678571,12.354312,195.705521,34.265567,20.016442
(5) Agriculture & related subjects,4075,3430,3565,3650,3605,-15.828221,3.935860,2.384292,-1.232877,-11.533742,-2.685236,0.575708
(6) Physical sciences,19870,19565,20120,20910,21540,-1.534977,2.836698,3.926441,3.012912,8.404630,2.060269,2.924805
(7) Mathematical sciences,6270,6380,6745,6955,7375,1.754386,5.721003,3.113417,6.038821,17.623604,4.156907,4.417210
(8) Computer science,16740,16700,17500,19225,21855,-0.238949,4.790419,9.857143,13.680104,30.555556,7.022179,7.323781
(9) Engineering & technology,39760,38755,38295,37630,38200,-2.527666,-1.186944,-1.736519,1.514749,-3.923541,-0.984095,-1.461731
"(A) Architecture, building & planning",14945,15370,16465,17015,17285,2.843760,7.124268,3.340419,1.586835,15.657411,3.723821,3.092090
(B) Social studies,48400,48705,51345,52420,53270,0.630165,5.420388,2.093680,1.621519,10.061983,2.441438,1.857599
(C) Law,19445,19545,20135,20375,20590,0.514271,3.018675,1.191954,1.055215,5.888403,1.445029,1.123585
(D) Business & administrative studies,103210,97790,98095,102930,108800,-5.251429,0.311893,4.928895,5.702905,5.416142,1.423066,2.620394
(E) Mass communications & documentation,10375,10005,10825,11935,12520,-3.566265,8.195902,10.254042,4.901550,20.674699,4.946307,6.548726
(F) Languages,15370,14580,15935,16185,16110,-5.139883,9.293553,1.568874,-0.463392,4.814574,1.314788,0.552741
(G) Historical & philosophical studies,16345,15985,17055,17250,16950,-2.202508,6.693775,1.143360,-1.739130,3.701438,0.973874,-0.297885
(H) Creative arts & design,21605,21920,24925,26460,28035,1.457996,13.708942,6.158475,5.952381,29.761629,6.819448,6.055428
(I) Education,81425,75535,73395,71665,71905,-7.233651,-2.833124,-2.357109,0.334892,-11.691741,-3.022248,-2.595116
(J) Combined,1920,1795,1440,1355,1305,-6.510417,-19.777159,-5.902778,-3.690037,-32.031250,-8.970098,-6.206597

##### We will see the trend how the numbers has changed, some fields are become less popular and otherwise are become more popular
##### Top 5 subjects with highest number of students are Business, Subject allied to medicine, Education, Social Studies, and Biological Sciences
##### Top 5 subjects with highest increase in number of students (4-year-period / percentage) are Veterinary Science, Biological Science, Computer Science, Creative Arts & Design, Subjects allied to Medicine
##### Top 5 subjects with highest decrease "or" lowest increase in number of students (4-year-period / percentage) are Combined, Education, Agriculture, Engineering & technology, Medicine & Dentistry
##### Top 5 subjects with highest average increase rate in number of students per year are Veterinary Science, Biological Science, Computer Science, Creative Arts & Design, Subjects allied to Medicine
##### Top 5 subjects with highest average decrease rate "or" lowest average increase rate in number of students per year are Combined, Education, Agriculture, Engineering & technology, Medicine & Dentistry
##### Top 5 subjects with highest median increase rate in number of students per year are Veterinary Science, Computer Science, Biological Science, Mass Communication & Documentary, Subjects allied to Medicine
##### Top 5 subjects with highest median decrease rate "or" lowest median increase rate in number of students per year are Combined, Education, Engineering & technology, Historical & Philosophical, Medicine & dentistry

### Undergraduate in UK

In [121]:
dfUnderGrad = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'All') &
   (df['Sex'] == 'Total') &
   ((df['Level of study'] == 'All undergraduate')) &
    (~df['Subject Area'].str.startswith('Total'))]

In [122]:
pivotDfUnderGrad = dfUnderGrad.pivot_table('Number', ['Subject Area'], 'Academic Year')

In [123]:
pivotDfUnderGrad.sort_values(by='2014/15', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,223590,228450,235330,240040,249680
(2) Subjects allied to medicine,212735,217215,217625,214265,213405
(3) Biological sciences,176760,181725,185240,189230,194950
(B) Social studies,159600,165170,170365,176940,184210
(H) Creative arts & design,145330,147930,150775,151955,153790
(9) Engineering & technology,121560,124400,126860,127345,126975
(F) Languages,95965,93670,91105,87360,83260
(I) Education,82970,80630,77660,73780,70920
(8) Computer science,76490,79495,83645,88025,92875
(6) Physical sciences,73890,75305,75050,74805,73305
(G) Historical & philosophical studies,69985,69370,68400,66865,65010
(C) Law,68160,69015,69595,71795,74670
(J) Combined,47280,40125,37200,33765,30460
(1) Medicine & dentistry,45605,45235,45340,45965,47640
(E) Mass communications & documentation,38230,38975,39595,39425,38790
(7) Mathematical sciences,36130,36715,37140,37620,38535
"(A) Architecture, building & planning",33310,33920,34800,36605,38060
(5) Agriculture & related subjects,15130,15595,15090,15035,15720
(4) Veterinary science,5085,5255,5470,5715,5990

In [124]:
pivotDfUnderGrad.sort_values(by='2015/16', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,223590,228450,235330,240040,249680
(2) Subjects allied to medicine,212735,217215,217625,214265,213405
(3) Biological sciences,176760,181725,185240,189230,194950
(B) Social studies,159600,165170,170365,176940,184210
(H) Creative arts & design,145330,147930,150775,151955,153790
(9) Engineering & technology,121560,124400,126860,127345,126975
(F) Languages,95965,93670,91105,87360,83260
(I) Education,82970,80630,77660,73780,70920
(8) Computer science,76490,79495,83645,88025,92875
(6) Physical sciences,73890,75305,75050,74805,73305
(G) Historical & philosophical studies,69985,69370,68400,66865,65010
(C) Law,68160,69015,69595,71795,74670
(1) Medicine & dentistry,45605,45235,45340,45965,47640
(J) Combined,47280,40125,37200,33765,30460
(E) Mass communications & documentation,38230,38975,39595,39425,38790
(7) Mathematical sciences,36130,36715,37140,37620,38535
"(A) Architecture, building & planning",33310,33920,34800,36605,38060
(5) Agriculture & related subjects,15130,15595,15090,15035,15720
(4) Veterinary science,5085,5255,5470,5715,5990

In [125]:
pivotDfUnderGrad.sort_values(by='2016/17', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,223590,228450,235330,240040,249680
(2) Subjects allied to medicine,212735,217215,217625,214265,213405
(3) Biological sciences,176760,181725,185240,189230,194950
(B) Social studies,159600,165170,170365,176940,184210
(H) Creative arts & design,145330,147930,150775,151955,153790
(9) Engineering & technology,121560,124400,126860,127345,126975
(F) Languages,95965,93670,91105,87360,83260
(8) Computer science,76490,79495,83645,88025,92875
(I) Education,82970,80630,77660,73780,70920
(6) Physical sciences,73890,75305,75050,74805,73305
(C) Law,68160,69015,69595,71795,74670
(G) Historical & philosophical studies,69985,69370,68400,66865,65010
(1) Medicine & dentistry,45605,45235,45340,45965,47640
(E) Mass communications & documentation,38230,38975,39595,39425,38790
(J) Combined,47280,40125,37200,33765,30460
(7) Mathematical sciences,36130,36715,37140,37620,38535
"(A) Architecture, building & planning",33310,33920,34800,36605,38060
(5) Agriculture & related subjects,15130,15595,15090,15035,15720
(4) Veterinary science,5085,5255,5470,5715,5990

In [126]:
pivotDfUnderGrad.sort_values(by='2017/18', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,223590,228450,235330,240040,249680
(2) Subjects allied to medicine,212735,217215,217625,214265,213405
(3) Biological sciences,176760,181725,185240,189230,194950
(B) Social studies,159600,165170,170365,176940,184210
(H) Creative arts & design,145330,147930,150775,151955,153790
(9) Engineering & technology,121560,124400,126860,127345,126975
(8) Computer science,76490,79495,83645,88025,92875
(F) Languages,95965,93670,91105,87360,83260
(6) Physical sciences,73890,75305,75050,74805,73305
(I) Education,82970,80630,77660,73780,70920
(C) Law,68160,69015,69595,71795,74670
(G) Historical & philosophical studies,69985,69370,68400,66865,65010
(1) Medicine & dentistry,45605,45235,45340,45965,47640
(E) Mass communications & documentation,38230,38975,39595,39425,38790
(7) Mathematical sciences,36130,36715,37140,37620,38535
"(A) Architecture, building & planning",33310,33920,34800,36605,38060
(J) Combined,47280,40125,37200,33765,30460
(5) Agriculture & related subjects,15130,15595,15090,15035,15720
(4) Veterinary science,5085,5255,5470,5715,5990

In [127]:
pivotDfUnderGrad.sort_values(by='2018/19', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,223590,228450,235330,240040,249680
(2) Subjects allied to medicine,212735,217215,217625,214265,213405
(3) Biological sciences,176760,181725,185240,189230,194950
(B) Social studies,159600,165170,170365,176940,184210
(H) Creative arts & design,145330,147930,150775,151955,153790
(9) Engineering & technology,121560,124400,126860,127345,126975
(8) Computer science,76490,79495,83645,88025,92875
(F) Languages,95965,93670,91105,87360,83260
(C) Law,68160,69015,69595,71795,74670
(6) Physical sciences,73890,75305,75050,74805,73305
(I) Education,82970,80630,77660,73780,70920
(G) Historical & philosophical studies,69985,69370,68400,66865,65010
(1) Medicine & dentistry,45605,45235,45340,45965,47640
(E) Mass communications & documentation,38230,38975,39595,39425,38790
(7) Mathematical sciences,36130,36715,37140,37620,38535
"(A) Architecture, building & planning",33310,33920,34800,36605,38060
(J) Combined,47280,40125,37200,33765,30460
(5) Agriculture & related subjects,15130,15595,15090,15035,15720
(4) Veterinary science,5085,5255,5470,5715,5990

In [188]:
pivotDfUnderGrad['%Change 14/15 to 15/16'] = ((pivotDfUnderGrad['2015/16'] - pivotDfUnderGrad['2014/15'])/pivotDfUnderGrad['2014/15']) * 100
pivotDfUnderGrad['%Change 15/16 to 16/17'] = ((pivotDfUnderGrad['2016/17'] - pivotDfUnderGrad['2015/16'])/pivotDfUnderGrad['2015/16']) * 100
pivotDfUnderGrad['%Change 16/17 to 17/18'] = ((pivotDfUnderGrad['2017/18'] - pivotDfUnderGrad['2016/17'])/pivotDfUnderGrad['2016/17']) * 100
pivotDfUnderGrad['%Change 17/18 to 18/19'] = ((pivotDfUnderGrad['2018/19'] - pivotDfUnderGrad['2017/18'])/pivotDfUnderGrad['2017/18']) * 100
pivotDfUnderGrad['%Change 14/15 to 18/19'] = ((pivotDfUnderGrad['2018/19'] - pivotDfUnderGrad['2014/15'])/pivotDfUnderGrad['2014/15']) * 100
pivotDfUnderGrad['Avg. %Change 14/15 to 18/19'] = (pivotDfUnderGrad['%Change 14/15 to 15/16'] + pivotDfUnderGrad['%Change 15/16 to 16/17'] + pivotDfUnderGrad['%Change 16/17 to 17/18'] + pivotDfUnderGrad['%Change 17/18 to 18/19']) / 4

In [216]:
pivotDfUnderGrad['Median of %Change 14/15 to 18/19'] = pivotDfUnderGrad[['%Change 14/15 to 15/16', '%Change 15/16 to 16/17', '%Change 16/17 to 17/18', '%Change 17/18 to 18/19']].median(1)

In [217]:
pivotDfUnderGrad

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19,%Change 14/15 to 15/16,%Change 15/16 to 16/17,%Change 16/17 to 17/18,%Change 17/18 to 18/19,%Change 14/15 to 18/19,Avg. %Change 14/15 to 18/19,Median of %Change 14/15 to 18/19
Subject Area,,,,,,,,,,,,
(1) Medicine & dentistry,45605,45235,45340,45965,47640,-0.811315,0.232121,1.378474,3.644077,4.462230,1.110839,0.805297
(2) Subjects allied to medicine,212735,217215,217625,214265,213405,2.105906,0.188753,-1.543940,-0.401372,0.314946,0.087337,-0.106310
(3) Biological sciences,176760,181725,185240,189230,194950,2.808893,1.934241,2.153962,3.022777,10.290790,2.479968,2.481428
(4) Veterinary science,5085,5255,5470,5715,5990,3.343166,4.091342,4.478976,4.811899,17.797443,4.181346,4.285159
(5) Agriculture & related subjects,15130,15595,15090,15035,15720,3.073364,-3.238217,-0.364480,4.556036,3.899537,1.006676,1.354442
(6) Physical sciences,73890,75305,75050,74805,73305,1.915009,-0.338623,-0.326449,-2.005214,-0.791717,-0.188819,-0.332536
(7) Mathematical sciences,36130,36715,37140,37620,38535,1.619153,1.157565,1.292407,2.432217,6.656518,1.625336,1.455780
(8) Computer science,76490,79495,83645,88025,92875,3.928618,5.220454,5.236416,5.509798,21.421101,4.973822,5.228435
(9) Engineering & technology,121560,124400,126860,127345,126975,2.336295,1.977492,0.382311,-0.290549,4.454590,1.101387,1.179902
"(A) Architecture, building & planning",33310,33920,34800,36605,38060,1.831282,2.594340,5.186782,3.974867,14.259982,3.396817,3.284603
(B) Social studies,159600,165170,170365,176940,184210,3.489975,3.145244,3.859361,4.108737,15.419799,3.650829,3.674668
(C) Law,68160,69015,69595,71795,74670,1.254401,0.840397,3.161147,4.004457,9.551056,2.315101,2.207774
(D) Business & administrative studies,223590,228450,235330,240040,249680,2.173621,3.011600,2.001445,4.015997,11.668679,2.800666,2.592611
(E) Mass communications & documentation,38230,38975,39595,39425,38790,1.948731,1.590763,-0.429347,-1.610653,1.464818,0.374874,0.580708
(F) Languages,95965,93670,91105,87360,83260,-2.391497,-2.738337,-4.110642,-4.693223,-13.239202,-3.483425,-3.424489
(G) Historical & philosophical studies,69985,69370,68400,66865,65010,-0.878760,-1.398299,-2.244152,-2.774247,-7.108666,-1.823864,-1.821226
(H) Creative arts & design,145330,147930,150775,151955,153790,1.789032,1.923207,0.782623,1.207594,5.821234,1.425614,1.498313
(I) Education,82970,80630,77660,73780,70920,-2.820296,-3.683492,-4.996137,-3.876389,-14.523322,-3.844079,-3.779941
(J) Combined,47280,40125,37200,33765,30460,-15.133249,-7.289720,-9.233871,-9.788242,-35.575296,-10.361270,-9.511057

##### Top 5 subjects with highest number of students are Business, Subject allied to medicine, Biological Sciences, Social Studies, and Creative Arts & Design
##### Top 5 subjects with highest increase in number of students (4-year-period / percentage)  are Computer Science, Veterinary Science, Social Studies, Architecture, and Business
##### Top 5 subjects with highest decrease "or" lowest increase in number of students (4-year-period / percentage) are Combined, Education, Languages, Historical & Philosophical, Physical Sciences
##### Top 5 subjects with highest average increase rate in number of students per year are Computer Science, Veterinary Science, Social Studies, Architecture, and Business
##### Top 5 subjects with highest average decrease rate "or" lowest average increase rate in number of students per year are Combined, Education, Languages, Historical & Philosophical, Physical Sciences
##### Top 5 subjects with highest median increase rate in number of students per year are Computer Science, Veterinary Science, Social Studies, Architecture, and Business
##### Top 5 subjects with highest median decrease rate "or" lowest median increase rate in number of students per year are Combined, Education, Languages, Historical & Philosophical, Physical Sciences

### Postgraduate in England

In [129]:
dfPostGradEngland = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'England') &
   (df['Sex'] == 'Total') &
   ((df['Level of study'] == 'All postgraduate')) &
    (~df['Subject Area'].str.startswith('Total'))]

In [130]:
pivotDfPostGradEngland = dfPostGradEngland.pivot_table('Number', ['Subject Area'], 'Academic Year')

In [131]:
pivotDfPostGradEngland.sort_values(by='2014/15', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,83565,80635,81455,85570,90730
(I) Education,67465,62520,60425,58900,58975
(2) Subjects allied to medicine,50175,54735,59605,59705,61475
(B) Social studies,42150,42135,44675,45475,45890
(9) Engineering & technology,32635,31900,31520,30920,31325
(3) Biological sciences,28670,29565,34570,36870,38455
(H) Creative arts & design,18780,19090,21840,23215,24510
(1) Medicine & dentistry,16340,16525,16250,16375,16685
(6) Physical sciences,15980,15680,15990,16530,17075
(C) Law,15350,15425,16105,16470,16220
(8) Computer science,13815,13640,14270,15485,17460
(G) Historical & philosophical studies,13515,13215,14100,14075,13695
(F) Languages,13005,12185,13335,13385,13205
"(A) Architecture, building & planning",12270,12690,13680,14050,14360
(E) Mass communications & documentation,8465,8150,8785,9850,10360
(7) Mathematical sciences,5505,5530,5915,5925,6110
(5) Agriculture & related subjects,2940,2310,2345,2235,2345
(J) Combined,1285,1330,1080,1065,945
(4) Veterinary science,675,1385,1520,1960,2175

In [132]:
pivotDfPostGradEngland.sort_values(by='2015/16', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,83565,80635,81455,85570,90730
(I) Education,67465,62520,60425,58900,58975
(2) Subjects allied to medicine,50175,54735,59605,59705,61475
(B) Social studies,42150,42135,44675,45475,45890
(9) Engineering & technology,32635,31900,31520,30920,31325
(3) Biological sciences,28670,29565,34570,36870,38455
(H) Creative arts & design,18780,19090,21840,23215,24510
(1) Medicine & dentistry,16340,16525,16250,16375,16685
(6) Physical sciences,15980,15680,15990,16530,17075
(C) Law,15350,15425,16105,16470,16220
(8) Computer science,13815,13640,14270,15485,17460
(G) Historical & philosophical studies,13515,13215,14100,14075,13695
"(A) Architecture, building & planning",12270,12690,13680,14050,14360
(F) Languages,13005,12185,13335,13385,13205
(E) Mass communications & documentation,8465,8150,8785,9850,10360
(7) Mathematical sciences,5505,5530,5915,5925,6110
(5) Agriculture & related subjects,2940,2310,2345,2235,2345
(4) Veterinary science,675,1385,1520,1960,2175
(J) Combined,1285,1330,1080,1065,945

In [133]:
pivotDfPostGradEngland.sort_values(by='2016/17', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,83565,80635,81455,85570,90730
(I) Education,67465,62520,60425,58900,58975
(2) Subjects allied to medicine,50175,54735,59605,59705,61475
(B) Social studies,42150,42135,44675,45475,45890
(3) Biological sciences,28670,29565,34570,36870,38455
(9) Engineering & technology,32635,31900,31520,30920,31325
(H) Creative arts & design,18780,19090,21840,23215,24510
(1) Medicine & dentistry,16340,16525,16250,16375,16685
(C) Law,15350,15425,16105,16470,16220
(6) Physical sciences,15980,15680,15990,16530,17075
(8) Computer science,13815,13640,14270,15485,17460
(G) Historical & philosophical studies,13515,13215,14100,14075,13695
"(A) Architecture, building & planning",12270,12690,13680,14050,14360
(F) Languages,13005,12185,13335,13385,13205
(E) Mass communications & documentation,8465,8150,8785,9850,10360
(7) Mathematical sciences,5505,5530,5915,5925,6110
(5) Agriculture & related subjects,2940,2310,2345,2235,2345
(4) Veterinary science,675,1385,1520,1960,2175
(J) Combined,1285,1330,1080,1065,945

In [134]:
pivotDfPostGradEngland.sort_values(by='2017/18', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,83565,80635,81455,85570,90730
(2) Subjects allied to medicine,50175,54735,59605,59705,61475
(I) Education,67465,62520,60425,58900,58975
(B) Social studies,42150,42135,44675,45475,45890
(3) Biological sciences,28670,29565,34570,36870,38455
(9) Engineering & technology,32635,31900,31520,30920,31325
(H) Creative arts & design,18780,19090,21840,23215,24510
(6) Physical sciences,15980,15680,15990,16530,17075
(C) Law,15350,15425,16105,16470,16220
(1) Medicine & dentistry,16340,16525,16250,16375,16685
(8) Computer science,13815,13640,14270,15485,17460
(G) Historical & philosophical studies,13515,13215,14100,14075,13695
"(A) Architecture, building & planning",12270,12690,13680,14050,14360
(F) Languages,13005,12185,13335,13385,13205
(E) Mass communications & documentation,8465,8150,8785,9850,10360
(7) Mathematical sciences,5505,5530,5915,5925,6110
(5) Agriculture & related subjects,2940,2310,2345,2235,2345
(4) Veterinary science,675,1385,1520,1960,2175
(J) Combined,1285,1330,1080,1065,945

In [135]:
pivotDfPostGradEngland.sort_values(by='2018/19', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,83565,80635,81455,85570,90730
(2) Subjects allied to medicine,50175,54735,59605,59705,61475
(I) Education,67465,62520,60425,58900,58975
(B) Social studies,42150,42135,44675,45475,45890
(3) Biological sciences,28670,29565,34570,36870,38455
(9) Engineering & technology,32635,31900,31520,30920,31325
(H) Creative arts & design,18780,19090,21840,23215,24510
(8) Computer science,13815,13640,14270,15485,17460
(6) Physical sciences,15980,15680,15990,16530,17075
(1) Medicine & dentistry,16340,16525,16250,16375,16685
(C) Law,15350,15425,16105,16470,16220
"(A) Architecture, building & planning",12270,12690,13680,14050,14360
(G) Historical & philosophical studies,13515,13215,14100,14075,13695
(F) Languages,13005,12185,13335,13385,13205
(E) Mass communications & documentation,8465,8150,8785,9850,10360
(7) Mathematical sciences,5505,5530,5915,5925,6110
(5) Agriculture & related subjects,2940,2310,2345,2235,2345
(4) Veterinary science,675,1385,1520,1960,2175
(J) Combined,1285,1330,1080,1065,945

In [190]:
pivotDfPostGradEngland['%Change 14/15 to 15/16'] = ((pivotDfPostGradEngland['2015/16'] - pivotDfPostGradEngland['2014/15'])/pivotDfPostGradEngland['2014/15']) * 100
pivotDfPostGradEngland['%Change 15/16 to 16/17'] = ((pivotDfPostGradEngland['2016/17'] - pivotDfPostGradEngland['2015/16'])/pivotDfPostGradEngland['2015/16']) * 100
pivotDfPostGradEngland['%Change 16/17 to 17/18'] = ((pivotDfPostGradEngland['2017/18'] - pivotDfPostGradEngland['2016/17'])/pivotDfPostGradEngland['2016/17']) * 100
pivotDfPostGradEngland['%Change 17/18 to 18/19'] = ((pivotDfPostGradEngland['2018/19'] - pivotDfPostGradEngland['2017/18'])/pivotDfPostGradEngland['2017/18']) * 100
pivotDfPostGradEngland['%Change 14/15 to 18/19'] = ((pivotDfPostGradEngland['2018/19'] - pivotDfPostGradEngland['2014/15'])/pivotDfPostGradEngland['2014/15']) * 100
pivotDfPostGradEngland['Avg. %Change 14/15 to 18/19'] = (pivotDfPostGradEngland['%Change 14/15 to 15/16'] + pivotDfPostGradEngland['%Change 15/16 to 16/17'] + pivotDfPostGradEngland['%Change 16/17 to 17/18'] + pivotDfPostGradEngland['%Change 17/18 to 18/19']) / 4

In [218]:
pivotDfPostGradEngland['Median of %Change 14/15 to 18/19'] = pivotDfPostGradEngland[['%Change 14/15 to 15/16', '%Change 15/16 to 16/17', '%Change 16/17 to 17/18', '%Change 17/18 to 18/19']].median(1)

In [219]:
pivotDfPostGradEngland

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19,%Change 14/15 to 15/16,%Change 15/16 to 16/17,%Change 16/17 to 17/18,%Change 17/18 to 18/19,%Change 14/15 to 18/19,Avg. %Change 14/15 to 18/19,Median of %Change 14/15 to 18/19
Subject Area,,,,,,,,,,,,
(1) Medicine & dentistry,16340,16525,16250,16375,16685,1.132191,-1.664145,0.769231,1.893130,2.111383,0.532602,0.950711
(2) Subjects allied to medicine,50175,54735,59605,59705,61475,9.088191,8.897415,0.167771,2.964576,22.521176,5.279488,5.930995
(3) Biological sciences,28670,29565,34570,36870,38455,3.121730,16.928801,6.653167,4.298888,34.129752,7.750647,5.476028
(4) Veterinary science,675,1385,1520,1960,2175,105.185185,9.747292,28.947368,10.969388,222.222222,38.712308,19.958378
(5) Agriculture & related subjects,2940,2310,2345,2235,2345,-21.428571,1.515152,-4.690832,4.921700,-20.238095,-4.920638,-1.587840
(6) Physical sciences,15980,15680,15990,16530,17075,-1.877347,1.977041,3.377111,3.297036,6.852315,1.693460,2.637038
(7) Mathematical sciences,5505,5530,5915,5925,6110,0.454133,6.962025,0.169062,3.122363,10.990009,2.676896,1.788248
(8) Computer science,13815,13640,14270,15485,17460,-1.266739,4.618768,8.514366,12.754278,26.384365,6.155168,6.566567
(9) Engineering & technology,32635,31900,31520,30920,31325,-2.252183,-1.191223,-1.903553,1.309832,-4.014095,-1.009282,-1.547388
"(A) Architecture, building & planning",12270,12690,13680,14050,14360,3.422983,7.801418,2.704678,2.206406,17.033415,4.033871,3.063831
(B) Social studies,42150,42135,44675,45475,45890,-0.035587,6.028243,1.790711,0.912589,8.873072,2.173989,1.351650
(C) Law,15350,15425,16105,16470,16220,0.488599,4.408428,2.266377,-1.517911,5.667752,1.411373,1.377488
(D) Business & administrative studies,83565,80635,81455,85570,90730,-3.506253,1.016928,5.051869,6.030151,8.574164,2.148174,3.034399
(E) Mass communications & documentation,8465,8150,8785,9850,10360,-3.721205,7.791411,12.122937,5.177665,22.386297,5.342702,6.484538
(F) Languages,13005,12185,13335,13385,13205,-6.305267,9.437833,0.374953,-1.344789,1.537870,0.540683,-0.484918
(G) Historical & philosophical studies,13515,13215,14100,14075,13695,-2.219756,6.696935,-0.177305,-2.699822,1.331853,0.400013,-1.198530
(H) Creative arts & design,18780,19090,21840,23215,24510,1.650692,14.405448,6.295788,5.578290,30.511182,6.982554,5.937039
(I) Education,67465,62520,60425,58900,58975,-7.329727,-3.350928,-2.523790,0.127334,-12.584303,-3.269277,-2.937359
(J) Combined,1285,1330,1080,1065,945,3.501946,-18.796992,-1.388889,-11.267606,-26.459144,-6.987885,-6.328247

##### Top 5 subjects with highest number of students are Business, Subject allied to medicine, Education Social Studies, and rank 5 was changed from Engineering to Biological Science
##### Top 5 subjects with highest increase in number of students (4-year-period / percentage) are Veterinary Science, Biological Science, Creative Arts & Design, Computer Science, Subjects allied to Medicine
##### Top 5 subjects with highest decrease "or" lowest increase in number of students (4-year-period / percentage) are Combined, Education, Agriculture, Engineering & technology, Medicine & Dentistry
##### Top 5 subjects with highest average increase rate in number of students per year are Veterinary Science, Biological Science, Creative Arts & Design, Computer Science, Mass communications & documentation
##### Top 5 subjects with highest average decrease rate "or" lowest average increase rate in number of students per year are Combined, Agriculture, Education, Engineering & technology, Historical & philosophical studies
##### Top 5 subjects with highest median increase rate in number of students per year are Veterinary Science, Computer Science, Mass Communication, Creative Arts & Design, and Subjects allied to Medicine
##### Top 5 subjects with highest median decrease rate "or" lowest median increase rate in number of students per year are Combined, Education, Agriculture, Engineering, and Historical & Philosophical

### Undergraduate in England

In [138]:
dfUnderGradEngland = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'England') &
   (df['Sex'] == 'Total') &
   ((df['Level of study'] == 'All undergraduate')) &
    (~df['Subject Area'].str.startswith('Total'))]

In [139]:
pivotDfUnderGradEngland = dfUnderGradEngland.pivot_table('Number', ['Subject Area'], 'Academic Year')

In [140]:
pivotDfUnderGradEngland.sort_values(by='2014/15', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,182465,188225,195400,201405,209955
(2) Subjects allied to medicine,176540,178925,178005,173820,172525
(3) Biological sciences,141230,146690,149040,152400,157250
(B) Social studies,131235,135900,140780,146455,152810
(H) Creative arts & design,125835,128125,131100,132415,133960
(9) Engineering & technology,94415,97460,99165,99640,99530
(F) Languages,77465,75520,72730,68520,64725
(I) Education,64440,61885,59010,56045,53305
(8) Computer science,59545,62420,65635,69180,72730
(6) Physical sciences,59275,59955,59820,59790,58050
(C) Law,58075,58685,58810,60525,62860
(G) Historical & philosophical studies,56235,55535,54285,52820,51415
(1) Medicine & dentistry,36025,35705,35770,36510,37940
(E) Mass communications & documentation,33580,34390,34870,34715,34035
(J) Combined,31325,26845,24225,21495,18635
(7) Mathematical sciences,30690,30985,31440,31805,32525
"(A) Architecture, building & planning",26955,27405,28080,29670,30875
(5) Agriculture & related subjects,12420,12780,12260,12310,12805
(4) Veterinary science,3675,3870,4085,4350,4595

In [141]:
pivotDfUnderGradEngland.sort_values(by='2015/16', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,182465,188225,195400,201405,209955
(2) Subjects allied to medicine,176540,178925,178005,173820,172525
(3) Biological sciences,141230,146690,149040,152400,157250
(B) Social studies,131235,135900,140780,146455,152810
(H) Creative arts & design,125835,128125,131100,132415,133960
(9) Engineering & technology,94415,97460,99165,99640,99530
(F) Languages,77465,75520,72730,68520,64725
(8) Computer science,59545,62420,65635,69180,72730
(I) Education,64440,61885,59010,56045,53305
(6) Physical sciences,59275,59955,59820,59790,58050
(C) Law,58075,58685,58810,60525,62860
(G) Historical & philosophical studies,56235,55535,54285,52820,51415
(1) Medicine & dentistry,36025,35705,35770,36510,37940
(E) Mass communications & documentation,33580,34390,34870,34715,34035
(7) Mathematical sciences,30690,30985,31440,31805,32525
"(A) Architecture, building & planning",26955,27405,28080,29670,30875
(J) Combined,31325,26845,24225,21495,18635
(5) Agriculture & related subjects,12420,12780,12260,12310,12805
(4) Veterinary science,3675,3870,4085,4350,4595

In [142]:
pivotDfUnderGradEngland.sort_values(by='2016/17', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,182465,188225,195400,201405,209955
(2) Subjects allied to medicine,176540,178925,178005,173820,172525
(3) Biological sciences,141230,146690,149040,152400,157250
(B) Social studies,131235,135900,140780,146455,152810
(H) Creative arts & design,125835,128125,131100,132415,133960
(9) Engineering & technology,94415,97460,99165,99640,99530
(F) Languages,77465,75520,72730,68520,64725
(8) Computer science,59545,62420,65635,69180,72730
(6) Physical sciences,59275,59955,59820,59790,58050
(I) Education,64440,61885,59010,56045,53305
(C) Law,58075,58685,58810,60525,62860
(G) Historical & philosophical studies,56235,55535,54285,52820,51415
(1) Medicine & dentistry,36025,35705,35770,36510,37940
(E) Mass communications & documentation,33580,34390,34870,34715,34035
(7) Mathematical sciences,30690,30985,31440,31805,32525
"(A) Architecture, building & planning",26955,27405,28080,29670,30875
(J) Combined,31325,26845,24225,21495,18635
(5) Agriculture & related subjects,12420,12780,12260,12310,12805
(4) Veterinary science,3675,3870,4085,4350,4595

In [143]:
pivotDfUnderGradEngland.sort_values(by='2017/18', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,182465,188225,195400,201405,209955
(2) Subjects allied to medicine,176540,178925,178005,173820,172525
(3) Biological sciences,141230,146690,149040,152400,157250
(B) Social studies,131235,135900,140780,146455,152810
(H) Creative arts & design,125835,128125,131100,132415,133960
(9) Engineering & technology,94415,97460,99165,99640,99530
(8) Computer science,59545,62420,65635,69180,72730
(F) Languages,77465,75520,72730,68520,64725
(C) Law,58075,58685,58810,60525,62860
(6) Physical sciences,59275,59955,59820,59790,58050
(I) Education,64440,61885,59010,56045,53305
(G) Historical & philosophical studies,56235,55535,54285,52820,51415
(1) Medicine & dentistry,36025,35705,35770,36510,37940
(E) Mass communications & documentation,33580,34390,34870,34715,34035
(7) Mathematical sciences,30690,30985,31440,31805,32525
"(A) Architecture, building & planning",26955,27405,28080,29670,30875
(J) Combined,31325,26845,24225,21495,18635
(5) Agriculture & related subjects,12420,12780,12260,12310,12805
(4) Veterinary science,3675,3870,4085,4350,4595

In [144]:
pivotDfUnderGradEngland.sort_values(by='2018/19', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,182465,188225,195400,201405,209955
(2) Subjects allied to medicine,176540,178925,178005,173820,172525
(3) Biological sciences,141230,146690,149040,152400,157250
(B) Social studies,131235,135900,140780,146455,152810
(H) Creative arts & design,125835,128125,131100,132415,133960
(9) Engineering & technology,94415,97460,99165,99640,99530
(8) Computer science,59545,62420,65635,69180,72730
(F) Languages,77465,75520,72730,68520,64725
(C) Law,58075,58685,58810,60525,62860
(6) Physical sciences,59275,59955,59820,59790,58050
(I) Education,64440,61885,59010,56045,53305
(G) Historical & philosophical studies,56235,55535,54285,52820,51415
(1) Medicine & dentistry,36025,35705,35770,36510,37940
(E) Mass communications & documentation,33580,34390,34870,34715,34035
(7) Mathematical sciences,30690,30985,31440,31805,32525
"(A) Architecture, building & planning",26955,27405,28080,29670,30875
(J) Combined,31325,26845,24225,21495,18635
(5) Agriculture & related subjects,12420,12780,12260,12310,12805
(4) Veterinary science,3675,3870,4085,4350,4595

In [194]:
pivotDfUnderGradEngland['%Change 14/15 to 15/16'] = ((pivotDfUnderGradEngland['2015/16'] - pivotDfUnderGradEngland['2014/15'])/pivotDfUnderGradEngland['2014/15']) * 100
pivotDfUnderGradEngland['%Change 15/16 to 16/17'] = ((pivotDfUnderGradEngland['2016/17'] - pivotDfUnderGradEngland['2015/16'])/pivotDfUnderGradEngland['2015/16']) * 100
pivotDfUnderGradEngland['%Change 16/17 to 17/18'] = ((pivotDfUnderGradEngland['2017/18'] - pivotDfUnderGradEngland['2016/17'])/pivotDfUnderGradEngland['2016/17']) * 100
pivotDfUnderGradEngland['%Change 17/18 to 18/19'] = ((pivotDfUnderGradEngland['2018/19'] - pivotDfUnderGradEngland['2017/18'])/pivotDfUnderGradEngland['2017/18']) * 100
pivotDfUnderGradEngland['%Change 14/15 to 18/19'] = ((pivotDfUnderGradEngland['2018/19'] - pivotDfUnderGradEngland['2014/15'])/pivotDfUnderGradEngland['2014/15']) * 100
pivotDfUnderGradEngland['Avg. %Change 14/15 to 18/19'] = (pivotDfUnderGradEngland['%Change 14/15 to 15/16'] + pivotDfUnderGradEngland['%Change 15/16 to 16/17'] + pivotDfUnderGradEngland['%Change 16/17 to 17/18'] + pivotDfUnderGradEngland['%Change 17/18 to 18/19']) / 4

In [220]:
pivotDfUnderGradEngland['Median of %Change 14/15 to 18/19'] = pivotDfUnderGradEngland[['%Change 14/15 to 15/16', '%Change 15/16 to 16/17', '%Change 16/17 to 17/18', '%Change 17/18 to 18/19']].median(1)

In [221]:
pivotDfUnderGradEngland

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19,%Change 14/15 to 15/16,%Change 15/16 to 16/17,%Change 16/17 to 17/18,%Change 17/18 to 18/19,%Change 14/15 to 18/19,Avg. %Change 14/15 to 18/19,Median of %Change 14/15 to 18/19
Subject Area,,,,,,,,,,,,
(1) Medicine & dentistry,36025,35705,35770,36510,37940,-0.888272,0.182047,2.068773,3.916735,5.315753,1.319821,1.125410
(2) Subjects allied to medicine,176540,178925,178005,173820,172525,1.350969,-0.514182,-2.351058,-0.745024,-2.274272,-0.564824,-0.629603
(3) Biological sciences,141230,146690,149040,152400,157250,3.866034,1.602018,2.254428,3.182415,11.343199,2.726224,2.718422
(4) Veterinary science,3675,3870,4085,4350,4595,5.306122,5.555556,6.487148,5.632184,25.034014,5.745253,5.593870
(5) Agriculture & related subjects,12420,12780,12260,12310,12805,2.898551,-4.068858,0.407830,4.021121,3.099839,0.814661,1.653191
(6) Physical sciences,59275,59955,59820,59790,58050,1.147195,-0.225169,-0.050150,-2.910186,-2.066639,-0.509577,-0.137660
(7) Mathematical sciences,30690,30985,31440,31805,32525,0.961225,1.468452,1.160941,2.263795,5.979146,1.463604,1.314697
(8) Computer science,59545,62420,65635,69180,72730,4.828281,5.150593,5.401082,5.131541,22.142917,5.127874,5.141067
(9) Engineering & technology,94415,97460,99165,99640,99530,3.225123,1.749436,0.479000,-0.110397,5.417571,1.335790,1.114218
"(A) Architecture, building & planning",26955,27405,28080,29670,30875,1.669449,2.463054,5.662393,4.061341,14.542756,3.464059,3.262198
(B) Social studies,131235,135900,140780,146455,152810,3.554692,3.590876,4.031112,4.339217,16.439974,3.878974,3.810994
(C) Law,58075,58685,58810,60525,62860,1.050366,0.213002,2.916171,3.857910,8.239346,2.009362,1.983268
(D) Business & administrative studies,182465,188225,195400,201405,209955,3.156770,3.811927,3.073183,4.245178,15.065903,3.571764,3.484349
(E) Mass communications & documentation,33580,34390,34870,34715,34035,2.412150,1.395755,-0.444508,-1.958807,1.354973,0.351147,0.475623
(F) Languages,77465,75520,72730,68520,64725,-2.510811,-3.694386,-5.788533,-5.538529,-16.446137,-4.383065,-4.616457
(G) Historical & philosophical studies,56235,55535,54285,52820,51415,-1.244776,-2.250833,-2.698720,-2.659977,-8.571175,-2.213577,-2.455405
(H) Creative arts & design,125835,128125,131100,132415,133960,1.819843,2.321951,1.003051,1.166786,6.456868,1.577908,1.493315
(I) Education,64440,61885,59010,56045,53305,-3.964929,-4.645714,-5.024572,-4.888929,-17.279640,-4.631036,-4.767321
(J) Combined,31325,26845,24225,21495,18635,-14.301676,-9.759732,-11.269350,-13.305420,-40.510774,-12.159044,-12.287385

##### Top 5 subjects with highest number of students are Business, Subject allied to medicine, Biological Sciences, Social Studies, and Creative Arts & Design
##### Top 5 subjects with highest increase in number of students (4-year-period / percentage) are Veterinary Science, Computer Science, Social Studies, Business, and Architecture
##### Top 5 subjects with highest decrease in number of students (4-year-period / percentage) are Combined, Education, Languages, Historical & Philosophical, Subjects allied to medicine
##### Top 5 subjects with highest average increase rate in number of students per year are Veterinary Science, Computer Science, Social Studies, Business, and Architecture
##### Top 5 subjects with highest average decrease rate "or" lowest average increase rate in number of students per year are Combined, Education, Languages, Historical & Philosophical, Subjects allied to medicine
##### Top 5 subjects with highest median increase rate in number of students per year are Veterinary Science, Computer Science, Social Studies, Business, and Architecture
##### Top 5 subjects with highest median decrease rate "or" lowest median increase rate in number of students per year are Combined, Education, Languages, Historical & Philosophical, Subjects allied to medicine

### Postgraduate in Wales

In [147]:
dfPostGradWales = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'Wales') &
   (df['Sex'] == 'Total') &
   ((df['Level of study'] == 'All postgraduate')) &
    (~df['Subject Area'].str.startswith('Total'))]

In [149]:
pivotDfPostGradWales = dfPostGradWales.pivot_table('Number', ['Subject Area'], 'Academic Year')

In [150]:
pivotDfPostGradWales.sort_values(by='2014/15', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,7780,5935,4995,4860,4995
(I) Education,4040,3500,2955,2570,2330
(2) Subjects allied to medicine,3025,3225,3300,3475,4075
(3) Biological sciences,2010,2010,2435,3125,3320
(1) Medicine & dentistry,1630,1350,1105,975,935
(9) Engineering & technology,1480,1435,1395,1330,1370
(B) Social studies,1305,1550,1690,1790,2020
(C) Law,1000,950,940,940,1110
(H) Creative arts & design,970,895,920,1040,1135
(F) Languages,790,760,785,845,825
(E) Mass communications & documentation,775,675,750,790,860
(6) Physical sciences,740,770,845,980,1020
(8) Computer science,725,565,550,675,855
(G) Historical & philosophical studies,680,545,700,755,755
"(A) Architecture, building & planning",505,510,490,530,595
(5) Agriculture & related subjects,305,285,320,315,250
(J) Combined,200,95,15,15,45
(7) Mathematical sciences,150,160,165,185,255

In [151]:
pivotDfPostGradWales.sort_values(by='2015/16', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,7780,5935,4995,4860,4995
(I) Education,4040,3500,2955,2570,2330
(2) Subjects allied to medicine,3025,3225,3300,3475,4075
(3) Biological sciences,2010,2010,2435,3125,3320
(B) Social studies,1305,1550,1690,1790,2020
(9) Engineering & technology,1480,1435,1395,1330,1370
(1) Medicine & dentistry,1630,1350,1105,975,935
(C) Law,1000,950,940,940,1110
(H) Creative arts & design,970,895,920,1040,1135
(6) Physical sciences,740,770,845,980,1020
(F) Languages,790,760,785,845,825
(E) Mass communications & documentation,775,675,750,790,860
(8) Computer science,725,565,550,675,855
(G) Historical & philosophical studies,680,545,700,755,755
"(A) Architecture, building & planning",505,510,490,530,595
(5) Agriculture & related subjects,305,285,320,315,250
(7) Mathematical sciences,150,160,165,185,255
(J) Combined,200,95,15,15,45

In [152]:
pivotDfPostGradWales.sort_values(by='2016/17', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,7780,5935,4995,4860,4995
(2) Subjects allied to medicine,3025,3225,3300,3475,4075
(I) Education,4040,3500,2955,2570,2330
(3) Biological sciences,2010,2010,2435,3125,3320
(B) Social studies,1305,1550,1690,1790,2020
(9) Engineering & technology,1480,1435,1395,1330,1370
(1) Medicine & dentistry,1630,1350,1105,975,935
(C) Law,1000,950,940,940,1110
(H) Creative arts & design,970,895,920,1040,1135
(6) Physical sciences,740,770,845,980,1020
(F) Languages,790,760,785,845,825
(E) Mass communications & documentation,775,675,750,790,860
(G) Historical & philosophical studies,680,545,700,755,755
(8) Computer science,725,565,550,675,855
"(A) Architecture, building & planning",505,510,490,530,595
(5) Agriculture & related subjects,305,285,320,315,250
(7) Mathematical sciences,150,160,165,185,255
(J) Combined,200,95,15,15,45

In [153]:
pivotDfPostGradWales.sort_values(by='2017/18', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,7780,5935,4995,4860,4995
(2) Subjects allied to medicine,3025,3225,3300,3475,4075
(3) Biological sciences,2010,2010,2435,3125,3320
(I) Education,4040,3500,2955,2570,2330
(B) Social studies,1305,1550,1690,1790,2020
(9) Engineering & technology,1480,1435,1395,1330,1370
(H) Creative arts & design,970,895,920,1040,1135
(6) Physical sciences,740,770,845,980,1020
(1) Medicine & dentistry,1630,1350,1105,975,935
(C) Law,1000,950,940,940,1110
(F) Languages,790,760,785,845,825
(E) Mass communications & documentation,775,675,750,790,860
(G) Historical & philosophical studies,680,545,700,755,755
(8) Computer science,725,565,550,675,855
"(A) Architecture, building & planning",505,510,490,530,595
(5) Agriculture & related subjects,305,285,320,315,250
(7) Mathematical sciences,150,160,165,185,255
(J) Combined,200,95,15,15,45

In [154]:
pivotDfPostGradWales.sort_values(by='2018/19', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,7780,5935,4995,4860,4995
(2) Subjects allied to medicine,3025,3225,3300,3475,4075
(3) Biological sciences,2010,2010,2435,3125,3320
(I) Education,4040,3500,2955,2570,2330
(B) Social studies,1305,1550,1690,1790,2020
(9) Engineering & technology,1480,1435,1395,1330,1370
(H) Creative arts & design,970,895,920,1040,1135
(C) Law,1000,950,940,940,1110
(6) Physical sciences,740,770,845,980,1020
(1) Medicine & dentistry,1630,1350,1105,975,935
(E) Mass communications & documentation,775,675,750,790,860
(8) Computer science,725,565,550,675,855
(F) Languages,790,760,785,845,825
(G) Historical & philosophical studies,680,545,700,755,755
"(A) Architecture, building & planning",505,510,490,530,595
(7) Mathematical sciences,150,160,165,185,255
(5) Agriculture & related subjects,305,285,320,315,250
(J) Combined,200,95,15,15,45

In [198]:
pivotDfPostGradWales['%Change 14/15 to 15/16'] = ((pivotDfPostGradWales['2015/16'] - pivotDfPostGradWales['2014/15'])/pivotDfPostGradWales['2014/15']) * 100
pivotDfPostGradWales['%Change 15/16 to 16/17'] = ((pivotDfPostGradWales['2016/17'] - pivotDfPostGradWales['2015/16'])/pivotDfPostGradWales['2015/16']) * 100
pivotDfPostGradWales['%Change 16/17 to 17/18'] = ((pivotDfPostGradWales['2017/18'] - pivotDfPostGradWales['2016/17'])/pivotDfPostGradWales['2016/17']) * 100
pivotDfPostGradWales['%Change 17/18 to 18/19'] = ((pivotDfPostGradWales['2018/19'] - pivotDfPostGradWales['2017/18'])/pivotDfPostGradWales['2017/18']) * 100
pivotDfPostGradWales['%Change 14/15 to 18/19'] = ((pivotDfPostGradWales['2018/19'] - pivotDfPostGradWales['2014/15'])/pivotDfPostGradWales['2014/15']) * 100
pivotDfPostGradWales['Avg. %Change 14/15 to 18/19'] = (pivotDfPostGradWales['%Change 14/15 to 15/16'] + pivotDfPostGradWales['%Change 15/16 to 16/17'] + pivotDfPostGradWales['%Change 16/17 to 17/18'] + pivotDfPostGradWales['%Change 17/18 to 18/19']) / 4

In [222]:
pivotDfPostGradWales['Median of %Change 14/15 to 18/19'] = pivotDfPostGradWales[['%Change 14/15 to 15/16', '%Change 15/16 to 16/17', '%Change 16/17 to 17/18', '%Change 17/18 to 18/19']].median(1)

In [223]:
pivotDfPostGradWales

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19,%Change 14/15 to 15/16,%Change 15/16 to 16/17,%Change 16/17 to 17/18,%Change 17/18 to 18/19,%Change 14/15 to 18/19,Avg. %Change 14/15 to 18/19,Median of %Change 14/15 to 18/19
Subject Area,,,,,,,,,,,,
(1) Medicine & dentistry,1630,1350,1105,975,935,-17.177914,-18.148148,-11.764706,-4.102564,-42.638037,-12.798333,-14.471310
(2) Subjects allied to medicine,3025,3225,3300,3475,4075,6.611570,2.325581,5.303030,17.266187,34.710744,7.876592,5.957300
(3) Biological sciences,2010,2010,2435,3125,3320,0.000000,21.144279,28.336756,6.240000,65.174129,13.930259,13.692139
(5) Agriculture & related subjects,305,285,320,315,250,-6.557377,12.280702,-1.562500,-20.634921,-18.032787,-4.118524,-4.059939
(6) Physical sciences,740,770,845,980,1020,4.054054,9.740260,15.976331,4.081633,37.837838,8.463069,6.910946
(7) Mathematical sciences,150,160,165,185,255,6.666667,3.125000,12.121212,37.837838,70.000000,14.937679,9.393939
(8) Computer science,725,565,550,675,855,-22.068966,-2.654867,22.727273,26.666667,17.931034,6.167527,10.036203
(9) Engineering & technology,1480,1435,1395,1330,1370,-3.040541,-2.787456,-4.659498,3.007519,-7.432432,-1.869994,-2.913998
"(A) Architecture, building & planning",505,510,490,530,595,0.990099,-3.921569,8.163265,12.264151,17.821782,4.373987,4.576682
(B) Social studies,1305,1550,1690,1790,2020,18.773946,9.032258,5.917160,12.849162,54.789272,11.643132,10.940710
(C) Law,1000,950,940,940,1110,-5.000000,-1.052632,0.000000,18.085106,11.000000,3.008119,-0.526316
(D) Business & administrative studies,7780,5935,4995,4860,4995,-23.714653,-15.838248,-2.702703,2.777778,-35.796915,-9.869456,-9.270475
(E) Mass communications & documentation,775,675,750,790,860,-12.903226,11.111111,5.333333,8.860759,10.967742,3.100495,7.097046
(F) Languages,790,760,785,845,825,-3.797468,3.289474,7.643312,-2.366864,4.430380,1.192113,0.461305
(G) Historical & philosophical studies,680,545,700,755,755,-19.852941,28.440367,7.857143,0.000000,11.029412,4.111142,3.928571
(H) Creative arts & design,970,895,920,1040,1135,-7.731959,2.793296,13.043478,9.134615,17.010309,4.309858,5.963956
(I) Education,4040,3500,2955,2570,2330,-13.366337,-15.571429,-13.028765,-9.338521,-42.326733,-12.826263,-13.197551
(J) Combined,200,95,15,15,45,-52.500000,-84.210526,0.000000,200.000000,-77.500000,15.822368,-26.250000

##### Top 5 subjects with highest number of students  are Business, Subject allied to medicine, Biological Sciences, Social Studies, and Education. However, Medicine & Dentistry is used to be rank 5 in 2014/15 before falling to 2018/19
##### Top 5 subjects with highest increase in number of students (4-year-period / percentage) are Mathematical sciences, Biological sciences, Social Studies, Physical sciences, and Subjects allied to medicine
##### Top 5 subjects with highest decrease "or" lowest increase in number of students (4-year-period / percentage) are Combined, Medicine & Dentistry, Education, Business, and Agriculture
##### Top 5 subjects with highest average increase rate in number of students per year are Combined, Mathematical sciences, Biological sciences, Social Studies, and Physical Studies
##### Top 5 subjects with highest average decrease rate "or" lowest average increase rate in number of students per year are Education, Medicine & Dentistry, Business, Agriculture, and Engineering
##### Top 5 subjects with highest median increase rate in number of students per year are Biological sciences, Social Studies, Computer Science, Math, and Mass Communication & Documentary
##### Top 5 subjects with highest median decrease rate "or" lowest median increase rate in number of students per year are Combined, Medicine & Dentistry, Education, Business, and Agriculture

# Important: we will see from the data displayed above that, using different measures may result in different rankings (significantly)!

### Undergraduate in Wales

In [157]:
dfUnderGradWales = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'Wales') &
   (df['Sex'] == 'Total') &
   ((df['Level of study'] == 'All undergraduate')) &
    (~df['Subject Area'].str.startswith('Total'))]

In [158]:
pivotDfUnderGradWales = dfUnderGradWales.pivot_table('Number', ['Subject Area'], 'Academic Year')

In [159]:
pivotDfUnderGradWales.sort_values(by='2014/15', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(3) Biological sciences,13980,13455,13850,13935,14225
(D) Business & administrative studies,12080,11175,11590,10420,11020
(2) Subjects allied to medicine,9575,10945,11180,11775,11670
(9) Engineering & technology,8915,8355,8620,8535,8120
(B) Social studies,8390,9000,9605,9780,10310
(I) Education,8020,7935,7115,5930,5825
(H) Creative arts & design,7625,7570,7470,7540,7590
(F) Languages,6800,6740,6620,6715,6405
(J) Combined,5350,3835,4005,5360,5210
(6) Physical sciences,4940,5040,5040,4810,5170
(8) Computer science,4630,4600,4845,4910,5280
(G) Historical & philosophical studies,3815,3825,3800,3515,3305
(C) Law,3015,3105,3200,3270,3305
(1) Medicine & dentistry,2215,2220,2260,2205,2270
(E) Mass communications & documentation,1585,1620,1720,1660,1680
(7) Mathematical sciences,1460,1445,1465,1410,1395
"(A) Architecture, building & planning",1405,1540,1620,1605,1620
(5) Agriculture & related subjects,1055,1065,1020,1000,1040

In [160]:
pivotDfUnderGradWales.sort_values(by='2015/16', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(3) Biological sciences,13980,13455,13850,13935,14225
(D) Business & administrative studies,12080,11175,11590,10420,11020
(2) Subjects allied to medicine,9575,10945,11180,11775,11670
(B) Social studies,8390,9000,9605,9780,10310
(9) Engineering & technology,8915,8355,8620,8535,8120
(I) Education,8020,7935,7115,5930,5825
(H) Creative arts & design,7625,7570,7470,7540,7590
(F) Languages,6800,6740,6620,6715,6405
(6) Physical sciences,4940,5040,5040,4810,5170
(8) Computer science,4630,4600,4845,4910,5280
(J) Combined,5350,3835,4005,5360,5210
(G) Historical & philosophical studies,3815,3825,3800,3515,3305
(C) Law,3015,3105,3200,3270,3305
(1) Medicine & dentistry,2215,2220,2260,2205,2270
(E) Mass communications & documentation,1585,1620,1720,1660,1680
"(A) Architecture, building & planning",1405,1540,1620,1605,1620
(7) Mathematical sciences,1460,1445,1465,1410,1395
(5) Agriculture & related subjects,1055,1065,1020,1000,1040

In [161]:
pivotDfUnderGradWales.sort_values(by='2016/17', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(3) Biological sciences,13980,13455,13850,13935,14225
(D) Business & administrative studies,12080,11175,11590,10420,11020
(2) Subjects allied to medicine,9575,10945,11180,11775,11670
(B) Social studies,8390,9000,9605,9780,10310
(9) Engineering & technology,8915,8355,8620,8535,8120
(H) Creative arts & design,7625,7570,7470,7540,7590
(I) Education,8020,7935,7115,5930,5825
(F) Languages,6800,6740,6620,6715,6405
(6) Physical sciences,4940,5040,5040,4810,5170
(8) Computer science,4630,4600,4845,4910,5280
(J) Combined,5350,3835,4005,5360,5210
(G) Historical & philosophical studies,3815,3825,3800,3515,3305
(C) Law,3015,3105,3200,3270,3305
(1) Medicine & dentistry,2215,2220,2260,2205,2270
(E) Mass communications & documentation,1585,1620,1720,1660,1680
"(A) Architecture, building & planning",1405,1540,1620,1605,1620
(7) Mathematical sciences,1460,1445,1465,1410,1395
(5) Agriculture & related subjects,1055,1065,1020,1000,1040

In [162]:
pivotDfUnderGradWales.sort_values(by='2017/18', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(3) Biological sciences,13980,13455,13850,13935,14225
(2) Subjects allied to medicine,9575,10945,11180,11775,11670
(D) Business & administrative studies,12080,11175,11590,10420,11020
(B) Social studies,8390,9000,9605,9780,10310
(9) Engineering & technology,8915,8355,8620,8535,8120
(H) Creative arts & design,7625,7570,7470,7540,7590
(F) Languages,6800,6740,6620,6715,6405
(I) Education,8020,7935,7115,5930,5825
(J) Combined,5350,3835,4005,5360,5210
(8) Computer science,4630,4600,4845,4910,5280
(6) Physical sciences,4940,5040,5040,4810,5170
(G) Historical & philosophical studies,3815,3825,3800,3515,3305
(C) Law,3015,3105,3200,3270,3305
(1) Medicine & dentistry,2215,2220,2260,2205,2270
(E) Mass communications & documentation,1585,1620,1720,1660,1680
"(A) Architecture, building & planning",1405,1540,1620,1605,1620
(7) Mathematical sciences,1460,1445,1465,1410,1395
(5) Agriculture & related subjects,1055,1065,1020,1000,1040

In [163]:
pivotDfUnderGradWales.sort_values(by='2018/19', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(3) Biological sciences,13980,13455,13850,13935,14225
(2) Subjects allied to medicine,9575,10945,11180,11775,11670
(D) Business & administrative studies,12080,11175,11590,10420,11020
(B) Social studies,8390,9000,9605,9780,10310
(9) Engineering & technology,8915,8355,8620,8535,8120
(H) Creative arts & design,7625,7570,7470,7540,7590
(F) Languages,6800,6740,6620,6715,6405
(I) Education,8020,7935,7115,5930,5825
(8) Computer science,4630,4600,4845,4910,5280
(J) Combined,5350,3835,4005,5360,5210
(6) Physical sciences,4940,5040,5040,4810,5170
(C) Law,3015,3105,3200,3270,3305
(G) Historical & philosophical studies,3815,3825,3800,3515,3305
(1) Medicine & dentistry,2215,2220,2260,2205,2270
(E) Mass communications & documentation,1585,1620,1720,1660,1680
"(A) Architecture, building & planning",1405,1540,1620,1605,1620
(7) Mathematical sciences,1460,1445,1465,1410,1395
(5) Agriculture & related subjects,1055,1065,1020,1000,1040

In [199]:
pivotDfUnderGradWales['%Change 14/15 to 15/16'] = ((pivotDfUnderGradWales['2015/16'] - pivotDfUnderGradWales['2014/15'])/pivotDfUnderGradWales['2014/15']) * 100
pivotDfUnderGradWales['%Change 15/16 to 16/17'] = ((pivotDfUnderGradWales['2016/17'] - pivotDfUnderGradWales['2015/16'])/pivotDfUnderGradWales['2015/16']) * 100
pivotDfUnderGradWales['%Change 16/17 to 17/18'] = ((pivotDfUnderGradWales['2017/18'] - pivotDfUnderGradWales['2016/17'])/pivotDfUnderGradWales['2016/17']) * 100
pivotDfUnderGradWales['%Change 17/18 to 18/19'] = ((pivotDfUnderGradWales['2018/19'] - pivotDfUnderGradWales['2017/18'])/pivotDfUnderGradWales['2017/18']) * 100
pivotDfUnderGradWales['%Change 14/15 to 18/19'] = ((pivotDfUnderGradWales['2018/19'] - pivotDfUnderGradWales['2014/15'])/pivotDfUnderGradWales['2014/15']) * 100
pivotDfUnderGradWales['Avg. %Change 14/15 to 18/19'] = (pivotDfUnderGradWales['%Change 14/15 to 15/16'] + pivotDfUnderGradWales['%Change 15/16 to 16/17'] + pivotDfUnderGradWales['%Change 16/17 to 17/18'] + pivotDfUnderGradWales['%Change 17/18 to 18/19']) / 4

In [224]:
pivotDfUnderGradWales['Median of %Change 14/15 to 18/19'] = pivotDfUnderGradWales[['%Change 14/15 to 15/16', '%Change 15/16 to 16/17', '%Change 16/17 to 17/18', '%Change 17/18 to 18/19']].median(1)

In [225]:
pivotDfUnderGradWales

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19,%Change 14/15 to 15/16,%Change 15/16 to 16/17,%Change 16/17 to 17/18,%Change 17/18 to 18/19,%Change 14/15 to 18/19,Avg. %Change 14/15 to 18/19,Median of %Change 14/15 to 18/19
Subject Area,,,,,,,,,,,,
(1) Medicine & dentistry,2215,2220,2260,2205,2270,0.225734,1.801802,-2.433628,2.947846,2.483070,0.635438,1.013768
(2) Subjects allied to medicine,9575,10945,11180,11775,11670,14.308094,2.147099,5.322004,-0.891720,21.879896,5.221369,3.734551
(3) Biological sciences,13980,13455,13850,13935,14225,-3.755365,2.935712,0.613718,2.081091,1.752504,0.468789,1.347405
(5) Agriculture & related subjects,1055,1065,1020,1000,1040,0.947867,-4.225352,-1.960784,4.000000,-1.421801,-0.309567,-0.506459
(6) Physical sciences,4940,5040,5040,4810,5170,2.024291,0.000000,-4.563492,7.484407,4.655870,1.236302,1.012146
(7) Mathematical sciences,1460,1445,1465,1410,1395,-1.027397,1.384083,-3.754266,-1.063830,-4.452055,-1.115353,-1.045614
(8) Computer science,4630,4600,4845,4910,5280,-0.647948,5.326087,1.341589,7.535642,14.038877,3.388842,3.333838
(9) Engineering & technology,8915,8355,8620,8535,8120,-6.281548,3.171753,-0.986079,-4.862332,-8.917555,-2.239551,-2.924205
"(A) Architecture, building & planning",1405,1540,1620,1605,1620,9.608541,5.194805,-0.925926,0.934579,15.302491,3.703000,3.064692
(B) Social studies,8390,9000,9605,9780,10310,7.270560,6.722222,1.821968,5.419223,22.884386,5.308493,6.070723
(C) Law,3015,3105,3200,3270,3305,2.985075,3.059581,2.187500,1.070336,9.618574,2.325623,2.586287
(D) Business & administrative studies,12080,11175,11590,10420,11020,-7.491722,3.713647,-10.094909,5.758157,-8.774834,-2.028707,-1.889038
(E) Mass communications & documentation,1585,1620,1720,1660,1680,2.208202,6.172840,-3.488372,1.204819,5.993691,1.524372,1.706511
(F) Languages,6800,6740,6620,6715,6405,-0.882353,-1.780415,1.435045,-4.616530,-5.808824,-1.461063,-1.331384
(G) Historical & philosophical studies,3815,3825,3800,3515,3305,0.262123,-0.653595,-7.500000,-5.974395,-13.368283,-3.466467,-3.313995
(H) Creative arts & design,7625,7570,7470,7540,7590,-0.721311,-1.321004,0.937082,0.663130,-0.459016,-0.110526,-0.029091
(I) Education,8020,7935,7115,5930,5825,-1.059850,-10.333963,-16.654954,-1.770658,-27.369077,-7.454856,-6.052311
(J) Combined,5350,3835,4005,5360,5210,-28.317757,4.432855,33.832709,-2.798507,-2.616822,1.787325,0.817174

##### Top 5 subjects with highest number of students are Biological Sciences, Subject allied to medicine, Business, Social Studies, and Engineering.
##### Top 5 subjects with highest increase in number of students (4-year-period / percentage) are Social Studies, Subjects allied to medicine, Architecture, Computer Science, and Law
##### Top 5 subjects with highest decrease "or" lowest increase in number of students (4-year-period / percentage) are Education, Historical & philosophical, Engineering, Business, and Languages
##### Top 5 subjects with highest average increase rate in number of students per year are Social Studies, Subjects allied to medicine, Architecture, Computer Science, and Law
##### Top 5 subjects with highest average decrease rate "or" lowest average increase rate in number of students per year are Education, Historical & philosophical, Engineering, Business, and Languages
##### Top 5 subjects with highest median increase rate in number of students per year are Social Studies, Subjects allied to medicine, Computer Science, Architecture, and Law
##### Top 5 subjects with highest median decrease rate "or" lowest median increase rate in number of students per year are Education, Historical & philosophical, Engineering, Business, and Languages

### Postgraduate in Northern Ireland

In [166]:
dfPostGradNI = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'Northern Ireland') &
   (df['Sex'] == 'Total') &
   ((df['Level of study'] == 'All postgraduate')) &
    (~df['Subject Area'].str.startswith('Total'))]

In [167]:
pivotDfPostGradNI = dfPostGradNI.pivot_table('Number', ['Subject Area'], 'Academic Year')

In [168]:
pivotDfPostGradNI.sort_values(by='2014/15', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(I) Education,1860,1450,1390,1500,1515
(2) Subjects allied to medicine,1845,1890,2100,2100,2450
(D) Business & administrative studies,1485,1375,1540,1740,2005
(B) Social studies,1120,1110,1080,1145,1220
(3) Biological sciences,745,685,625,755,810
(6) Physical sciences,610,630,600,605,600
(C) Law,610,575,570,580,690
(9) Engineering & technology,525,515,545,600,650
(1) Medicine & dentistry,485,505,490,565,530
"(A) Architecture, building & planning",370,375,445,450,395
(8) Computer science,365,335,280,335,425
(H) Creative arts & design,350,330,330,300,325
(G) Historical & philosophical studies,195,190,180,210,195
(F) Languages,185,185,195,260,305
(E) Mass communications & documentation,180,175,160,165,185
(J) Combined,175,185,250,140,150
(5) Agriculture & related subjects,165,140,135,150,150
(7) Mathematical sciences,15,20,20,50,55

In [169]:
pivotDfPostGradNI.sort_values(by='2015/16', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(2) Subjects allied to medicine,1845,1890,2100,2100,2450
(I) Education,1860,1450,1390,1500,1515
(D) Business & administrative studies,1485,1375,1540,1740,2005
(B) Social studies,1120,1110,1080,1145,1220
(3) Biological sciences,745,685,625,755,810
(6) Physical sciences,610,630,600,605,600
(C) Law,610,575,570,580,690
(9) Engineering & technology,525,515,545,600,650
(1) Medicine & dentistry,485,505,490,565,530
"(A) Architecture, building & planning",370,375,445,450,395
(8) Computer science,365,335,280,335,425
(H) Creative arts & design,350,330,330,300,325
(G) Historical & philosophical studies,195,190,180,210,195
(F) Languages,185,185,195,260,305
(J) Combined,175,185,250,140,150
(E) Mass communications & documentation,180,175,160,165,185
(5) Agriculture & related subjects,165,140,135,150,150
(7) Mathematical sciences,15,20,20,50,55

In [170]:
pivotDfPostGradNI.sort_values(by='2016/17', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(2) Subjects allied to medicine,1845,1890,2100,2100,2450
(D) Business & administrative studies,1485,1375,1540,1740,2005
(I) Education,1860,1450,1390,1500,1515
(B) Social studies,1120,1110,1080,1145,1220
(3) Biological sciences,745,685,625,755,810
(6) Physical sciences,610,630,600,605,600
(C) Law,610,575,570,580,690
(9) Engineering & technology,525,515,545,600,650
(1) Medicine & dentistry,485,505,490,565,530
"(A) Architecture, building & planning",370,375,445,450,395
(H) Creative arts & design,350,330,330,300,325
(8) Computer science,365,335,280,335,425
(J) Combined,175,185,250,140,150
(F) Languages,185,185,195,260,305
(G) Historical & philosophical studies,195,190,180,210,195
(E) Mass communications & documentation,180,175,160,165,185
(5) Agriculture & related subjects,165,140,135,150,150
(7) Mathematical sciences,15,20,20,50,55

In [171]:
pivotDfPostGradNI.sort_values(by='2017/18', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(2) Subjects allied to medicine,1845,1890,2100,2100,2450
(D) Business & administrative studies,1485,1375,1540,1740,2005
(I) Education,1860,1450,1390,1500,1515
(B) Social studies,1120,1110,1080,1145,1220
(3) Biological sciences,745,685,625,755,810
(6) Physical sciences,610,630,600,605,600
(9) Engineering & technology,525,515,545,600,650
(C) Law,610,575,570,580,690
(1) Medicine & dentistry,485,505,490,565,530
"(A) Architecture, building & planning",370,375,445,450,395
(8) Computer science,365,335,280,335,425
(H) Creative arts & design,350,330,330,300,325
(F) Languages,185,185,195,260,305
(G) Historical & philosophical studies,195,190,180,210,195
(E) Mass communications & documentation,180,175,160,165,185
(5) Agriculture & related subjects,165,140,135,150,150
(J) Combined,175,185,250,140,150
(7) Mathematical sciences,15,20,20,50,55

In [172]:
pivotDfPostGradNI.sort_values(by='2018/19', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(2) Subjects allied to medicine,1845,1890,2100,2100,2450
(D) Business & administrative studies,1485,1375,1540,1740,2005
(I) Education,1860,1450,1390,1500,1515
(B) Social studies,1120,1110,1080,1145,1220
(3) Biological sciences,745,685,625,755,810
(C) Law,610,575,570,580,690
(9) Engineering & technology,525,515,545,600,650
(6) Physical sciences,610,630,600,605,600
(1) Medicine & dentistry,485,505,490,565,530
(8) Computer science,365,335,280,335,425
"(A) Architecture, building & planning",370,375,445,450,395
(H) Creative arts & design,350,330,330,300,325
(F) Languages,185,185,195,260,305
(G) Historical & philosophical studies,195,190,180,210,195
(E) Mass communications & documentation,180,175,160,165,185
(5) Agriculture & related subjects,165,140,135,150,150
(J) Combined,175,185,250,140,150
(7) Mathematical sciences,15,20,20,50,55

In [201]:
pivotDfPostGradNI['%Change 14/15 to 15/16'] = ((pivotDfPostGradNI['2015/16'] - pivotDfPostGradNI['2014/15'])/pivotDfPostGradNI['2014/15']) * 100
pivotDfPostGradNI['%Change 15/16 to 16/17'] = ((pivotDfPostGradNI['2016/17'] - pivotDfPostGradNI['2015/16'])/pivotDfPostGradNI['2015/16']) * 100
pivotDfPostGradNI['%Change 16/17 to 17/18'] = ((pivotDfPostGradNI['2017/18'] - pivotDfPostGradNI['2016/17'])/pivotDfPostGradNI['2016/17']) * 100
pivotDfPostGradNI['%Change 17/18 to 18/19'] = ((pivotDfPostGradNI['2018/19'] - pivotDfPostGradNI['2017/18'])/pivotDfPostGradNI['2017/18']) * 100
pivotDfPostGradNI['%Change 14/15 to 18/19'] = ((pivotDfPostGradNI['2018/19'] - pivotDfPostGradNI['2014/15'])/pivotDfPostGradNI['2014/15']) * 100
pivotDfPostGradNI['Avg. %Change 14/15 to 18/19'] = (pivotDfPostGradNI['%Change 14/15 to 15/16'] + pivotDfPostGradNI['%Change 15/16 to 16/17'] + pivotDfPostGradNI['%Change 16/17 to 17/18'] + pivotDfPostGradNI['%Change 17/18 to 18/19']) / 4

In [202]:
pivotDfPostGradNI

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19,%Change 14/15 to 15/16,%Change 15/16 to 16/17,%Change 16/17 to 17/18,%Change 17/18 to 18/19,%Change 14/15 to 18/19,Avg. %Change 14/15 to 18/19
Subject Area,,,,,,,,,,,
(1) Medicine & dentistry,485,505,490,565,530,4.123711,-2.970297,15.306122,-6.194690,9.278351,2.566212
(2) Subjects allied to medicine,1845,1890,2100,2100,2450,2.439024,11.111111,0.000000,16.666667,32.791328,7.554201
(3) Biological sciences,745,685,625,755,810,-8.053691,-8.759124,20.800000,7.284768,8.724832,2.817988
(5) Agriculture & related subjects,165,140,135,150,150,-15.151515,-3.571429,11.111111,0.000000,-9.090909,-1.902958
(6) Physical sciences,610,630,600,605,600,3.278689,-4.761905,0.833333,-0.826446,-1.639344,-0.369082
(7) Mathematical sciences,15,20,20,50,55,33.333333,0.000000,150.000000,10.000000,266.666667,48.333333
(8) Computer science,365,335,280,335,425,-8.219178,-16.417910,19.642857,26.865672,16.438356,5.467860
(9) Engineering & technology,525,515,545,600,650,-1.904762,5.825243,10.091743,8.333333,23.809524,5.586389
"(A) Architecture, building & planning",370,375,445,450,395,1.351351,18.666667,1.123596,-12.222222,6.756757,2.229848
(B) Social studies,1120,1110,1080,1145,1220,-0.892857,-2.702703,6.018519,6.550218,8.928571,2.243294
(C) Law,610,575,570,580,690,-5.737705,-0.869565,1.754386,18.965517,13.114754,3.528158
(D) Business & administrative studies,1485,1375,1540,1740,2005,-7.407407,12.000000,12.987013,15.229885,35.016835,8.202373
(E) Mass communications & documentation,180,175,160,165,185,-2.777778,-8.571429,3.125000,12.121212,2.777778,0.974251
(F) Languages,185,185,195,260,305,0.000000,5.405405,33.333333,17.307692,64.864865,14.011608
(G) Historical & philosophical studies,195,190,180,210,195,-2.564103,-5.263158,16.666667,-7.142857,0.000000,0.424137
(H) Creative arts & design,350,330,330,300,325,-5.714286,0.000000,-9.090909,8.333333,-7.142857,-1.617965
(I) Education,1860,1450,1390,1500,1515,-22.043011,-4.137931,7.913669,1.000000,-18.548387,-4.316818
(J) Combined,175,185,250,140,150,5.714286,35.135135,-44.000000,7.142857,-14.285714,0.998069

##### Top 5 subjects with highest number of students are Biological Sciences, Subject allied to medicine, Business, Social Studies, and Education.
##### Top 5 subjects with highest increase in number of students (4-year-period / percentage) are Math, Languages, Business, Subjects allied to medicine, and Engineering
##### Top 5 subjects with highest decrease in number of students (4-year-period / percentage) are Education, Combined, Agriculture, Creative Arts & Design, Physical Science
##### Top 5 subjects with highest average increase rate in number of students per year are  Math, Languages, Business, Subjects allied to medicine, and Engineering
##### Top 5 subjects with highest average decrease rate "or" lowest average increase rate in number of students per year are Education, Agriculture, Creative Arts & Design, Physical Science, and Historical & philosophical

### Undergraduate in Northern Ireland

In [175]:
dfUnderGradNI = df[(df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All') &
   (df['Country of HE provider'] == 'Northern Ireland') &
   (df['Sex'] == 'Total') &
   ((df['Level of study'] == 'All undergraduate')) &
    (~df['Subject Area'].str.startswith('Total'))]

In [176]:
pivotDfUnderGradNI = dfUnderGradNI.pivot_table('Number', ['Subject Area'], 'Academic Year')

In [177]:
pivotDfUnderGradNI.sort_values(by='2014/15', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,6785,6320,5980,5760,5745
(2) Subjects allied to medicine,5900,6070,6420,6495,7075
(I) Education,4890,4970,4920,4860,4510
(8) Computer science,3790,3950,3960,4025,4015
(B) Social studies,3710,3675,3545,3510,3515
(9) Engineering & technology,3205,3240,3290,3275,3330
(3) Biological sciences,3100,3115,2940,2860,2935
(H) Creative arts & design,1975,1940,1825,1735,1730
(F) Languages,1710,1700,1600,1440,1285
(J) Combined,1675,1315,895,740,715
(1) Medicine & dentistry,1590,1590,1595,1595,1600
(C) Law,1460,1530,1680,1630,1790
(G) Historical & philosophical studies,1325,1220,1100,1010,950
"(A) Architecture, building & planning",1220,1170,1135,1165,1120
(6) Physical sciences,1130,1130,1110,1110,1110
(E) Mass communications & documentation,660,615,645,735,785
(7) Mathematical sciences,545,550,550,535,530
(5) Agriculture & related subjects,485,465,455,325,360

In [178]:
pivotDfUnderGradNI.sort_values(by='2015/16', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(D) Business & administrative studies,6785,6320,5980,5760,5745
(2) Subjects allied to medicine,5900,6070,6420,6495,7075
(I) Education,4890,4970,4920,4860,4510
(8) Computer science,3790,3950,3960,4025,4015
(B) Social studies,3710,3675,3545,3510,3515
(9) Engineering & technology,3205,3240,3290,3275,3330
(3) Biological sciences,3100,3115,2940,2860,2935
(H) Creative arts & design,1975,1940,1825,1735,1730
(F) Languages,1710,1700,1600,1440,1285
(1) Medicine & dentistry,1590,1590,1595,1595,1600
(C) Law,1460,1530,1680,1630,1790
(J) Combined,1675,1315,895,740,715
(G) Historical & philosophical studies,1325,1220,1100,1010,950
"(A) Architecture, building & planning",1220,1170,1135,1165,1120
(6) Physical sciences,1130,1130,1110,1110,1110
(E) Mass communications & documentation,660,615,645,735,785
(7) Mathematical sciences,545,550,550,535,530
(5) Agriculture & related subjects,485,465,455,325,360

In [179]:
pivotDfUnderGradNI.sort_values(by='2016/17', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(2) Subjects allied to medicine,5900,6070,6420,6495,7075
(D) Business & administrative studies,6785,6320,5980,5760,5745
(I) Education,4890,4970,4920,4860,4510
(8) Computer science,3790,3950,3960,4025,4015
(B) Social studies,3710,3675,3545,3510,3515
(9) Engineering & technology,3205,3240,3290,3275,3330
(3) Biological sciences,3100,3115,2940,2860,2935
(H) Creative arts & design,1975,1940,1825,1735,1730
(C) Law,1460,1530,1680,1630,1790
(F) Languages,1710,1700,1600,1440,1285
(1) Medicine & dentistry,1590,1590,1595,1595,1600
"(A) Architecture, building & planning",1220,1170,1135,1165,1120
(6) Physical sciences,1130,1130,1110,1110,1110
(G) Historical & philosophical studies,1325,1220,1100,1010,950
(J) Combined,1675,1315,895,740,715
(E) Mass communications & documentation,660,615,645,735,785
(7) Mathematical sciences,545,550,550,535,530
(5) Agriculture & related subjects,485,465,455,325,360

In [180]:
pivotDfUnderGradNI.sort_values(by='2017/18', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(2) Subjects allied to medicine,5900,6070,6420,6495,7075
(D) Business & administrative studies,6785,6320,5980,5760,5745
(I) Education,4890,4970,4920,4860,4510
(8) Computer science,3790,3950,3960,4025,4015
(B) Social studies,3710,3675,3545,3510,3515
(9) Engineering & technology,3205,3240,3290,3275,3330
(3) Biological sciences,3100,3115,2940,2860,2935
(H) Creative arts & design,1975,1940,1825,1735,1730
(C) Law,1460,1530,1680,1630,1790
(1) Medicine & dentistry,1590,1590,1595,1595,1600
(F) Languages,1710,1700,1600,1440,1285
"(A) Architecture, building & planning",1220,1170,1135,1165,1120
(6) Physical sciences,1130,1130,1110,1110,1110
(G) Historical & philosophical studies,1325,1220,1100,1010,950
(J) Combined,1675,1315,895,740,715
(E) Mass communications & documentation,660,615,645,735,785
(7) Mathematical sciences,545,550,550,535,530
(5) Agriculture & related subjects,485,465,455,325,360

In [181]:
pivotDfUnderGradNI.sort_values(by='2018/19', ascending=False)

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19
Subject Area,,,,,
(2) Subjects allied to medicine,5900,6070,6420,6495,7075
(D) Business & administrative studies,6785,6320,5980,5760,5745
(I) Education,4890,4970,4920,4860,4510
(8) Computer science,3790,3950,3960,4025,4015
(B) Social studies,3710,3675,3545,3510,3515
(9) Engineering & technology,3205,3240,3290,3275,3330
(3) Biological sciences,3100,3115,2940,2860,2935
(C) Law,1460,1530,1680,1630,1790
(H) Creative arts & design,1975,1940,1825,1735,1730
(1) Medicine & dentistry,1590,1590,1595,1595,1600
(F) Languages,1710,1700,1600,1440,1285
"(A) Architecture, building & planning",1220,1170,1135,1165,1120
(6) Physical sciences,1130,1130,1110,1110,1110
(G) Historical & philosophical studies,1325,1220,1100,1010,950
(E) Mass communications & documentation,660,615,645,735,785
(J) Combined,1675,1315,895,740,715
(7) Mathematical sciences,545,550,550,535,530
(5) Agriculture & related subjects,485,465,455,325,360

In [203]:
pivotDfUnderGradNI['%Change 14/15 to 15/16'] = ((pivotDfUnderGradNI['2015/16'] - pivotDfUnderGradNI['2014/15'])/pivotDfUnderGradNI['2014/15']) * 100
pivotDfUnderGradNI['%Change 15/16 to 16/17'] = ((pivotDfUnderGradNI['2016/17'] - pivotDfUnderGradNI['2015/16'])/pivotDfUnderGradNI['2015/16']) * 100
pivotDfUnderGradNI['%Change 16/17 to 17/18'] = ((pivotDfUnderGradNI['2017/18'] - pivotDfUnderGradNI['2016/17'])/pivotDfUnderGradNI['2016/17']) * 100
pivotDfUnderGradNI['%Change 17/18 to 18/19'] = ((pivotDfUnderGradNI['2018/19'] - pivotDfUnderGradNI['2017/18'])/pivotDfUnderGradNI['2017/18']) * 100
pivotDfUnderGradNI['%Change 14/15 to 18/19'] = ((pivotDfUnderGradNI['2018/19'] - pivotDfUnderGradNI['2014/15'])/pivotDfUnderGradNI['2014/15']) * 100
pivotDfUnderGradNI['Avg. %Change 14/15 to 18/19'] = (pivotDfUnderGradNI['%Change 14/15 to 15/16'] + pivotDfUnderGradNI['%Change 15/16 to 16/17'] + pivotDfUnderGradNI['%Change 16/17 to 17/18'] + pivotDfUnderGradNI['%Change 17/18 to 18/19']) / 4

In [204]:
pivotDfUnderGradNI

Academic Year,2014/15,2015/16,2016/17,2017/18,2018/19,%Change 14/15 to 15/16,%Change 15/16 to 16/17,%Change 16/17 to 17/18,%Change 17/18 to 18/19,%Change 14/15 to 18/19,Avg. %Change 14/15 to 18/19
Subject Area,,,,,,,,,,,
(1) Medicine & dentistry,1590,1590,1595,1595,1600,0.000000,0.314465,0.000000,0.313480,0.628931,0.156986
(2) Subjects allied to medicine,5900,6070,6420,6495,7075,2.881356,5.766063,1.168224,8.929946,19.915254,4.686397
(3) Biological sciences,3100,3115,2940,2860,2935,0.483871,-5.617978,-2.721088,2.622378,-5.322581,-1.308204
(5) Agriculture & related subjects,485,465,455,325,360,-4.123711,-2.150538,-28.571429,10.769231,-25.773196,-6.019112
(6) Physical sciences,1130,1130,1110,1110,1110,0.000000,-1.769912,0.000000,0.000000,-1.769912,-0.442478
(7) Mathematical sciences,545,550,550,535,530,0.917431,0.000000,-2.727273,-0.934579,-2.752294,-0.686105
(8) Computer science,3790,3950,3960,4025,4015,4.221636,0.253165,1.641414,-0.248447,5.936675,1.466942
(9) Engineering & technology,3205,3240,3290,3275,3330,1.092044,1.543210,-0.455927,1.679389,3.900156,0.964679
"(A) Architecture, building & planning",1220,1170,1135,1165,1120,-4.098361,-2.991453,2.643172,-3.862661,-8.196721,-2.077326
(B) Social studies,3710,3675,3545,3510,3515,-0.943396,-3.537415,-0.987306,0.142450,-5.256065,-1.331417
(C) Law,1460,1530,1680,1630,1790,4.794521,9.803922,-2.976190,9.815951,22.602740,5.359551
(D) Business & administrative studies,6785,6320,5980,5760,5745,-6.853353,-5.379747,-3.678930,-0.260417,-15.327929,-4.043112
(E) Mass communications & documentation,660,615,645,735,785,-6.818182,4.878049,13.953488,6.802721,18.939394,4.704019
(F) Languages,1710,1700,1600,1440,1285,-0.584795,-5.882353,-10.000000,-10.763889,-24.853801,-6.807759
(G) Historical & philosophical studies,1325,1220,1100,1010,950,-7.924528,-9.836066,-8.181818,-5.940594,-28.301887,-7.970752
(H) Creative arts & design,1975,1940,1825,1735,1730,-1.772152,-5.927835,-4.931507,-0.288184,-12.405063,-3.229920
(I) Education,4890,4970,4920,4860,4510,1.635992,-1.006036,-1.219512,-7.201646,-7.770961,-1.947801
(J) Combined,1675,1315,895,740,715,-21.492537,-31.939163,-17.318436,-3.378378,-57.313433,-18.532129

#### >>> After 4 years passed, We can see decreasing number of students in 12 from 18 subject areas! <<<

##### Top 5 subjects with highest number of students are Subject allied to medicine, Business, Education, Computer Science, and Social Studies
##### Top 5 subjects with highest increase in number of students (4-year-period / percentage) are Law, Subject allied to medicine, Mass Communication & Documentation, Computer Science, and Engineering
##### Top 5 subjects with highest decrease in number of students (4-year-period / percentage) are Combined, Historical & philosophical, Agriculture, Languages, Business
##### Top 5 subjects with highest average increase rate in number of students per year are Law, Mass Communication & Documentation, Subject allied to medicine, Computer Science, and Engineering
##### Top 5 subjects with highest average decrease rate "or" lowest average increase rate in number of students per year are Combined, Historical & philosophical, Languages, Agriculture, Business