In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset-1.csv')

In [6]:
pd.set_option('display.max_rows', 1500)

In [10]:
dfFiltered = df[(df['Subject Area'] == 'Total') &
   (df['First year marker'] == 'All') &
   (df['Mode of study'] == 'All')]

In [11]:
pivotDfFiltered = dfFiltered.pivot_table('Number', [
    'Country of HE provider', 'Level of study', 'Sex'], 'Academic Year').reset_index()

In [12]:
pivotDfFiltered

Academic Year,Country of HE provider,Level of study,Sex,2014/15,2015/16,2016/17,2017/18,2018/19
0,All,All,Female,1273255,1287760,1314035,1333650,1362365
1,All,All,Male,992350,991185,1002820,1007730,1019045
2,All,All,Other,375,480,1025,1710,2560
3,All,All,Total,2265980,2279430,2317880,2343095,2383970
4,All,All postgraduate,Female,302985,302740,317495,329915,342905
5,All,All postgraduate,Male,235070,228350,233675,235910,241810
6,All,All postgraduate,Other,120,145,420,730,1015
7,All,All postgraduate,Total,538175,531235,551595,566555,585730
8,All,All undergraduate,Female,970275,985025,996535,1003735,1019465
9,All,All undergraduate,Male,757280,762840,769145,771820,777230
10,All,All undergraduate,Other,250,330,605,980,1545
11,All,All undergraduate,Total,1727805,1748195,1766285,1776540,1798240
12,All,First degree,Female,842260,868555,890150,906465,926585
13,All,First degree,Male,681795,695255,707190,714555,725070
14,All,First degree,Other,180,295,485,705,1025
15,All,First degree,Total,1524235,1564105,1597825,1621725,1652675
16,All,Other undergraduate,Female,128010,116470,106390,97270,92880
17,All,Other undergraduate,Male,75485,67585,61955,57270,52160
18,All,Other undergraduate,Other,75,40,115,275,520
19,All,Other undergraduate,Total,203570,184090,168460,154815,145560
20,All,Postgraduate (research),Female,53485,54015,54285,54125,55020
21,All,Postgraduate (research),Male,59390,59085,58150,57285,57530
22,All,Postgraduate (research),Other,35,45,85,155,265
23,All,Postgraduate (research),Total,112910,113145,112520,111565,112815
24,All,Postgraduate (taught),Female,249500,248725,263210,275795,287880
25,All,Postgraduate (taught),Male,175680,169265,175525,178625,184285
26,All,Postgraduate (taught),Other,90,105,335,575,750
27,All,Postgraduate (taught),Total,425270,418090,439075,454990,472915
28,England,All,Female,1036795,1049900,1070825,1085870,1106200
29,England,All,Male,806975,809725,820430,824835,834660
30,England,All,Other,235,320,730,1235,1675
31,England,All,Total,1844000,1859945,1891980,1911940,1942535
32,England,All postgraduate,Female,250025,250475,263410,272555,281815
33,England,All postgraduate,Male,192465,188065,193720,194880,199385
34,England,All postgraduate,Other,85,105,340,625,805
35,England,All postgraduate,Total,442575,438645,457470,468060,482000
36,England,All undergraduate,Female,786770,799425,807415,813315,824385
37,England,All undergraduate,Male,614505,621660,626710,629955,635275
38,England,All undergraduate,Other,150,215,390,610,870
39,England,All undergraduate,Total,1401425,1421300,1434510,1443880,1460530
40,England,First degree,Female,690410,713415,731440,744790,760440
41,England,First degree,Male,560850,573235,583950,591155,601055
42,England,First degree,Other,125,195,355,525,770
43,England,First degree,Total,1251385,1286845,1315745,1336470,1362265
44,England,Other undergraduate,Female,96355,86010,75975,68525,63945
45,England,Other undergraduate,Male,53655,48425,42760,38800,34220
46,England,Other undergraduate,Other,25,20,30,85,100
47,England,Other undergraduate,Total,150040,134455,118770,107410,98265
48,England,Postgraduate (research),Female,44460,44735,44845,44545,45220
49,England,Postgraduate (research),Male,49340,48860,47890,47055,47160
50,England,Postgraduate (research),Other,25,35,65,125,205
51,England,Postgraduate (research),Total,93825,93630,92795,91720,92590
52,England,Postgraduate (taught),Female,205565,205740,218565,228010,236590
53,England,Postgraduate (taught),Male,143130,139205,145830,147825,152225
54,England,Postgraduate (taught),Other,60,70,275,505,595
55,England,Postgraduate (taught),Total,348750,345015,364675,376340,389415
56,Northern Ireland,All,Female,31775,31380,31030,31280,32490
57,Northern Ireland,All,Male,24670,23865,23540,23180,23265
58,Northern Ireland,All,Other,0,0,0,0,0
59,Northern Ireland,All,Total,56445,55245,54570,54460,55755
60,Northern Ireland,All postgraduate,Female,6955,6465,6600,7135,7900
61,Northern Ireland,All postgraduate,Male,4340,4210,4340,4515,4755
62,Northern Ireland,All postgraduate,Other,0,0,0,0,0
63,Northern Ireland,All postgraduate,Total,11295,10675,10935,11650,12655
64,Northern Ireland,All undergraduate,Female,24825,24915,24430,24145,24590
65,Northern Ireland,All undergraduate,Male,20325,19655,19200,18660,18510
66,Northern Ireland,All undergraduate,Other,0,0,0,0,0
67,Northern Ireland,All undergraduate,Total,45150,44570,43630,42810,43100
68,Northern Ireland,First degree,Female,20755,20785,20655,20545,21075
69,Northern Ireland,First degree,Male,17700,17305,17185,16695,16595
70,Northern Ireland,First degree,Other,0,0,0,0,0
71,Northern Ireland,First degree,Total,38450,38095,37840,37235,37670
72,Northern Ireland,Other undergraduate,Female,4070,4125,3775,3605,3515
73,Northern Ireland,Other undergraduate,Male,2630,2350,2020,1970,1915
74,Northern Ireland,Other undergraduate,Other,0,0,0,0,0
75,Northern Ireland,Other undergraduate,Total,6695,6475,5790,5570,5430
76,Northern Ireland,Postgraduate (research),Female,1145,1165,1155,1230,1190
77,Northern Ireland,Postgraduate (research),Male,1110,1125,1145,1135,1100
78,Northern Ireland,Postgraduate (research),Other,0,0,0,0,0
79,Northern Ireland,Postgraduate (research),Total,2255,2290,2300,2365,2295
80,Northern Ireland,Postgraduate (taught),Female,5810,5300,5445,5905,6705
81,Northern Ireland,Postgraduate (taught),Male,3230,3080,3190,3380,3650
82,Northern Ireland,Postgraduate (taught),Other,0,0,0,0,0
83,Northern Ireland,Postgraduate (taught),Total,9040,8385,8635,9285,10360
84,Scotland,All,Female,133690,136550,141205,144810,149255
85,Scotland,All,Male,98775,98905,100515,101940,103495
86,Scotland,All,Other,105,110,210,360,725
87,Scotland,All,Total,232570,235565,241935,247110,253475
88,Scotland,All postgraduate,Female,30990,31880,33705,35655,37425
89,Scotland,All postgraduate,Male,25175,24795,25060,25900,26725
90,Scotland,All postgraduate,Other,30,35,65,80,170
91,Scotland,All postgraduate,Total,56200,56715,58825,61635,64320
92,Scotland,All undergraduate,Female,102700,104665,107500,109155,111830
93,Scotland,All undergraduate,Male,73600,74110,75455,76040,76770
94,Scotland,All undergraduate,Other,75,75,150,280,555
95,Scotland,All undergraduate,Total,176370,178850,183105,185470,189160
96,Scotland,First degree,Female,88300,91365,93890,96585,99160
97,Scotland,First degree,Male,64985,66010,67155,68355,69245
98,Scotland,First degree,Other,40,65,80,115,160
99,Scotland,First degree,Total,153325,157440,161125,165060,168570
100,Scotland,Other undergraduate,Female,14400,13300,13610,12565,12665
101,Scotland,Other undergraduate,Male,8610,8100,8300,7680,7530
102,Scotland,Other undergraduate,Other,35,10,70,165,395
103,Scotland,Other undergraduate,Total,23050,21410,21985,20415,20590
104,Scotland,Postgraduate (research),Female,5850,6080,6125,6220,6365
105,Scotland,Postgraduate (research),Male,6665,6820,6900,6895,7010
106,Scotland,Postgraduate (research),Other,10,10,20,30,45
107,Scotland,Postgraduate (research),Total,12525,12910,13045,13145,13420
108,Scotland,Postgraduate (taught),Female,25145,25800,27580,29435,31060
109,Scotland,Postgraduate (taught),Male,18510,17975,18155,19005,19710
110,Scotland,Postgraduate (taught),Other,20,25,45,50,125
111,Scotland,Postgraduate (taught),Total,43675,43800,45780,48495,50900
112,Wales,All,Female,70995,69935,70975,71695,74425
113,Wales,All,Male,61935,58690,58335,57775,57620
114,Wales,All,Other,35,50,85,115,155
115,Wales,All,Total,132965,128675,129395,129585,132205
116,Wales,All postgraduate,Female,15010,13915,13785,14570,15765
117,Wales,All postgraduate,Male,13090,11280,10560,10610,10950
118,Wales,All postgraduate,Other,5,10,15,25,40
119,Wales,All postgraduate,Total,28105,25200,24365,25205,26755
120,Wales,All undergraduate,Female,55985,56020,57190,57120,58660
121,Wales,All undergraduate,Male,48845,47415,47775,47170,46670
122,Wales,All undergraduate,Other,30,40,65,90,115
123,Wales,All undergraduate,Total,104860,103475,105035,104380,105450
124,Wales,First degree,Female,42800,42990,44165,44545,45905
125,Wales,First degree,Male,38260,38705,38900,38350,38170
126,Wales,First degree,Other,15,30,50,65,95
127,Wales,First degree,Total,81070,81725,83115,82960,84175
128,Wales,Other undergraduate,Female,13185,13030,13025,12575,12755
129,Wales,Other undergraduate,Male,10590,8705,8875,8820,8500
130,Wales,Other undergraduate,Other,15,10,15,25,25
131,Wales,Other undergraduate,Total,23785,21745,21915,21420,21275
132,Wales,Postgraduate (research),Female,2030,2035,2160,2130,2245
133,Wales,Postgraduate (research),Male,2275,2280,2215,2195,2255
134,Wales,Postgraduate (research),Other,0,0,5,5,10
135,Wales,Postgraduate (research),Total,4305,4310,4380,4330,4510
136,Wales,Postgraduate (taught),Female,12980,11885,11625,12440,13520
137,Wales,Postgraduate (taught),Male,10815,9000,8345,8415,8695
138,Wales,Postgraduate (taught),Other,5,10,15,20,30
139,Wales,Postgraduate (taught),Total,23800,20890,19985,20875,22245